body {
	background: url(img/cw12_pinstripe5-61x1.png) top center repeat, url(img/cw12_body_bg-1x60.png) left top repeat-x;
	padding: 0px;
	margin: 0px;
	font-family: Tahoma,arial,sans-serif;
}

#appView {
	width: 1020px;
	margin: 0px auto;
}

#content {
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
	/*
	margin-top: -10px;
	*/
	position:relative;
	z-index: 100;
}

#mainContentArea {
	/*
	margin-top: -10px;
	*/
}

#contentBG{
	background:white;
}


.hideDialog .ui-dialog-titlebar-close,
.hideDialog .ui-dialog-titlebar {
	display: none;
}

.hideDialog.ui-dialog.ui-widget-content {
	background: none;
	border:none;
}

#appPreView {
	background: white;
	border: 2px solid #002675;
}

#globalMessaging {
	position: fixed;
	bottom: 4px;
	right: 4px;
	display: block;
	/*
	border: 2px solid #002675;
	background: white;
	*/
}

#globalMessaging > .appMessage {
	padding-right: 48px;
	margin: 8px;
	z-index: 10001
}

/****************************************************************

UTILITY CLASSES AND UNIVERSAL STYLES

****************************************************************/
a {
    color: #990000;
}

.titleBlue{
	background: url("cw12_home_titbgblue-1x23.gif") repeat-x scroll center bottom #003295;
    color: #FFFFFF;
    font: bold 15px/23px Arial,Helvetica,sans-serif;
    margin-bottom: 8px;
    padding-left: 11px;
}
.titleRed{
	background: url("cw12_home_titbgred-1x23.gif") repeat-x scroll center bottom #C60000;
    color: #FFFFFF;
    font: bold 15px/23px Arial,Helvetica,sans-serif;
    margin-bottom: 8px;
    padding-left: 11px;
}
.clear{clear:both;}
/****************************************************************

HEADER STYLES

****************************************************************/

#header {
	position: relative;
	background: url(img/cw12_header_bg-1020x163.png) bottom left no-repeat;
	width: 1020px;
	height: 206px;
	margin-bottom: -8px;
}
#header .livechat {
	position: absolute;
	left: 50%;
	margin-left: -109px;
}
#logo {
	position: absolute;
	left: 6px;
	top: 16px;
}

#headerNav {
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 15px;
	color: white;
	position: absolute;
	top: 6px;
	right: 0px;
}
#headerNav a {text-decoration: none; color: white;}
#headerNav a:hover{color:#FFDE00;}
#headerNav .cartLink a{
	color: #FFDE00;
	font-weight: bold;
	text-decoration: none;
}
#headerNav .cartLink img {
	vertical-align: middle;
	padding-bottom: 2px;
	padding-right: 2px;
}
#headerNav .topLink  {margin-right: 4px;}
#headerNav .socialLinks {margin-right: 16px;}
#headerNav .phone {margin-top: 8px;font-size:11px;}
#headerNav .phone span {color: #FFDE00;font-size:14px;font-weight: bold;}

#headerSearchFrm {
	position: absolute;
	right: 10px;
	top: 66px;
}

#headerSearchFrm input[type='search'] {
	background: url(img/cw12_serbox_bg-261x30.png) top left no-repeat;
	width: 261px;
	height: 30px;
	border: none;
	padding: 0px;
	margin: 0px;
	text-indent: 6px;
	
	color: #808184;
    font: 12px Arial,Helvetica,sans-serif;
	
	position: absolute;
	top: 0px;
	right: 112px;
}

#headerSearchFrm button{
	background:url(img/cw_btn_search-108x30.png) top left no-repeat;
	width: 108px;
	height: 30px;
	border: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#catNavRow1{
	position: absolute;
	left: 40px;
	bottom: 80px;
}
#catNavRow2 {
	position: absolute;
	bottom: 42px;
	left: 30px;
}

#catNavRow3 {
	position: absolute;
	bottom: 14px;
	left: 30px;
}

#catNavRow1 > div {
	float: left;
	position: relative;
}

#catNavRow2 > div {
	float: left;
	margin: 0px 10px;
}

#catNavRow3 > div {
	float: left;
	position: relative;
	margin-right: 12px;
}

.dropdown {
	height: 0px; 
	overflow: hidden;
	
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #7088D3;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 3px 5px 1px #CCCCCC;

	position: absolute;
	z-index:99999;
}
#catNavRow1 > div > .dropdown {
	top: 24px;
	left:0px;
	width: 260px;
}

#catNavRow3 > div > .dropdown {
	top:24px;
	left:0px;
	
	width: 500px;
}

#catNavRow3 > div > .dropdown > .dropdownLink{width:220px;margin-right:10px;}

.dropdownLink {
	background: url("img/cw12_drpmenu_arr-6x7.png") no-repeat scroll 5px 9px transparent;
    border-top: 1px solid #E0E6E9;
    color: #122666;
    cursor: pointer;
    display: block;
    line-height: 22px;
    padding: 1px 4px 1px 16px;
	width: 100%;
	float: left;
}

.dropdownSeeMore{
	color: white;
	background: #002675;
	clear:both;
	text-indent: 16px;
	padding: 4px 0px;
	width: 100%;
}
.dropdownLink:hover{color:#A40000;}

#headerLiveCam {
	position:absolute;
	bottom:14px;
	right:8px;
}
/****************************************************************

FOOTER STYLES

****************************************************************/
#footerBanners {
	text-align: center;
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
	padding-bottom: 4px;
}

#footerBanners a {text-decoration: none; margin: 2px; }

#footerSubscribeBar {
	height: 57px;
	line-height: 57px;
	background: url(img/cw12_subscribe_bgstr-1x57.gif) top left repeat-x;
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
}
#footerSubscribeBar img{
	vertical-align: middle;
	margin-left: 15px;
}

#footerSubscribeForm {
	float: right;
	height: 57px;
	margin-right: 60px;
}
#footerSubscribeForm input.text {width: 225px; padding: 0px;}
#footerSubscribeForm input{height: 28px;}
#footerSubscribeForm input[type="submit"]{position:relative; top:-1px;}

#footerNavContainer {
	background: url(img/cw12_footer_navbg-1020x121.png) top left no-repeat;
	height: 121px;
	position: relative;
}

#footerNavContainer .sectionTitle {
	position: absolute;
	top: 8px;
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#sectionTitleCustServ {left:20px;}
#sectionTitleSWC {left:290px;}

#footerNavContainer ul {
	font: 11px Arial,Helvetica,sans-serif;
    list-style: none outside none;
	position: absolute;
	top: 40px;
	margin: 0px;
	padding: 0px;
}

#footerNavListCustServ{left:20px; width: 246px; background:url(img/cw12_footnav_dline-2x57.png) bottom right no-repeat;}
#footerNavListSWC{left:290px; width:164px;}

#footerNavContainer ul li{
	display: block;
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 82px;
}
#footerNavContainer ul li a{color: #122666;text-decoration: none;}

#footerIcons {
	position:absolute;
	bottom: 20px;
	right: 220px;
}

.smallPrint {
	color: #666666;
	font-family: arial, helvetica;
	font-size: 8pt;
	margin-bottom: 20px;
}

/****************************************************************

HOMEPAGE STYLES

****************************************************************/
.thinColumn{ width:215px; margin:3px; margin-top: 0px;}
.wideColumn{ width:789px; margin:3px; margin-top: 0px;}

#hompageRightHeader { width: 589px; }
#hompageLeftHeader { width: 197px; }

#slideshowContainer { position: relative; }
#slideshowNav { position: absolute; bottom: 10px; left: 10px; z-index: 100;}
#wideSlideshow { padding: 0px; margin: 0px; margin-top: 4px;}
#slideshowNav a{ 
	background: white;
	border: 1px solid red;
	color: red;
	display: block;
	float: left;
	margin-left: 10px;
	padding: 0px 4px;
	text-decoration: none;
}

.description {
	color: #58595B;
    font: 12px Arial,Helvetica,sans-serif;
    text-align: justify;
}

.description h2{
	background: url("img/cw12_hm_texttit_bg-30x29.png") no-repeat scroll left top transparent;
    color: #31539C;
    line-height: 30px;
    margin: 0 0 5px;
    padding: 0 0 10px 35px;
	font-size: 1.4em;
}

#homepageProdLists {
	padding: 12px 0px;
}

#homepageProdLists li.productListItem {
	height: 212px;
	width: 185px;
	margin: 6px;
}
.productListItem .prodThumbContainer {
	border: 1px solid #CDCDCD;
}
#homepageProdLists .prodName{
	color: #0D2D66; 
	font-weight: normal; 
	font: 11px Arial,Helvetica,sans-serif;
}
#homepageProdLists .prodPrice {
	color: #7F0000;
    font: bold 13px Helvetica,Arial;
	margin-bottom: 4px;
}

#homepageProdLists li:hover .prodName{color: #BE0000;}

/****************************************************************

CATEGORY STYLES

****************************************************************/

/****************************************************************

PRODUCT STYLES

****************************************************************/

/****************************************************************

SEARCH STYLES

****************************************************************/
.previewListContainer{position:relative; z-index: 10001; background: white;}
.previewProductDetail {height: 469px; overflow-y: scroll; padding: 0px;}
.productQuickview{background: white; min-height: 469px;}
#resultsProductListContainer .searchResultsProduct.ui-state-active {border: 1px solid #d41502;}