body {
	background: url(img/cw12_pinstripe5-61x1.png) top center repeat, url(img/cw12_body_bg-1x60.png) left top repeat-x;
	padding: 0px;
	margin: 0px;
	font-family: Tahoma,arial,sans-serif;
	position: relative;
	min-height: 100%;
	height: 100%;
	top: 0px
}

.labelPreview *{
	background-repeat:no-repeat;
}
h1,h2,h3,h4,h5,h6{
	font-family: Arial,​Helvetica,​sans-serif;
}
#appView {
	width: 1020px;
	margin: 0px auto;
}

#content {
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
	/*
	margin-top: -10px;
	*/
	position:relative;
	z-index: 99;
}

#mainContentArea {
	overflow:hidden;
}

#contentBG{
	background:white;
}


.hideDialog .ui-dialog-titlebar-close,
.hideDialog .ui-dialog-titlebar {
	display: none;
}

.hideDialog.ui-dialog.ui-widget-content {
	background: none;
	border:none;
}

#appPreView {
	background: white;
	border: 2px solid #002675;
}

#globalMessaging {
	position: fixed;
	bottom: 4px;
	right: 4px;
	display: block;
	/*
	border: 2px solid #002675;
	background: white;
	*/
	z-index: 10001;
}

#globalMessaging > .appMessage {
	padding-right: 48px;
	margin: 8px;
}
#appNav {
	z-index: 10001;
}

/****************************************************************

UTILITY CLASSES AND UNIVERSAL STYLES

****************************************************************/
a {
    color: #990000;
}

h1 {
    color: #666666;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px 0 2px;
}
h2 {
    color: #666666;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px 0 2px;
}
h3 {
    color: #666666;
    font-size: 11pt;
    font-weight: bold;
    margin: 2px 0 1px;
}

.breadcrumb {
	display:block;
	font: 11px Arial,Helvetica,sans-serif;
    margin-bottom: 5px;
    padding-left: 213px;
	height: 14px;
}

li.productListItem {
	height: 212px;
	width: 185px;
	margin: 6px;
}
.productListItem .prodThumbContainer {
	border: 1px solid #CDCDCD;
}
.productListItem .prodName{
	color: #0D2D66; 
	font-weight: normal;
	height: 30px;
	font: 11px Arial,Helvetica,sans-serif;
}
.productListItem .prodPrice {
	color: #7F0000;
    font: bold 13px Helvetica,Arial;
	margin-bottom: 4px;
}

li.productListItem:hover .prodName{color: #BE0000;}

.titleBlue{
	background: url("img/cw12_home_titbgblue-1x23.gif") repeat-x scroll center bottom #003295;
    color: #FFFFFF;
    font: bold 15px/23px Arial,Helvetica,sans-serif;
    margin-bottom: 8px;
    padding-left: 11px;
}
.titleRed{
	background: url("img/cw12_home_titbgred-1x23.gif") repeat-x scroll center bottom #C60000;
    color: #FFFFFF;
    font: bold 15px/23px Arial,Helvetica,sans-serif;
    margin-bottom: 8px;
    padding-left: 11px;
}
.clear{clear:both;}
.positionRelative{position: relative;}

.prodPageTagsContainer {
	height: 26px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.prodPageTagsContainer span{
	display: inline-block;
	height: 26px;
	background: url(img/spans/cubworld_bigtags.png) no-repeat;
}
.prodPageTagsContainer .is_fresh{background-position:0px 0px; width:83px;}
.prodPageTagsContainer .is_bestseller{background-position:0px -26px; width:79px;}
.prodPageTagsContainer .is_user1{background-position:0px -52px; width:98px;}
.prodPageTagsContainer .is_sale{background-position:0px -78px; width:98px;}
.prodPageTagsContainer .is_specialorder{background-position:0px -104px; width:116px;}
.prodPageTagsContainer .is_preorder{background-position:0px -130px; width:135px;}
.prodPageTagsContainer .is_discontinued{background-position:0px -156px; width: 128px;}
.prodPageTagsContainer .is_outofstock{background-position:0px -156px; width: 128px;}
.prodPageTagsContainer .is_shipfree{background-position:0px -182px; width: 208px;}


.prodListTagsContainer {
	height: 16px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99;
}
.prodListTagsContainer span{
	display: inline-block;
	height: 16px;
	background: url(img/spans/cubworld_smalltags.png) no-repeat;
}
.prodListTagsContainer .is_fresh{background-position:0px 0px; width:51px;}
.prodListTagsContainer .is_bestseller{background-position:0px -16px; width:49px;}
.prodListTagsContainer .is_user1{background-position:0px -32px; width:61px;}
.prodListTagsContainer .is_sale{background-position:0px -48px; width:61px;}
.prodListTagsContainer .is_specialorder{background-position:0px -64px; width:71px;}
.prodListTagsContainer .is_preorder{background-position:0px -80px; width:83px;}
.prodListTagsContainer .is_discontinued{background-position:0px -96px; width: 78px;}
.prodListTagsContainer .is_outofstock{background-position:0px -96px; width: 78px;}
.prodListTagsContainer .is_shipfree{background-position:0px -112px; width: 108px;}

.reviewSprite	{background: url(img/mutedstars_110w.jpg) no-repeat; width:110px; height:25px; display:none;} /* display none hides the reviews for the 'zero' reviews graphic */
.review_1, .review_2, .review_3, .review_4, .review_5, .review_6, .review_7, .review_8, .review_9, .review_10	{display:inline-block;} /* show 1/2 - 10 stars */
.review_1 	{background-position:0 -25px;}
.review_2	{background-position:0 -50px;}
.review_3	{background-position:0 -75px;}
.review_4	{background-position:0 -100px;}
.review_4	{background-position:0 -125px;}
.review_6	{background-position:0 -150px;}
.review_7	{background-position:0 -175px;}
.review_8	{background-position:0 -200px;}
.review_9	{background-position:0 -225px;}
.review_10	{background-position:0 -250px;}


button.quickView{
	position: absolute;
}

.quickView.ui-state-default { display:none; }

.prodViewerAddToCartForm {
    margin-bottom: 0px;
}

.topSpacer{
	height: 19px;
}

.ui-accordion-header span {
	display: inline-block;
}

.indent {
	text-indent:3em;
}
/****************************************************************

HEADER STYLES

****************************************************************/

#header {
	position: relative;
	background: url(img/cw12_header_bg-1020x163.png) bottom left no-repeat;
	width: 1020px;
	height: 206px;
	margin-bottom: -8px;
}
#header .livechat {
	position: absolute;
	left: 50%;
	margin-left: -109px;
}
#logo {
	position: absolute;
	left: 6px;
	top: 16px;
}

#headerNav {
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 15px;
	color: white;
	position: absolute;
	top: 6px;
	right: 0px;
}
#headerNav a {text-decoration: none; color: white;}
#headerNav a:hover{color:#FFDE00;}
#headerNav .cartLink a{
	color: #FFDE00;
	font-weight: bold;
	text-decoration: none;
}
#headerNav .cartLink img {
	vertical-align: middle;
	padding-bottom: 2px;
	padding-right: 2px;
}
#headerNav .topLink  {margin-right: 4px;}
#headerNav .socialLinks {margin-right: 16px;}
#headerNav .phone {margin-top: 8px;font-size:11px;}
#headerNav .phone span {color: #FFDE00;font-size:14px;font-weight: bold;}

#headerSearchFrm {
	position: absolute;
	right: 10px;
	top: 66px;
}

#headerSearchFrm input[type='search'] {
	background: url(img/cw12_serbox_bg-261x30.png) top left no-repeat;
	width: 261px;
	height: 30px;
	border: none;
	padding: 0px;
	margin: 0px;
	text-indent: 6px;
	
	color: #808184;
    font: 12px Arial,Helvetica,sans-serif;
	
	position: absolute;
	top: 0px;
	right: 112px;
}

#headerSearchFrm button{
	background:url(img/cw_btn_search-108x30.png) top left no-repeat;
	width: 108px;
	height: 30px;
	border: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#catNavRow1{
	position: absolute;
	left: 40px;
	bottom: 80px;
}
#catNavRow2 {
	position: absolute;
	bottom: 42px;
	left: 30px;
}

#catNavRow3 {
	position: absolute;
	bottom: 14px;
	left: 30px;
}

#catNavRow1 > div {
	float: left;
	position: relative;
}

#catNavRow2 > div {
	float: left;
	margin: 0px 10px;
}

#catNavRow3 > div {
	float: left;
	position: relative;
	margin-right: 12px;
}

.dropdown {
	height: 0px; 
	overflow: hidden;
	
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #7088D3;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 3px 5px 1px #CCCCCC;

	position: absolute;
	z-index:99999;
}
#catNavRow1 > div > .dropdown {
	top: 24px;
	left:0px;
	width: 260px;
}

#catNavRow3 > div > .dropdown {
	top:24px;
	left:0px;
	
	width: 500px;
}

#catNavRow3 > div > .dropdown > .dropdownLink{width:220px;margin-right:10px;}

.dropdownLink {
	background: url("img/cw12_drpmenu_arr-6x7.png") no-repeat scroll 5px 9px transparent;
    border-top: 1px solid #E0E6E9;
    color: #122666;
    cursor: pointer;
    display: block;
    line-height: 22px;
    padding: 1px 4px 1px 16px;
	width: 100%;
	float: left;
}

.dropdownSeeMore{
	color: white;
	background: #002675;
	clear:both;
	text-indent: 16px;
	padding: 4px 0px;
	width: 100%;
}
.dropdownLink:hover{color:#A40000;}

#headerLiveCam {
	position:absolute;
	bottom:14px;
	right:8px;
}
/****************************************************************

COLUMN STYLES

****************************************************************/
#variableColumn > div {
	padding: 4px;
}
#hotItemList{
	background: #002675;
}

#hotItemSpotlightContainer{
	width: 207px;
	height:359px;
	overflow: hidden;
	background: white;
}
#hotItemSpotlightContainer li.productListItem{
	height:310px;
	width: 185px;
	padding: 19px 11px;
	margin: 0px;
}
#helpfulLinks{background: #002675;}

#helpfulLinks h3{color: white;}

.sideline {
    float: none;
    margin: 0px;
    width: 100%;
}
#helpfulLinks ul { margin-bottom: 20px; text-indent: 15px;}
#helpfulLinks a {color: #FEDF46;}
#helpfulLinks a.ui-state-highlight {color: #002675;}
#helpfulLinks a.ui-state-highlight:hover {color: #002675;}
#helpfulLinks a:hover {color: white;}

.thinColumn > img {
	margin: 4px auto;
}

.thinColumn{ width:215px; padding-right:3px; overflow: hidden;}
.thinColumn, .thinColumn * {position: relative; z-index: 0;}
.wideColumn{ width:1007px; padding-left:3px;}
.wideColumn [data-columncontent]{max-width: 789px;}
.hotLineItemList {height: 408px; overflow:hidden;}
li.productListTemplateHotLineItem {width: 203px;height: 60px; margin:4px 2px;}
li.productListTemplateHotLineItem img{margin-right:4px;}
li.productListTemplateHotLineItem .prodName {color: #FEDF46; font-size: .8em; max-height: 45px; width: 139px;}
li.productListTemplateHotLineItem:hover .prodName {color: #FFFFFF;}
li.productListTemplateHotLineItem .prodPrice {color: #FFFFFF; font-weight: bold; width: 139px;}
/****************************************************************

FOOTER STYLES

****************************************************************/
#footerBanners {
	text-align: center;
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
	padding-bottom: 4px;
}

#footerBanners a {text-decoration: none; margin: 2px; }

#footerSubscribeBar {
	height: 57px;
	line-height: 57px;
	background: url(img/cw12_subscribe_bgstr-1x57.gif) top left repeat-x;
	border-left: 2px solid #002675;
	border-right: 2px solid #002675;
}
#footerSubscribeBar img{
	vertical-align: middle;
	margin-left: 15px;
}

#footerSubscribeForm {
	float: right;
	height: 57px;
	margin-right: 60px;
}
#footerSubscribeForm input.text {width: 225px; padding: 0px;}
#footerSubscribeForm input{height: 28px;}
#footerSubscribeForm input[type="submit"]{position:relative; top:-1px;}

#footerNavContainer {
	background: url(img/cw12_footer_navbg-1020x121.png) top left no-repeat;
	height: 121px;
	position: relative;
}

#footerNavContainer .sectionTitle {
	position: absolute;
	top: 8px;
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#sectionTitleCustServ {left:20px;}
#sectionTitleSWC {left:290px;}

#footerNavContainer ul {
	font: 11px Arial,Helvetica,sans-serif;
    list-style: none outside none;
	position: absolute;
	top: 40px;
	margin: 0px;
	padding: 0px;
}

#footerNavListCustServ{left:20px; width: 246px; background:url(img/cw12_footnav_dline-2x57.png) bottom right no-repeat;}
#footerNavListSWC{left:290px; width:164px;}

#footerNavContainer ul li{
	display: block;
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 82px;
}
#footerNavContainer ul li a{color: #122666;text-decoration: none;}

#footerIcons {
	position:absolute;
	bottom: 20px;
	right: 220px;
}

.smallPrint {
	color: #666666;
	font-family: arial, helvetica;
	font-size: 8pt;
	margin-bottom: 20px;
}

/****************************************************************

HOMEPAGE STYLES

****************************************************************/


#hompageRightHeader { width: 589px; }
#hompageLeftHeader { width: 197px; }

#slideshowContainer { position: relative; width:589px; height:193px; padding-top: 4px; overflow: hidden;}
#slideshowNav { position: absolute; bottom: 10px; left: 10px; z-index: 100;}
#wideSlideshow { padding: 0px; margin: 0px;}
#slideshowNav a{ 
	background: white;
	border: 1px solid red;
	color: red;
	display: block;
	float: left;
	margin-left: 10px;
	padding: 0px 4px;
	text-decoration: none;
}
#slideshowNav a:hover,#slideshowNav a.activeSlide:hover{
	background: #000066;
	border-color: #000066;
	color: #FFFFFF;
} 
#slideshowNav a.activeSlide {
	font-weight: bold;
	border-color: #000066;
	color: #000066;
}
.description {
	color: #58595B;
    font: 12px Arial,Helvetica,sans-serif;
    text-align: justify;
}

.description h2{
	background: url("img/cw12_hm_texttit_bg-30x29.png") no-repeat scroll left top transparent;
    color: #31539C;
    line-height: 30px;
    margin: 0 0 5px;
    padding: 0 0 10px 35px;
	font-size: 1.4em;
}

#homepageProdLists {
	padding: 12px 0px;
}

.randomList {
	overflow: hidden;
	height: 224px;
}

/****************************************************************

CATEGORY STYLES

****************************************************************/
.page_title {
	background: url("img/cw12_pagetitle_bg-1156x132.png") no-repeat scroll left top transparent;
    color: #404041;
    font: bold 17px Arial,Helvetica,sans-serif;
    height: 66px;
    margin: 0 0 5px;
    padding: 0 0 0 8px;
}
.page_title span {
	background: url("img/cw12_pagetitle_bg-1156x132.png") no-repeat scroll right bottom transparent;
    color: #404041;
    display: block;
    font: bold 17px/66px Arial,Helvetica,sans-serif;
    height: 66px;
    margin: 0;
    padding: 0 0 0 10px;
}

.subcats > li {
	background: url("img/cw12_hm_catbgstr-1x254.gif") repeat-x scroll center top #FFFFFF;
    border: 1px solid #DADADA;
    color: #002774;
    height: 254px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 182px;
}

h4.subCatTitle {
	font: bold 13px Tahoma,Geneva,sans-serif;
    height: 35px;
    margin: 5px 0 0;
    padding: 0;
	color: #002774;
}

div:hover > h4.subCatTitle {
	color: #7f0000;
}

.categoryTemplateInquiry label {
	display: inline-block;
	width: 150px;
}

.categoryTemplateAffiliates .text_desc {
	color: #231F20;
    font: 12px/15px Arial,Helvetica,sans-serif;
    padding-bottom: 10px;
    text-align: left;
}

.categoryTemplateAffiliates .text_desc h2 {
	color: #231F20;
    font: bold 16px Arial,Helvetica,sans-serif;
    margin: 0;
    padding-bottom: 15px;
    text-align: left;
}

.categoryTemplateAffiliates .box_desc {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CFCFCF #CFCFCF;
    border-image: none;
    border-right: 1px solid #CFCFCF;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #231F20;
    font: 14px/19px Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding: 0 10px 10px;
}
.categoryTemplateAffiliates .box_desc h2{
	background: none repeat scroll 0 0 #252F6A;
    color: #FFFFFF;
    font: bold 16px Arial,Helvetica,sans-serif;
    margin: 0 -10px 10px;
    padding: 9px 0 6px 16px;
    text-align: left;
}

.categoryTemplateGroupSales .ztxt {
	color: #000000;
    font-family: arial,helvetica;
    font-size: 9pt;
}
.categoryTemplateGroupSales .halfScreen{width:50%;}
.categoryTemplateGroupSales .slideshow{
	width:375px;
	height:375px;
	overflow:hidden;
	display: inline-block;
}

.categoryTemplateFeaturedPlayer .hm_text_desc {
    color: #58595B;
    font: 12px Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    text-align: justify;
}

.categoryTemplateRewards form{
	width: 200px;
}

.categoryTemplateEarthCam .ztitle2,
.categoryTemplateTickets .ztitle2{
	color: #7F0000;
    font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
	margin-bottom: 4px;
    padding: 5px 0;
}
.categoryTemplateEarthCam .ztable_row,
.categoryTemplateTickets .ztable_row{
	font-family: arial,helvetica;
    font-size: 8pt;
}
.categoryTemplateEarthCam div.no_underline a,
.categoryTemplateTickets div.no_underline a {
	text-decoration: none;
}
.categoryTemplateEarthCam tr,
.categoryTemplateTickets tr {
	padding: 10px 0px;
}

.categoryTemplateEarthCam .earthcamContainer {
	width: 656px;
	float: left;
}
.categoryTemplateEarthCam .bannerContainer {
	width: 133px;
	float: right;
}
/****************************************************************

PRODUCT STYLES

****************************************************************/
.imageContainer img {border:1px solid #CDCDCD;}
.prodBigImage{margin-bottom:4px;}
.prodTitle {
	color: #404041;
    font: bold 17px Arial,Helvetica,sarif;
    margin: 0px 0px 5px;
    padding: 0px;
}
.prodSKU {
	color: #58595B;
    font: 12px Arial,Helvetica,sarif;
    margin-bottom: 10px;
}
.prodMfg {
	color: #58595B;
    font: 12px/23px Arial,Helvetica,sarif;
    margin-bottom: 8px;
}
.prodMfg span{
	color: #31539C;
    text-decoration: none;
}
.prodReviewsSummary span.displayNone {display:none;}
.prodReviewsSummary span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
.prodReviewTotal{
	color: #58595B;
	font-size: 12px;
    padding-left: 10px;
}
.writeReview a{
	color: #31539C;
    font-size: 12px;
}
fieldset.variationsFieldset{
	margin-bottom: 3px;
	font-size: 9pt;
}
.buyBoxContainer {
	background: linear-gradient(to bottom, #F7F7F7 0%, #ECEEF0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D9DADB;
    border-radius: 5px 5px 5px 5px;
    min-height: 76px;
    padding: 5px;
	padding-top: 15px;
}
.buyBox{
	display: table;
	width: 100%;
	vertical-align: middle;
}
.buyBox > div {
	display: table-cell;
	vertical-align: middle;
}

.prodLabel {
	color: #58595B;
    font-size: 11px;
    font-weight: normal;
}
.basePrice {
	color: #F05A28;
    font-size: 26px;
    font-weight: bold;
}
.prodMSRP{font-size: 17px;}
.savingsPercentage {
	color: #58595B;
    font-size: 13px;
    line-height: 17px;
}
.qtyInput input{
	width: 28px;
}

.addToCartButton {
	width: 163px;
	height: 42px;
	background: url(img/prodPage/cw12_add_to_cart.png) top left no-repeat;
	border: none;
}

/****************************************************************

SEARCH STYLES

****************************************************************/
.searchResultsPage{margin-top: 14px;}
.previewListContainer{position:relative; z-index: 10001; background: white;}
.previewProductDetail {height: 469px; overflow-y: scroll; padding: 0px;}
.productQuickview{background: white; min-height: 469px;}
#resultsProductListContainer .searchResultsProduct.ui-state-active {border: 1px solid #d41502;}

/****************************************************************

COMPANY PAGE STYLES

****************************************************************/
.redbar {
	background: url(img/company/cw09_r_head_bg-1x31.gif) repeat-x;
}

.companyPage {
	color: #000000;
    font-family: arial,helvetica;
    font-size: 9pt;
}
.returnLink {
	font-size: 1.8em;
	padding: 10px;
}
#rma-form {
	font-size: .8em;
	padding: 20px;
}
#rma-form label {
	display: inline-block;
	width: 150px;
	text-align: right;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 15px;
}
#rma-form textarea {
	width: 100%;
}
#rmaItems label {
	font-weight: normal;
	font-size: .8em;
}

#rmaItems { padding-left: 40px;}

#rmaItems .col1,
#rmaItems .col2,
#rmaItems .col3,
#rmaItems .col4,
#rmaItems .col5{
	display: inline-block;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#rmaItems .col1{width:20px;}
#rmaItems .col2{width:200px;}
#rmaItems .col3{width:60px; text-align: center;}
#rmaItems .col4{width:60px; text-align: center; margin-right: 14px;}
#rmaItems .col5{width:200px;}
.addRMAItemButton {
	margin-left: 40px;
	margin-top: 20px;
}
.rmaItem  button{
	position:relative;
	top:-2px;
	width: 20px;
	height: 20px;
}

.mailingAddress {
	margin: 20px 0px;
}