.preflightInputContainer {
	width: 45%;
	float: left;
}

.preflightInputContainer label {width: 100px;display:inline-block;}

.ui-dialog {
	z-index:10;
}

.hideTitleBarAndClose .ui-dialog-titlebar {
	display: none;
}