.hideDialog .ui-dialog-titlebar-close,
.hideDialog .ui-dialog-titlebar {
	display: none;
}
.redirectToSiteApp {text-align:center;}

.floatLeft {float: left;}
.floatRight{float: right;}

.stopFutureRedirectMessage {display:none;}