.displayNone_1280{display:none;}

.fixedContainer {
	max-width:1044px;
	margin: auto;
}
#header {height:93px;}
#appView {
	padding-top: 98px;
	padding-bottom:40px;}
#appView.showFooter {padding-bottom: 210px;}
#appView.initFooter {padding-bottom: 210px;}
#appView #footer {bottom:-150px;}
#appView.peekFooter #footer {bottom:-130px;}

#livechat {margin-left: 60px;}
#livechat img {width:172px; height:67px;}

#headerTeam {margin-left: 20px; width: 200px; height: 65px; padding: 2px;}

#search input{ height:21px;}

#footer > div{position:relative; height:130px;}

.footerColumn {
	position:absolute;
	width:256px;
}

#footerLeft{left:0px;}
#footerRight{right:0px;}
#footerMiddle{left: 50%; margin-left:-128px;}

#mainContentArea, #globalMessaging {max-width:1280px; margin: auto;}

.homepageBanner {height:322px;}
.blockLink, li.blockLink {width: 19%; margin: .3%;}

.productPage .addtocartbutton{width:131px; height:41px; background:url(images/prodpages/add_to_cart_button_131x41.png) no-repeat;}
.productPage .mfgLogoContainer img {
	max-width: 150px;
	max-height: 80px;
	padding-right: 20px;
}

#myTeamChooser .chooser{left:60px; right:60px; bottom:60px; top:100px;}
#myTeamChooser .sportContainer{width: 24%; padding: 0px .4%;}
#myTeamChooser .teamlist  {width: 90%; padding: 0% 5%;}
#myTeamChooser .teamlist{height: auto;}
#myTeamChooser .sportContainer{position: static; display:inline-block; overflow: auto; height: 90%;}
#myTeamChooser .sportContainer h4{font-size: 1.5em;}
/*
#myTeamChooser .myteams {width: 30%;}
#myTeamChooser .moreteams {width: 60%;}
#myTeamChooser .moreteams ul {text-align: center;}
#myTeamChooser .moreteams li {width: 48%; display:inline-block; text-align:left;}
#myTeamChooser .teamlist .teamTemplate {height:85px; line-height: 85px;}
*/
#myTeamChooser .myTeamPopupContainer form,
#myTeamChooser .myTeamPromptContainer > div{
	background:white;
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -260px;
	margin-top: -90px;
	width:480px;
	height: 140px;
}
#myTeamChooser .myTeamSelectedContainer > div{
	background:white;
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -260px;
	margin-top: -165px;
	width:480px;
	height: 290px;
}


.fieldCamPage{padding: 5px;}

.fieldCamPage .cam1 {float:left;}
.fieldCamPage .cam2 {float:right;}