.displayNone_1280{display:none;}

.fixedContainer {
	max-width:1044px;
	margin: auto;
}
#appView {
	padding-top: 93px;
	padding-bottom:40px;}
#appView.showFooter {padding-bottom: 216px;}
#appView #footer {bottom:-176px;}

#footer {bottom:0px;}
#livechat {margin-left: 60px;}
#livechat img {width:172px; height:67px;}

#search input{ height:21px;}

#footer > div{position:relative; height:136px;}

.footerColumn {
	position:absolute;
	width:256px;
}

#footerLeft{left:0px;}
#footerRight{right:0px;}
#footerMiddle{left: 50%; margin-left:-128px;}

#mainContentArea, #globalMessaging {max-width:1280px; margin: auto;}

.homepageBanner {height:322px;}
.blockLink, li.blockLink {width: 19%; margin: .3%;}

.productPage .addtocartbutton{width:131px; height:41px; background:url(images/prodpages/add_to_cart_button_131x41.png) no-repeat;}
.productPage .mfgLogoContainer img {
	max-width: 100px;
	max-height: 80px;
	padding-right: 20px;
}

#myTeamChooser .chooser{left:60px; right:60px; bottom:60px; top:100px;}
#myTeamChooser .myteams {width: 30%;}
#myTeamChooser .moreteams {width: 60%;}
#myTeamChooser .moreteams ul {text-align: center;}
#myTeamChooser .moreteams li {width: 48%; display:inline-block; text-align:left;}