html, body{padding:0px; margin: 0px;}
.highlightBG_1 {background: #233628;}
.highlightBG_1_alpha {background:rgba(35,54,40,.75);}
.highlightBG_2 {background: #5c6a60;}
.redText{color:#7e0000}
a.redText{color:#7e0000}

.blockLink, .blockLink a {text-decoration:none;}

.textDecNone{text-decoration:none;}
.alignBottom {vertical-align:bottom;}
.alignJustify {text-align:justify;}
.displayTable {display: table;}
.displayTableRow {display: table-row;}
.displayTableCell {display: table-cell;}

.fillWidth {width:100%;}

.clear{clear:both;}
.clearLeft{clear:left;}
.clearRight{clear:right;}

.dosis {font-family:'Dosis', sans-serif;}

#header {
	position:fixed;
	background:white;
	left:0px;
	right:0px;
	top:0px;
	z-index: 100;
}

#nav {padding:3px 0px;}
#nav a {
	text-decoration:none;
	font-weight:bold;
	color: white;
	border-left:1px solid white;
	border-right:1px solid white;
}
#mininav a{color:black;}
#search input{ border-radius:3px; border: 1px solid #b3b3b3;}

#footer {
	color:white; 
	padding: 20px 0px;
	position:fixed;
	left:0px;
	right:0px;
	z-index:100;
}
#toggleFooterBtn{
	height: 40px;
	width: 40px;
	position:absolute;
	right:0px;
	top:-40px;
	border-left: 1px solid white;
	border-top: 1px solid white;
	box-shadow: -2px -2px 6px rgba(64,64,64,.5);
}
#footer{transition: bottom 1s;}
#appView.showFooter #footer {bottom:0px;}

#footer a {color:white; text-decoration: none;}

#footerMiddle .displayTableCell, #footerLeft .displayTableCell {padding: 4px 0px; font-size:.9em;}

#footerRight .displayTableCell {width: 16.66%}
#footerRight .socialIcons img{width: 100%; max-width:33px;}
#footerRight form {padding: 20px 0px;}

.footerColumn h3 { letter-spacing:6px; font-size: .8em; padding: 4px 0px;}
.footerBottomBorder .displayTableCell{border-bottom:1px solid #2f483d;}

#footerLeft .displayTableCell {width:50%;}
#footerMiddle .displayTableCell {width:33.33%;}

.homepageBanner{display: block; text-decoration: none; border:none; width: 100%; background:url(images/homepage/banner_bg_1280x320.jpg) no-repeat center center; position:relative;}
.homepageBanner .bannerImg{display:inline-block; vertical-align:middle; max-width: 60%; height:100%;}
.homepageBanner img{vertical-align:middle; max-width: 100%;}
a.blockLink, li.blockLink {display: inline-block;}
.categoryListItem.blockLink, .productListItem.blockLink{position:relative;}
.categoryListItem .catName, .productListItem .prodInfo {position:absolute; bottom:0px; right:0px; left:0px; color: white; padding: .8em 0em; font-weight:bold;}
.productListItem .prodInfo {height: 12%;}
.productListItem .prodInfo .prodName {padding: 0px 10px;}
.productListItem .price {position:absolute; bottom: 5px; right: 10px; color:#ff6c4f; font-size: 1.33em;}
.productListItem .price > span {color:white; font-size.75em;}

.productListItem.blockLink { padding-bottom: 66px;}
.productListItem .prodInfo {height: 60px; padding: 3px 0px;}

.blockLink img {width:100%;}

.fieldCamPage iframe,
.fieldCamPage object {max-width: 100%;}

.productPage {color:#333333;}
.productTitle, .productInfo, .productTabs{float:right; clear:right; width: 36%;}

.productImages {float:left; width: 60%;}
.productImages a {text-decoration:none;}
.prodBigImage{width: 100%;}
.productImages .prodThumb { width: 30%; padding: 1.6%;}
.productImages .prodThumb img{width:100%;}

.productInfoSection {border-bottom: 1px solid #b3b3b3; padding-bottom: 1em;}
.basePrice > span, .prodMSRP .prefix { display:inline-block; width: 100px; }
.basePrice > span{ font-size:.66em; color: #333333;}
.basePrice {color:#e24b2c; font-size: 1.5em;}

.productPage .addtocartbutton{border:none;}

.productPage .tabContent{overflow-y: auto; height:400px;}

.filteredSearchPage form {color:white;}
.filterList { width: 16%; padding: 15px 2%;}
.filterResultsContainer {float:right; width: 80%;}
.filterGroup {margin-bottom: 10px;}

.sportWidget button {width: 20px; font-weight:bold;}
.sportWidget {width: 25%; float: left;}
.sportWidget .myteams ul { height: 200px; overflow-y:auto;}
.sportWidget .moreteams ul { height: 300px; overflow-y:auto;}