.displayNone_320{display:none;}
.alignCenter_320{text-align:center;}
.fixedContainer {
	max-width:320px;
	margin: auto;
}
#appView {padding-top: 30px;padding-bottom:40px;}
#appView.showFooter {padding-bottom: 402px;}
#appView #footer {bottom:-362px; font-size:16px;}

#logo img {
	height: 30px;
}

.footerColumn {width:320px;}

.homepageBanner {height:322px;}
.homepageBanner .bannerImg{line-height:322px; max-width: 100%;}
.blockLink, li.blockLink {width: 32%; margin: .4%;}
.productListItem .prodInfo {font-size: .9em;}
.productListItem .price {font-size: 1em; bottom: 0px; right: 5px;}

.categoryTemplate .catName {padding: .5em 0em;}

.productTitle, .productInfo, .productTabs,.productImages {float: none; width:100%;}

.productPage .addtocartbutton{width:131px; height:41px; background:url(images/prodpages/add_to_cart_button_131x41.png) no-repeat;}
.productPage .mfgLogoContainer img {
	max-width: 100px;
	max-height: 46px;
	padding-right: 20px;
}
.productListItem .prodListTagsContainer {
	height: 16px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99;
}
.productListItem .prodListTagsContainer {
	bottom: 66px;
}
.productListItem .prodListTagsContainer span{
	display: inline-block;
	height: 16px;
	background: url(images/cubworld_smalltags.png) no-repeat;
}
.productListItem .prodListTagsContainer .is_fresh{background-position:0px 0px; width:51px;}
.productListItem .prodListTagsContainer .is_bestseller{background-position:0px -16px; width:49px;}
.productListItem .prodListTagsContainer .is_user1{background-position:0px -32px; width:61px;}
.productListItem .prodListTagsContainer .is_sale{background-position:0px -48px; width:61px;}
.productListItem .prodListTagsContainer .is_user3,
.productListItem .prodListTagsContainer .is_specialorder{background-position:0px -64px; width:71px;}
.productListItem .prodListTagsContainer .is_preorder{background-position:0px -80px; width:83px;}
.productListItem .prodListTagsContainer .is_discontinued,
.productListItem .prodListTagsContainer .is_outofstock{background-position:0px -96px; width: 78px;}
.productListItem .prodListTagsContainer .is_shipfree{background-position:0px -112px; width: 108px;}