.displayNone_320{display:none;}
.alignCenter_320{text-align:center;}
.fixedContainer {
	max-width:320px;
	margin: auto;
}
#appView {padding-top: 30px;padding-bottom:40px;}
#appView.showFooter {padding-bottom: 402px;}
#appView #footer {bottom:-362px; font-size:16px;}

#logo img {
	height: 30px;
}

.footerColumn {width:320px;}

.homepageBanner {height:322px;}
.homepageBanner .bannerImg{line-height:322px; max-width: 100%;}
.blockLink, li.blockLink {width: 32%; margin: .4%;}
.productListItem .prodInfo {font-size: .9em;}
.productListItem .price {font-size: 1em; bottom: 0px; right: 5px;}

.categoryTemplate .catName {padding: .5em 0em;}

.productTitle, .productInfo, .productTabs,.productImages {float: none; width:100%;}

.productPage .addtocartbutton{width:131px; height:41px; background:url(images/prodpages/add_to_cart_button_131x41.png) no-repeat;}
.productPage .mfgLogoContainer img {
	max-width: 100px;
	max-height: 46px;
	padding-right: 20px;
}