.displayNone_960{display:none;}

.fixedContainer {
	max-width:960px;
	margin: auto;
}

#livechat {margin-left: 60px;}
#livechat img {width:172px; height:67px;}
#search input{ height:21px;}

#footer > div{position:relative; height:136px;}
.footerColumn {
	position:absolute;
	width:256px;
}

#footerLeft{left:0px;}
#footerRight{right:0px;}
#footerMiddle{left: 50%; margin-left:-128px;}

.homepageBanner {height:322px;}
.homepageBanner .bannerImg{line-height:322px;}
.blockLink, li.blockLink {width: 24%; margin: .3%;}

.productPage .addtocartbutton{width:131px; height:41px; background:url(images/prodpages/add_to_cart_button_131x41.png) no-repeat;}
.productPage .mfgLogoContainer img {
	max-width: 100px;
	max-height: 46px;
	padding-right: 20px;
}