.layeredSearch{
	background-color: white;
}
.layeredSearch legend{
	background-image: url("images/filterSearchCat.png");
    height: 30px;
    margin-left: -3px;
    padding-left: 40px;
    padding-top: 8px;
    width: 162px;
	color:white;
}
.layeredSearch fieldset{
	border: medium none;
	margin-left:-8px;
}
.layeredSearch input.sliderValue{
	margin-left:31px;
	color:black;
}
.catBrowseSidebar{
}
.catPageContent{
	float: left;
    margin-left: 30px;
    width: 710px;
}
.catPageContent p{
	margin:0;
}
.resetButton{
	background: #bc0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #bc0000 0%, #7a0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0000), color-stop(100%,#7a0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bc0000 0%,#7a0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#7a0000',GradientType=0 ); /* IE6-9 */
    
	font-size: 14px;
    font-weight: 900;
}
.resetButtonSearchPage
{
	width:100px;
	height:30px;
	margin-left: 50px;
	margin-bottom: 10px;
	border:none;
	border-radius:4px;
	color:white;
	background: #bc0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #bc0000 0%, #7a0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0000), color-stop(100%,#7a0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bc0000 0%,#7a0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bc0000 0%,#7a0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#7a0000',GradientType=0 ); /* IE6-9 */
    
	font-size: 14px;
    font-weight: 900;
}

.layeredSearch label{
	color:black;
}
div#container div#footer{
	float:left;
}
.productList{
	width:820px;
}
.productList > li{
	margin-top:0;
	height: 235px;
	overflow: hidden;
}
.imageContainer{
	width:30%;
}
.imageCont{
	height: 340px;
    width: 300px;
}
.prodSummaryContainer{
	width:auto;
	height:auto;
}
.prodViewerContainer .addToCartButton{
    border: 2px outset #9A0000 !important;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 3px 2px #888888;
    color: white !important;
    font-size: 16px;
    height: 50px;
    margin-left: 4px;
    width: 182px;
	
	background: rgb(187,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(187,0,0,1) 0%, rgba(121,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,0,0,1)), color-stop(100%,rgba(121,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0000', endColorstr='#790000',GradientType=0 ); /* IE6-9 */
}
.select2Buttons{
}
.select-buttons{
}
.select2Buttons strong {
  display: block;
  clear: left;
  padding-top: 5px;
}

.select2Buttons ul {
  list-style-type: none;
  clear: left;
  margin: 5px;
  padding: 0;
}

.select2Buttons li, .select2Buttons a {
  float: left;
  min-width: 37px;
}

.select2Buttons li { 
  float: left;
  margin: 5px 20px 30px 0;
  position: relative;
}

.select2Buttons li a, 
.select2Buttons .limited a, 
.select2Buttons .disabled {
  border: 1px solid black;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
}

.select2Buttons li:last-child { 
  margin-right: 0; 
}

.select2Buttons a {
  color: black;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;  
  border-radius: 0;
  border: 2px outset #8b7961;
  position:absolute;
  
  background: rgb(180,162,136); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(180,162,136,1) 0%, rgba(104,85,64,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,162,136,1)), color-stop(100%,rgba(104,85,64,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(180,162,136,1) 0%,rgba(104,85,64,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(180,162,136,1) 0%,rgba(104,85,64,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(180,162,136,1) 0%,rgba(104,85,64,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(180,162,136,1) 0%,rgba(104,85,64,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4a288', endColorstr='#685540',GradientType=0 ); /* IE6-9 */

}

.select2Buttons .disabled span {
  padding: 4px;
  display: block;
  font-size: 15px;
  min-width: 37px;
}

.select2Buttons a:hover {
  color: white;    
  text-decoration: none;
  box-shadow: 0 0 3px 2px #888888;
}
.select2Buttons .picked {
	color:white;
	border: 2px outset #9A0000;
	box-shadow: 0 0 3px 2px #888888;
	
	background: rgb(187,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(187,0,0,1) 0%, rgba(121,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,0,0,1)), color-stop(100%,rgba(121,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0000', endColorstr='#790000',GradientType=0 ); /* IE6-9 */
}

.select2Buttons .limited a, 
.select2Buttons .disabled {
  text-align: center;
}

.select2Buttons .disabled {
  border: 1px solid #d1d1d1;
  color: #999;
}

.select2Buttons .disabled .picked {
  background: #d1d1d1;
  border-color: #d1d1d1;
  color: #FFF;
}
.select2Buttons ul.select-buttons li:first-child{
	display:none;
}
.div#container div.nav div.navContent > ul > li{
	padding-left: 30px;
    padding-right: 30px;
}
.productList2{
	width:100%;
}
.caroufredsel_wrapper div.ccItem{
	width: 1020px;
}
#carCat6{
	width: 1020px;
	padding-top:10px;
}
.btnCatBack {
	margin-left: 325px;
}
#wideSlideshow{
	padding-left: 1px;
}
#wideSlideshow li{
	list-style:none;
}
#slideshowNav{
	bottom: 0;
    height: 60px;
    left: 0;
    padding-right: 0;
    padding-top: 7px;
    position: absolute;
    text-align: right;
    width: 621px;
    z-index: 9;
	background-color:rgb(2, 2, 2);
	background-color: rgba(10, 10, 10, 0.7);
}
#slideshowNav a{
	 background: none;
    float: left;
    height: 50px;
    margin: 0 7px 0 12px;
    padding: 0;
    width: 67px;
}
#wideSlideshow li{
	cursor:pointer;
}
.hpSSTopPage1{
	background-image:url(images/Homepage/topBannerImages/banner1Thumb.jpg) !important;
}
.hpSSTopPage2{
	background-image:url(images/Homepage/topBannerImages/banner2Thumb.jpg) !important;
}
.hpSSTopPage3{
	background-image:url(images/Homepage/topBannerImages/banner3Thumb.jpg) !important;
}
.hpSSTopPage4{
	background-image:url(images/Homepage/topBannerImages/banner4Thumb.jpg) !important;
}
.hpSSTopPage5{
	background-image:url(images/Homepage/topBannerImages/banner5Thumb.jpg) !important;
}
.hpSSTopPage6{
	background-image:url(images/Homepage/topBannerImages/banner6Thumb.jpg) !important;
}
.hpSSTopPage7{
	background-image:url(images/Homepage/topBannerImages/banner7Thumb.jpg) !important;
}
.bannerS{
	width: 642px;
}
.sliderM{
	max-width: 962px;
}
fieldset.filterSliderImage div.ui-slider a.ui-slider-handle{
	background-image:none !important;
	
	background: rgb(187,0,0) !important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(187,0,0,1) 0%, rgba(121,0,0,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,0,0,1)), color-stop(100%,rgba(121,0,0,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgba(187,0,0,1) 0%,rgba(121,0,0,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0000', endColorstr='#790000',GradientType=0 ) !important; /* IE6-9 */
}
div#container div.nav div.navContent > ul > li{
	padding-left: 30px;
    padding-right: 25px;
}
.filterContainerSearch{
	float: left;
    width: 220px;
}
.layeredSearch legend.searchPageFSLegend{
	width: 185px;
}
.searchFilterResults{
	float: left;
    width: 760px;
}
.searchFilterResults li{
	float:left;
	list-style:none;
	min-height: 225px;
    width: 216px;
	background-color:white;
	margin-bottom: 20px;
    margin-right: 20px;
}
.bottomLatency{
}
.bottomLatency img{
	float: left;
}
.bottomLatency div{
	font-size: 13px;
}
.bottomP{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.RightPcol .marginBottom{
	border-bottom:none;
}

/*Begin carousel code for product page*/
.ppCarousel{
	height: 574px;
    width: 100%;
	background-image:
	url(images/pp_caro_background.png)
}
.prodPageCaroTitleCont{
	height: 60px;
    width: 1016px;
	box-shadow: 0 2px 3px 2px black;
	border: 2px outset #9A0000 !important;
    border-radius: 0 0 0 0;
	position:relative;
	
	background: #950000; /* Old browsers */
	background: -moz-linear-gradient(top,  #950000 0%, #530000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#950000), color-stop(100%,#530000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #950000 0%,#530000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #950000 0%,#530000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #950000 0%,#530000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #950000 0%,#530000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#950000', endColorstr='#530000',GradientType=0 ); /* IE6-9 */

}
.prodPageCarouselTitles{
	height: 60px;
    width: 100%;
}
.prodPageCarouselTitles h2{
	color: white;
    float: left;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    width: 340px;
}
#prevPPCaro{
	left: 330px;
    position: absolute;
    top: 15px;
}
#nextPPCaro{
	position: absolute;
    right: 330px;
    top: 15px;
}
.prodPageCarouselContentCont{
	height: 500px;
    width: 1020px;
	float:left;
	margin-top:10px;
	margin-left: 35px;
}
.prodPageCarouselContent{
	height: 500px !important;
    width: 1020px !important;
}
#recentlyViewedItemsContainer{
	height: 500px;
    width: 1020px;
	overflow:hidden;
}
#recentlyViewedItemsContainer div ul{
	height: 500px;
    width: 1020px;
}
#recentlyViewedItemsContainer H1{
	color: red;
    height: 500px;
    line-height: 440px;
    text-align: center;
    width: 1020px;
}
.prodlistRelatedContainer{
	height: 500px;
    width: 1020px;
	overflow:hidden;
}
.prodlistRelatedContainer div{
	height: 500px;
    width: 1020px;
}
.prodlistRelatedContainer h1{
	color: red;
    height: 500px;
    line-height: 360px;
    text-align: center;
    width: 1020px;
}
.prodlistRelatedContainer ul{
	height: 500px;
    width: 1020px;
}
.placeholderCaroCat{
	height: 500px;
    width: 1020px;
}
.caroufredsel_wrapper{
}