/* Mobile view */
@media only screen and (max-width: 640px) {
.displayBlockMobile {display:block;}
.displayInlineMobile {display:inline;}
.displayNoneMobile {display: none;}

/**** appPreView CSS****/
#appPreView{width:280px;}

/**** Content Area CSS****/
#appView{width:100%;}
#contentArea{width:98%; padding:1%;}
#contentArea.sideBarRightShow{width:98%; padding:1%;}
#contentArea.sideBarRightHide{width:98%; padding:1%;}

/**** Header CSS****/
#header {height:50px; padding:8px 0px 0px; background: #ffffff;}
.mobileTopNav{width:290px;}
.mobileTopNavSearch{margin-left:7px;}
.topNavRight {width:290px; float:none; margin:0 auto;}
.searchSection{height:37px; background:#000000;}
.productSearchForm{width:319px; float:none; margin:0 auto; padding:0px; }
.searchBar {width:270px; height:31px; font-size:15px; border-radius:1px; border:1px solid #5a5a5a;}
.searchBtn {background:url("images/searchbtn.jpg") repeat #000000; height:36px; width:44px; padding:0px;}

/**** Footer CSS****/
.zephyrHelpBox {width:98%; height:auto;}
.zephyrHelpBox ul { margin: 0; padding: 1%; width: 98%;}
.zephyrHelpBox li {list-style: none;}
.infoFooter {min-height:15px; padding:10px 0px;}

/**** Homepage CSS****/
.randomList {height:auto;}
#sideBarRight {height:0px; overflow:hidden;}
.listHeader{padding-left:10px; padding-top:4px; height:20px; margin:0px;}

/**** Category CSS****/
.categoryList {padding:2px;}
.categoryList > li {height:72px; width:70px;}

/**** Cart CSS****/
#cartStuffList li {border:none;}
.cartSummaryTotalsContainer h2 {font-size:16px; padding:4px 10px;}
.cartButtons span {display:block; margin-bottom: 0.5em;}

/**** ProdList CSS****/
.productList {width:100%;}
.productList > li {height: auto; width:100%; margin:0px; padding:5px 0px; border-top:1px solid #D7D9DB;}
.prodThumbContainer {float:left; padding-right:10px; margin:0px;}
.productList .prodViewerAddToCartForm {position:static;}

/**** ProdListSearch CSS****/
.searchList{width:100%;}
.searchList > li {width:100%; height:auto; padding:5px 0px; margin: 0px; border-top:1px solid #D7D9DB;}

/**** Product Page CSS****/
.prodPageNameContainer{padding:0px; background:none; border:0px;}
.prodPageName {padding:0px 5px 5px; background:none;}
.prodPageName h1 {min-height:40px; font-size:18px; color:#000000;}
.imageContainer {width:270px;}
.prodPageMainImage {float: left;}
.prodBigImage{margin:0 auto; display:block; border: 1px solid #CCCCCC;}
.additionalImageSection {float: right;}
.imgThumbContainer img { border: 1px solid #CCCCCC; margin: 0px 0px 5px 2px;}
.prodSummaryContainer {padding:0px; width:270px; text-align:left;}
.tabbedProductContentTD {width:100%;}
.ui-tabs .ui-tabs-nav li a {padding:7px 12px;}
.tabContent.ui-tabs-panel.ui-widget-content.ui-corner-bottom{padding:1% 4%;}
.productReviewsList {padding:0px;}
.reviewBtn{width:90px; height:25px;}
.reviewLineItem{border:0px; padding:0px;}
.reviewLineItem blockquote {margin:0px;}
#reviewFrm .ui-button {float:left;}
.similarItemsSectionTD {float:left; width:98%; padding:1%;}
.similarProductList {width:100%;}
#review-modal.ui-dialog-content.ui-widget-content{padding:5px;}
#reviewFrm label {	text-align:left;}
#reviewsMessage {height:125px; width:240px;}

/**** Company Pages CSS****/
.sideline {width:23%; border: 1px solid #939598; padding:6px;}
.mainColumn {width:70%;}



}
/***** Responsiv Css Close *****/