/* Mobile view */
@media only screen and (max-width: 640px) {
.displayBlockMobile {display:block;}
.displayInlineMobile {display:inline;}
.displayNoneMobile {display: none;}

/**** appPreView CSS****/
#appPreView{width:280px;}

/**** Content Area CSS****/
#appView{width:100%;}
#contentArea{width:98%; padding:1%;}
#contentArea.sideBarRightShow{width:98%; padding:1%;}
#contentArea.sideBarRightHide{width:98%; padding:1%;}

/**** Header CSS****/
#header {height:55px; background: url(images/topbar_logosection_bg.jpg) repeat-x bottom;}
#logo {position:static;}
.topNavRight {width:290px; float:none; margin:0 auto;}
.productSearchForm{width:270px; float:none; margin:0 auto; padding:3px 10px 0px;}
.searchBar {width:215px; height:16px;}

/**** Footer CSS****/
.zephyrHelpBox {width:280px; height:auto;}
.zephyrHelpBox ul { margin: 0; padding: 8px; width: 124px;}
.zephyrHelpBox li {list-style: none;}
.infoFooter {min-height:15px; padding:10px 0px;}

/**** Homepage CSS****/
.randomList {height:auto;}
#sideBarRight {height:0px; overflow:hidden;}
.listHeader{padding-left:10px; padding-top:4px; height:20px; margin:0px;}

/**** Category CSS****/
.categoryList {padding:2px;}
.categoryList > li {height:72px; width:70px;}

/**** Cart CSS****/
.cartSummaryTotalsContainer h2 {font-size:16px; padding:4px 10px;}
.cartButtons span {display:block; margin-bottom: 0.5em;}

/**** ProdList CSS****/
.productList {width:100%;}
.productList > li {height: auto; width:100%; margin:0px; padding:5px 0px; border-top:1px solid #D7D9DB;}
.prodThumbContainer {float:left; padding-right:10px; margin:0px;}
.productList .prodViewerAddToCartForm {position:static;}

/**** Product Page CSS****/
.prodPageNameContainer{padding:0px; background:none; border:0px;}
.prodPageName {padding:2px 6px 10px; background:none;}
.prodPageName h1 {min-height:40px; font-size:17px; color:#194a75;}
.imageContainer {width:270px;}
.prodPageMainImage {float: left;}
.prodBigImage{margin:0 auto; display:block; border: 1px solid #CCCCCC;}
.additionalImageSection {float: right;}
.imgThumbContainer img { border: 1px solid #CCCCCC; margin: 0px 0px 5px 2px;}
.prodSummaryContainer {padding:0px; width:270px; text-align:left;}
.tabbedProductContentTD {width:270px;}
.ui-tabs .ui-tabs-nav li a {padding:7px 12px;}
.similarItemsSectionTD {float:left; width:260px; padding:3px;}
.similarProductList {width:260px;}
#review-modal.ui-dialog-content.ui-widget-content{padding:5px;}
#reviewFrm label {	text-align:left;}
#reviewsMessage {height:125px; width:240px;}

/**** Company Pages CSS****/
.sideline {width:23%; border: 1px solid #939598; padding:6px;}
.mainColumn {width:70%;}



}
/***** Responsiv Css Close *****/