body {
	background: url(images/zs10_body_bg-2000x16.gif) repeat scroll center #717171;
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0px;
	font-size:12px;
}
#appView {
	width: 990px;
	margin: 0 auto;
}
.clear {
	clear:both;
}
.marginAuto{
	margin:0 auto;
}
/***** appPreView CSS Start *****/
#appPreView {
    background: none repeat scroll 0 0 #C7C7C7;
    border: 2px solid #464646;
    border-radius: 15px;
    margin: 10px auto;
    padding: 8px;
    width: 400px;
}
.appPreViewLogo {
	margin: 0 auto;
	display:block;
}

/***** appPreView CSS End *****/


/***** Top Bar CSS Start *****/
#header{
	position:relative; /* Must be non-static for children to position correctly */
	width: 100%;
	height: 120px;
}
#logo {
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 5;
}
#headerBar {
	background: url(images/topbar_logosection_bg.jpg) repeat-x bottom;
	height:75px;
	border-radius:7px 7px 0px 0px;
	position: absolute;
	top: 45px;
	width: 100%;
}
.headerBarLinks {
	width:483px;
	float:right;
}
.headerBarLinks > ul {
    float: left;
    color: #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 6px 0px;
}
.headerBarLinks li {
    display: inline;
    padding: 0 3px;
}
.headerBarLinks a {
    color: #FFFFFF;
    text-decoration: none;
}
.mcAfeeBadge {
	margin: 12px 7px;
	float:right;
}
.freeShipTopBar {
	float: right;
}
.questionsTopBar{
	color: #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.questionsTopBar img {
	padding: 0px 7px 0px 0px;
}
.phoneTopBar {
	color: #FFC000;
	margin: 3px;
	font-weight: bold;
	font-size: 16px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.topNav {
	background: url(images/topbar_topnav_bg.jpg) repeat-x;
	height: 26px;
	padding: 3px 0px;
}
.topNavLeft {
	width:525px;
	float:left;
}
.topNavRight {
	width: 380px;
	float:right;
}
.cartDetails {
	color: #ffffff;
	font-size:11px;
}
.headerCheckoutBtn{
	padding: 3px 9px;
}
.productSearchForm{
	padding: 2px 25px;
	width:365px;
	float:left;
}
.searchSection {
	background: url(images/topbar_search_bg.jpg) repeat-x;
	height:26px;
}
.searchBar {
	width: 302px;
	height:13px;
	font-size:12px;
	border:1px solid #000066;
	border-radius:0px;
}
.searchBtn {
	background: url(images/zs_btn_search-48x18.gif);
	border: 0 none;
	width: 48px;
}
.socialIcons {
	padding:2px;
	width:95px;
	float: right;
}
.socialIcons img {
	padding: 0px 1px;
}
/***** Top Bar CSS End *****/

/***** Responsive ddMenu CSS Start *****/
.responsiveDropdown{
    background:url("images/ddmenubtn_bg.jpg") no-repeat scroll right top #000000;
}
.ddMenu {
    padding: 7px 0;
	position: relative;
    width: 300px;
    margin: 0 auto;
}
.ddMenuBtn {
    background: #0878da;
	border: 1px solid #060606;
    border-radius: 13px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}
.dropdownArrow{margin:14px 0px 0px 5px;}
.dropdown { 
	background: #0878da; 
	position: absolute; 
	z-index:999; 
	top:40px; 
	left: 0px; 
	height: 0px; 
	border: 1px solid #060606; 
	border-top: none; 
	border-radius: 0px 0px 13px 13px;
}
.dropdown > div { 
	border-top: 1px solid #060606; 
	color:#ffffff;
	font-size: 15px; 
	line-height: 30px; 
	text-align: center;
}
/***** Responsive ddMenu CSS End *****/


/***** Footer CSS Start *****/
#footer {
	background:#ffffff;
}
.zephyrHelpHeader{
	background: #C7C7C7;
}
.zephyrHelpBox {
	width:978px;
	height: 169px;
	border: 1px solid #a9a9a9;
	margin: 5px auto;
}
.infoFooter {
	min-height:150px;
	background: url(images/zs_new_footer3_bg-1x114.jpg) repeat-x #000000;
}
.infoFooter p {
	color: #CCCCCC;
	margin: 0px;
	font-size: 11px;
}
.infoFooter a {
	text-decoration: none;
	color: #333333;
}
.infoFooter a:hover {
	color: #0a76d9;
}
.storeHoursFooter{
	padding: 10px 8px;
}
/***** Footer CSS End *****/


/***** Sidebar Left CSS Start *****/
#sideBarLeft {
	width: 185px;
	float: left;
}
#sideBarLeft .marginBottom{
	margin-bottom: 9px;
}
.sideBarCategories {
	padding: 4px;
}
.sideBarCategories div {
    border-bottom: 1px solid #E6E6E6;
    font-size: 11px;
    margin-top: 3px;
    padding-bottom: 3px;
}
.sideBarCategories div a {
    background: url("images/zs_new_cat_arrow-8x12.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    padding-left: 15px;
	text-decoration: none;
}
.sideBarCategories div a:hover {
    color: #FF7F00;
}
.sideBarCategories .subCatList a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0B487F;
	font-size: 12px;
}
.sideBarCategories .subCatList {
    border: 0 none;
}
.sideBarLogin {
	background: #cbe3f7;
	width: 183px;
	height: 68px;
}
.sideBarLogin div {
    height: 18px;
    padding-bottom: 3px;
}
.sideBarLogin label {
    color: #153F64;
    float: left;
    font-size: 11px;
    line-height: 18px;
    text-align: right;
    width: 58px;
}
.sideBarLogin fieldset {
    border: 0 none;
    margin: 0;
    padding: 3px 6px;
    width: 170px;
}
.sideBarLogin input {
    border: 1px solid #A5A5A5;
    float: right;
    height: 14px;
    padding: 1px 0;
    width: 94px;
}
.sideBarLogin .sideBarSignIn {
    border: medium none;
    height: 17px;
    width: 58px;
}
/***** Sidebar Left CSS End *****/


/***** Sidebar Right CSS End *****/
#sideBarRight {
	width: 185px;
	float: right;
}
#sideBarRight .marginBottom{
	margin-bottom: 9px;
}
#contentArea.sideBarRightShow {
	width:600px;
	padding:5px;
}
#contentArea.sideBarRightHide {
	width:790px;
	padding:5px 0px 5px 5px;
}
.productListRecentlyViewed {
	padding:2px;
	border:1px solid #CCCCCC;
	width:177px;
	min-height:156px;
}
.productListRecentlyViewed li {
	min-height:50px;
	margin: 2px 0px 0px;
}
.recentViewList .prodThumb {
	float:left;
	margin-right: 4px;
}
.recentViewProdName {
    color: #3D1F00;
    font-size: 10px;
}
.recentViewPriceDetail{
	font-size: 10px;
}
.recentViewProdPrice {
    color: #D36101;
	padding-right:5px;
}
.recentViewMoreDetails{
	color: #0B487F;
}
.recentViewMoreDetails:hover{
	color:#FF7F00;
}
/***** Sidebar Right CSS End *****/


/***** Main Content Area CSS End *****/
#container {
	background: #ffffff;
	padding:5px;
}
#contentArea {
	width: 600px;
	float:left;
	padding:5px;
}
h1 {
    color: #FF7F00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
}
h2 {
    color: #3D1F00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
}

a {
    color: #0B487F;
}
a:hover {
    color: #FF7F00;
}
/***** Main Content Area CSS End *****/


/***** Homepage CSS Start *****/
#slideshowContainer {
	margin-bottom: 5px;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshow {
	width: 600px;	
	height: 284px;
	position:absolute; 
	left:0; 
	top:0;
	overflow:hidden;
}
#slideshowNav {
    bottom: 5px;
    right: 10px;
    position: absolute;
    text-align: left;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #nav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}
#slideshowContainer {
    margin-bottom: 5px;
    max-height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshowContainer #slideshow {
    margin: 0;
    padding: 0;
}
#slideshowContainer #slideshow li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#slideshowNav {
    bottom: 15px;
    left: 10px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #slideshowNav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}
.listHeader {
	background-image: url("images/zs11_h_title_bg-1x25.jpg");
    color: #FFFFFF;
    font-family: Arial,Verdana,Sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    margin-bottom: 3px;
    padding-left: 7px;
    padding-top: 3px;
}
.randomList {
	height: 845px;
	overflow:hidden;
}
/***** Copied CSS Start *****/
.info-wrapper {
	height: auto;
	width: 595px;
	margin: auto;
	padding: 0 0 2em 0;
	position: relative;
}
.info {
	max-height: 300px;
	height: 10000px;
	padding: 0em 0em -2em 1em;
	border-bottom: solid 1px #fff;
	border-radius: 0 0 1em 1em;
	overflow: hidden;
	position: relative;
	transition: 1s;
}
.info:after, .aftershadow {
	bottom: 0;
	width: 99%;
	height: 3em;
	border-radius: 0 0 1em 1em;
	position: absolute;
	content: '';
}
.aftershadow {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00cccccc, endColorstr=#ffcccccc);
}
.info-wrapper input[type=checkbox] {
	display: none;
}
.info-wrapper label {
	left: 50%;
	bottom: .1em;
	width: 9em;
	height: 1.7em;
	margin:  0 0 0 -4.5em;
	border-bottom: solid 1px #fff;
	border-radius: 0 0 1em 1em;
	overflow: hidden;
	position: absolute;
	font: 800 1em/1.5em Arial;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}
.info-wrapper label .more { margin: -.1em 0 .35em; transition: 1s; }
.info-wrapper .switch {
	width: 4em;
	display: inline-block;
}
.info-wrapper input[type=checkbox]:checked ~ .info {
	max-height: 2840px;
}
.info-wrapper input[type=checkbox]:checked + label .more {
	margin-top: -1.65em;
}
.info-wrapper h2 {
    color: #FF7F00;
    font-size: 13px;
}
.info-wrapper p {
    font-size: 12px;
    margin: 10px;
}
/***** Copied CSS End *****/
/***** Homepage CSS End *****/


/***** Category Page CSS Start *****/
.breadcrumb {background:#ff7c00; padding:2px 4px;}
.breadcrumb li:after {color:#ffffff; padding-left:3px;}
.breadcrumb li a{color:#ffffff; font-size:11px; text-decoration:none;}
.breadcrumb li:last-child a {color: #ffffff;}
.categoryList{
	background-color: #E6E6E6;
    border: 1px double #BBBBBB;
	padding: 5px;
}
.categoryList > li{
	width:80px; 
	height: 82px;
	margin: 2px;
	overflow:hidden;
}
.categoryList .catThumb{
	margin-bottom: 5px;
}
.categoryList .catName {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 10px;
    text-align: center;
	padding: 2px;
}
.txt_border_box {
    border: 1px double #BBBBBB;
    font-size: 0.9em;
    margin-bottom: 6px;
    padding: 3px;
    text-align: justify;
    width: auto;
}
.ztxt {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}
.ztxt p {
	margin:0px;
}
/***** Category Page CSS End *****/


/***** ProductListTemplate CSS Start *****/
.productList {
	width:540px;
	margin: 0 auto;
}
.productList > li {
	height:260px;
	margin: 10px 15px 15px;
}
.prodListName {
	color: #0B487F;
	font-size:11px;
	line-height:14px;
}
.prodListName:hover {
	color:#FF7F00;
}
.prodListPricing {
    margin: 2px 0;
}
.prodListPrice {
	font-size: 12px;
	font-weight: bold;
	color: #2c2c2c;
	line-height:15px;
}
.prodListPrice span {
	color:#D11919;
}
.prodListSavings {
	color:#F05E0F;
	font-size:11px;
}
.productList .prodViewerAddToCartForm{
	position:absolute;
	bottom:0px;
	left:21%;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.addToCartButton{
	background: -moz-linear-gradient(center top , #6F6F6F 0%, #464646 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 3px;
    padding: 2px 0;
    text-align: center;
    width: 85px;
	font-weight:normal;
	font-size: 11px;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.addToCartButton:hover {
	background:-moz-linear-gradient(center top , #F4720C 0%, #FF3800 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.addToCartButton .ui-button-text {
	padding:2px;
}
.prodListTagsContainer {
	height: 27px;
	width:127px;
	overflow: hidden;
	position: absolute;
    right: -15px;
    top: 128px;
	z-index: 99;
}
.prodThumbContainer {
	position: relative;
	margin-bottom: 5px;
}
.prodListTagsContainer span{
	display: inline-block;
	height: 27px;
	width: 127px;
	background: url(images/zephyr_tags.png) no-repeat;
}
.prodListTagsContainer .is_bestseller{background-position:-1px -1px;}
.prodListTagsContainer .is_preorder{background-position:-1px -136px;}
.prodListTagsContainer .is_sale{background-position:-1px -163px;}
.prodListTagsContainer .is_specialorder{background-position:-1px -190px;}
.prodListTagsContainer .is_newarrival{background-position:-1px -82px;}
.prodListTagsContainer .is_discontinued{display:none;}
.prodListTagsContainer .is_user3 {display:none;}
.prodListTagsContainer .is_user5 {display:none;}
.prodListTagsContainer .is_user6 {display:none;}
.prodListTagsContainer .is_user7 {display:none;}
.prodListTagsContainer .is_shipfree {display:none;}

/***** ProductListTemplate CSS End *****/


/***** ProductTemplate CSS Start *****/
.prodPageNameContainer {
	background:#FFFFFF url(images/zs_prd_tit_mid-1x59.gif) repeat-x top; 
	border-left:1px solid #EEEEEE; 
	padding-left:10px;
}
.prodPageName{
	background:url(images/zs_prd_tit_right-17x59.gif) no-repeat right top; 
	padding:10px 10px 18px 0px; 
}
.prodPageName h1 {
	color:#FFFFFF;
	font-size:21px; 
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
}
.tagsContainer span{
	display: inline-block;
	height: 27px;
	width: 127px;
	background: url(images/zephyr_tags.png) no-repeat;
}
.tagsContainer .is_bestseller{background-position:-1px -1px;}
.tagsContainer .is_preorder{background-position:-1px -136px;}
.tagsContainer .is_sale{background-position:-1px -163px;}
.tagsContainer .is_specialorder{background-position:-1px -190px;}
.tagsContainer .is_newarrival{background-position:-1px -82px;}
.tagsContainer .is_discontinued{display:none;}
.tagsContainer .is_user1 {background-position:-1px -28px;}
.tagsContainer .is_user3 {display:none;}
.tagsContainer .is_user5 {display:none;}
.tagsContainer .is_user6 {display:none;}
.tagsContainer .is_user7 {display:none;}
.tagsContainer .is_shipfree {display:none;}

.imageContainer {
	width:545px;
	padding: 0px;
}
.imgZoomPlugin {
	float:left;
	border:1px solid #CCCCCC;
}
.thumbImageCont.thumbCarousel {
    float: left;
    width: 96px;
}
.thumbImageCont.thumbCarousel img {
    border: 2px solid #CCCCCC;
    margin: 0px 5px 3px;
}
.prodSummaryContainer{
	width:225px;
	padding-right: 20px;
	position: relative;
}
.basePrice {
	color:#FF7F00; 
	font-size:17px; 
	font-weight:bold;
}
.savingsSection {
	color:#000000;
	font-size: 11px;
}
.prodMSRP {
	text-decoration: line-through;
}
.prodSummaryContainer .savingsDifference{
	color:#00A74D; 
	padding-left:20px;
}
.addToCartButton.greenAddToCartButton {
	height:60px;
	width:157px;
	background: url(images/zs09_add_to_cart.jpg) no-repeat;
	border:none;
}
.prodPageMFG span{
	color: #0B487F;
}
.prodPageMFG span:hover {
	color:#FF7F00;
}
.tabbedProductContentTD {
	width: 580px;
	float:left;
}
.similarItemsSectionTD {
	width: 200px;
	padding-left: 10px;
}
.similarProductList {
	padding:2px;
	border:1px solid #CCCCCC;
	width:187px;
}
.similarItemList {
	min-height:50px;
	margin: 2px 0px 0px;
	border-bottom:1px dashed #D7D7D7;
	padding-bottom:3px;
}
.similarItemList .prodThumb {
	float:left;
	margin-right: 4px;
}
.similarItemProdName {
    color: #3D1F00;
    font-size: 10px;
}
.similarItemPriceDetail{
	font-size: 10px;
}
.similarItemProdPrice {
    color: #D36101;
	padding-right:5px;
}
.similarItemMoreDetails{
	color: #0B487F;
}
.similarItemMoreDetails:hover{
	color:#FF7F00;
}
/***** ProductTemplate CSS End *****/


/***** SearchTemplate CSS Start *****/
.searchList {width:210px; margin:0 auto;}
.searchList > li{
	width:190px;
	margin: 0px 10px 15px;
	height:170px;
}
.prodThumbSearchResults{
	margin:0 auto;
	display:block;
}
.moreDetails {	
	background: -moz-linear-gradient(center top , #6F6F6F 0%, #464646 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 3px auto;
    padding: 2px 0;
    text-align: center;
    width: 85px;
	font-weight:normal;
	font-size: 11px;
}
.moreDetails:hover{
	background:-moz-linear-gradient(center top , #F4720C 0%, #FF3800 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/***** SearchTemplate CSS End *****/