/* Mobile view */
@media only screen and (max-width: 479px) {
.displayBlockMobile {display:block;}
.displayInlineMobile {display:inline;}
.displayNoneMobile {display: none;}

/**** appPreView CSS****/
#appPreView{width:280px;}

/**** Header CSS****/
#header {height:100px;}
#logo {left: 5px;top: 5px;}
#headerBar { top:35px; height:65px;}
.topNavRight {width:290px;}
.productSearchForm{width:270px; padding:3px 10px;}
.searchBar {width:215px;}

/**** Footer CSS****/
.zephyrHelpBox {width:280px;}

/**** Homepage CSS****/
.randomList {height:2030px;}
#sideBarRight {height:0px; overflow:hidden;}

/**** Content Area CSS****/
#appView{width:290px;}
#contentArea.sideBarRightShow{width:270px; padding:5px;}
#contentArea.sideBarRightHide{width:270px; padding:5px;}
.productList {width:180px;}
.productList > li {height: 240px;margin: 0 15px 15px;}
}

/**** Product Page CSS****/
.prodPageNameContainer{padding-left:3px;}
.prodPageName {padding:2px 14px 10px 0px;}
.prodPageName h1 {min-height:40px; font-size:14px;}
.imageContainer {width:270px;}
.prodBigImage{margin:0 auto; display:block;}
.imgThumbContainer img { border: 2px solid #CCCCCC; float: left; margin: 2px 1px 1px 2px;}
.prodSummaryContainer {padding:0px; width:270px; text-align:left;}
.priceContainer {margin:12px 0px 0px;}
.tabbedProductContentTD {width:270px;}
.ui-tabs .ui-tabs-nav li a {padding:7px 12px;}
.similarItemsSectionTD {float:left; width:260px; padding:3px;}
.similarProductList {width:260px;}
#review-modal.ui-dialog-content.ui-widget-content{padding:5px;}
#reviewFrm label {	text-align:left;}
#reviewsMessage {height:125px; width:240px;}
/***** Responsiv Css Close *****/