body {
	background: url(images/zs10_body_bg-2000x16.gif) repeat scroll center #000000;
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0px;
}
#appView {
	width: 990px;
	margin: 0 auto;
}
#mainContentArea{
	background: #ffffff;
}

/***** Top Bar CSS Start *****/
#header{
	position:relative; /* Must be non-static for children to position correctly */
	width: 100%;
	height: 120px;
}
#logo {
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 5;
}
#headerBar {
	background: url(images/topbar_logosection_bg.jpg) repeat-x bottom;
	height:75px;
	border-radius:7px 7px 0px 0px;
	position: absolute;
	top: 45px;
	width: 100%;
}
.topNav {
	background: url(images/topbar_topnav_bg.jpg) repeat-x;
	height: 26px;
	padding: 3px 0px;
}
.topNavLeft {
	width:525px;
	float:left;
}
.topNavRight {
	width: 360px;
	float:right;
}
.cartDetails {
	color: #ffffff;
	font-size:11px;
}
.headerCheckoutBtn{
	padding: 3px 9px;
}
.productSearchForm{
	padding: 2px 25px;
	width:365px;
	float:left;
}
.searchSection {
	background: url(images/topbar_search_bg.jpg) repeat-x;
	height:26px;
}
.searchBar {
	width: 302px;
	height:13px;
	border:1px solid #000066;
	border-radius:0px;
}
.searchBtn {
	background: url(images/zs_btn_search-48x18.gif);
	border: 0 none;
	width: 48px;
}
.socialIcons {
	padding:2px;
	width:95px;
	float: right;
}
.socialIcons img {
	padding: 0px 1px;
}
/***** Top Bar CSS End *****/