/* Mobile view */
@media only screen and (max-width: 479px) {
.displayBlockMobile {display:block;}
.displayInlineMobile {display:inline;}
.displayNoneMobile {display: none;}

/**** appPreView CSS****/
#appPreView{width:280px;}

/**** Header CSS****/
#header {height:75px;}
#logo {left: 30px;top: 0px;}
#headerBar { top:20px; height:55px;}
.topNavRight {width:290px;}
.productSearchForm{width:270px; padding:3px 10px;}
.searchBar {width:215px;}

/**** Footer CSS****/
.zephyrHelpBox {width:280px; height:auto;}
.zephyrHelpBox ul { margin: 0; padding: 8px; width: 124px;}
.zephyrHelpBox li {list-style: none;}
.infoFooter {min-height:60px; padding-top:10px;}

/**** Homepage CSS****/
.randomList {height:2040px;}
#sideBarRight {height:0px; overflow:hidden;}

/**** Homepage CSS****/
.cartSummaryTotalsContainer h2 {font-size:16px; padding:4px 10px;}
.cartButtons span {display:block; margin-bottom: 0.5em;}

/**** Content Area CSS****/
#appView{width:290px;}
#contentArea{width:270px; padding:5px;}
#contentArea.sideBarRightShow{width:270px; padding:5px;}
#contentArea.sideBarRightHide{width:270px; padding:5px;}

/**** ProdList CSS****/
.productList {width:210px;}
.productList > li {height: 190px; width:190px; margin: 0 10px 15px;}
.prodThumb {margin:0 auto;}
.prodListTagsContainer {right:0px; top:73px;}
.productList .prodViewerAddToCartForm {left:27%;}

/**** Product Page CSS****/
.prodPageNameContainer{padding:0px; background:none; border:0px;}
.prodPageName {padding:2px 6px 10px; background:none;}
.prodPageName h1 {min-height:40px; font-size:17px; color:#194a75;}
.imageContainer {width:270px;}
.prodBigImage{margin:0 auto; display:block;}
.imgThumbContainer img { border: 2px solid #CCCCCC; float: left; margin: 2px 1px 1px 2px;}
.prodSummaryContainer {padding:0px; width:270px; text-align:left;}
.priceContainer {margin:12px 0px 0px;}
.tabbedProductContentTD {width:270px;}
.ui-tabs .ui-tabs-nav li a {padding:7px 12px;}
.similarItemsSectionTD {float:left; width:260px; padding:3px;}
.similarProductList {width:260px;}
#review-modal.ui-dialog-content.ui-widget-content{padding:5px;}
#reviewFrm label {	text-align:left;}
#reviewsMessage {height:125px; width:240px;}

/**** Company Pages CSS****/
.sideline {width:23%; border: 1px solid #939598; padding:6px;}
.mainColumn {width:70%;}



}
/***** Responsiv Css Close *****/