body {
	background: url(images/zs10_body_bg-2000x16.gif) repeat scroll center #000000;
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0px;
}
#appView {
	width: 990px;
	margin: 0 auto;
}
.clear {
	clear:both;
}
/***** Top Bar CSS Start *****/
#header{
	position:relative; /* Must be non-static for children to position correctly */
	width: 100%;
	height: 120px;
}
#logo {
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 5;
}
#headerBar {
	background: url(images/topbar_logosection_bg.jpg) repeat-x bottom;
	height:75px;
	border-radius:7px 7px 0px 0px;
	position: absolute;
	top: 45px;
	width: 100%;
}
.headerBarLinks {
	width:483px;
	float:right;
}
.headerBarLinks > ul {
    float: left;
    color: #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 6px 0px;
}
.headerBarLinks li {
    display: inline;
    padding: 0 3px;
}
.headerBarLinks a {
    color: #FFFFFF;
    text-decoration: none;
}
.mcAfeeBadge {
	margin: 12px 7px;
	float:right;
}
.freeShipTopBar {
	float: right;
}
.questionsTopBar{
	color: #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.questionsTopBar img {
	padding: 0px 7px 0px 0px;
}
.phoneTopBar {
	color: #FFC000;
	margin: 3px;
	font-weight: bold;
	font-size: 16px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.topNav {
	background: url(images/topbar_topnav_bg.jpg) repeat-x;
	height: 26px;
	padding: 3px 0px;
}
.topNavLeft {
	width:525px;
	float:left;
}
.topNavRight {
	width: 360px;
	float:right;
}
.cartDetails {
	color: #ffffff;
	font-size:11px;
}
.headerCheckoutBtn{
	padding: 3px 9px;
}
.productSearchForm{
	padding: 2px 25px;
	width:365px;
	float:left;
}
.searchSection {
	background: url(images/topbar_search_bg.jpg) repeat-x;
	height:26px;
}
.searchBar {
	width: 302px;
	height:13px;
	border:1px solid #000066;
	border-radius:0px;
}
.searchBtn {
	background: url(images/zs_btn_search-48x18.gif);
	border: 0 none;
	width: 48px;
}
.socialIcons {
	padding:2px;
	width:95px;
	float: right;
}
.socialIcons img {
	padding: 0px 1px;
}
/***** Top Bar CSS End *****/


/***** Footer CSS Start *****/
#footer {
	background:#ffffff;
}
.zephyrHelpHeader{
	background: #C7C7C7;
}
.zephyrHelpBox {
	width:978px;
	height: 169px;
	border: 1px solid #a9a9a9;
	margin: 5px auto;
}
.infoFooter {
	min-height:150px;
	background: url(images/zs_new_footer3_bg-1x114.jpg) repeat-x #000000;
}
.infoFooter p {
	color: #CCCCCC;
	margin: 0px;
	font-size: 11px;
}
.infoFooter a {
	text-decoration: none;
	color: #333333;
}
.infoFooter a:hover {
	color: #0a76d9;
}
.storeHoursFooter{
	padding: 10px 8px;
}
/***** Footer CSS End *****/


/***** Sidebar Left CSS Start *****/
#sideBarLeft {
	width: 185px;
	float: left;
}
.sideBarCategories {
	padding: 4px;
}
.sideBarCategories div {
    border-bottom: 1px solid #E6E6E6;
    font-size: 11px;
    margin-top: 3px;
    padding-bottom: 3px;
}
.sideBarCategories div a {
    background: url("images/zs_new_cat_arrow-8x12.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    padding-left: 15px;
	text-decoration: none;
}
.sideBarCategories div a:hover {
    color: #FF7F00;
}
.sideBarCategories .subCatList a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0B487F;
	font-size: 12px;
}
.sideBarCategories .subCatList {
    border: 0 none;
}
/***** Sidebar Left CSS End *****/


/***** Sidebar Right CSS End *****/
#sideBarRight {
	width: 185px;
	float: right;
}
#sideBarRight .marginBottom{
	margin-bottom: 9px;
}
.productListRecentlyViewed {
	padding:2px;
	border:1px solid #CCCCCC;
	width:177px;
	min-height:156px;
}
.productListRecentlyViewed li {
	height:50px;
	margin: 2px 0px 0px;
}
.recentViewList .prodThumb {
	float:left;
	margin-right: 4px;
}
.recentViewProdName {
    color: #3D1F00;
    font-size: 10px;
}
.recentViewProdPrice {
    color: #D36101;
    font-size: 10px;
	padding-right:5px;
}
/***** Sidebar Right CSS End *****/


/***** Main Content Area CSS End *****/
#container {
	background: #ffffff;
	padding:5px;
}
#contentArea {
	width: 600px;
	float:left;
	padding:5px;
}

/***** Main Content Area CSS End *****/


/***** Homepage CSS Start *****/
#slideshowContainer {
	margin-bottom: 5px;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshow {
	width: 600px;	
	height: 284px;
	position:absolute; 
	left:0; 
	top:0;
	overflow:hidden;
}
#slideshowNav {
    bottom: 5px;
    right: 10px;
    position: absolute;
    text-align: left;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #nav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}
#slideshowContainer {
    margin-bottom: 5px;
    max-height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshowContainer #slideshow {
    margin: 0;
    padding: 0;
}
#slideshowContainer #slideshow li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#slideshowNav {
    bottom: 15px;
    left: 10px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #slideshowNav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}
.featuredItemHeader {
	background-image: url("images/zs11_h_title_bg-1x25.jpg");
    color: #FFFFFF;
    font-family: Arial,Verdana,Sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    margin-bottom: 3px;
    padding-left: 7px;
    padding-top: 3px;
}
.randomList {
	height:822px;
	overflow:hidden;
}
/***** Homepage CSS End *****/


/***** Category Page CSS Start *****/
.categoryList{
	background-color: #E6E6E6;
    border: 1px double #BBBBBB;
	padding: 5px;
}
.categoryList > li{
	width:80px; 
	height: 82px;
	margin: 2px;
	overflow:hidden;
}
.categoryList .catThumb{
	margin-bottom: 5px;
}
.categoryList .catName {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 10px;
    text-align: center;
	padding: 2px;
}
/***** Category Page CSS End *****/

