@charset "utf-8";
/* CSS Document */

body {
	background: white;	font-family: Arial, Helvetica, sans-serif; color:#666666;
}

#appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
	}


#appPreView	{
	margin:10% 25%; padding:0px; position:absolute; z-index:10000; background:#ffffff;
	border:6px solid #a3033d;
	-webkit-box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
	box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
	}
#appPreView .logo	{padding:24px; text-align:center;}
#appPreViewProgressBar	{margin:12px 0;}
#loader	{color:#ffffff; background:#ce004e; padding:24px;}

#appPreViewBG	{position:absolute; top:0; left:0; right:0; bottom:0; z-index:9999;}
#mainContentArea	{min-height:300px;}


#appNav	{top:220px; width:100%;}
#appNav .prodDetailNextItemButton	{right:-60px;}
#appNav .prodDetailPrevItemButton	{left:-60px;}





a	{color:#a3033d;}
a:hover	{color:#666666;}


/*************************

PERSISTENT CONTENT

*************************/

/*************************************************************************************

HEADER

*************************************************************************************/

/* links above logo/search */
.topNav {
	height: 34px;
	background: #a3033d;
	color: white;
	font-size:.75em;
	line-height:34px;
	}

.topNav a	{color:#ffffff; text-decoration:none; padding:0 12px;}


.logoSearchContainer {	
	background: white;
	margin-left: auto;
  	margin-right: auto;
	padding: 20px 0;
	}


/* logo and search */

#logo {float: left;}

.searchBarContainer {
	margin-top: 6px;
	float: right;
	height: 20px;	
	}

#searchBar {
	height: 29px;
	width: 275px;
	}

#searchButton {
	float: right;
	height: 35px;
	text-align: center;
	font-weight: bold;
	background: #a3033d;
	border: 0 none;
	color: white;
	}


/* links under logo and search */

.mainNavContainer	{
	background: #a3033d;
	height: 34px;
	position:relative;
	overflow:visible;
	z-index:99;
	}

.mainNavContainer ul, .mainNavContainer li	{list-style:none; margin:0; padding:0;}
.mainNavContainer ul.topLinks li	{width:20%; float:left; display:block;}

.mainNavContainer a:hover	{
	color: #a3033d;
	background:#fff;
	}

.mainNavContainer a {
	font-weight: bold;
	text-decoration:none;
	font-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: 	#fff;
	line-height: 34px;
	display:block;
	margin:2px 2px 0 2px;
	padding-bottom:2px; /* compensates for no margin, which is used for a hover effect */
	}

#browseMenuContent	{
	background:#ffffff; 
	border:2px solid #a3033d; border-top-width:0; 
	position:absolute; top:34px; right:0; left:0; 
	z-index:100;
	}

#browseMenuContent ul.columnify	{
	-moz-column-count:4; /* Firefox */
	-webkit-column-count:4; /* Safari and Chrome */
	column-count:4;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	}
#tier1categories	{margin:12px;}
#tier1categories li	{color:#a3033d; padding:4px; cursor:pointer;}
#tier1categories li:hover	{color:#fff; background-color:#a3033d;}
/*
HOMEPAGE
*/

.mainBannerContainer {
	height: 294px;
	overflow:hidden;
	margin-bottom:1px;
	position:relative;
	}

.mainBannerGraphic {
	width: 703px;	
	height: 294px;
	position:absolute; left:0; top:0;
	}


.mainBannerNewsletter {
	background-color: #ce004e;
	width: 317px;
	height: 294px;
	float: right;
	text-align: center;
	color: white;
}


.listHeader	{line-height:34px; padding:0 12px; margin-bottom:6px; background-color: #F0F0F0; color:#ce004e;}
.listHeader a	{color:#ce004e;}


#scoop {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;	
}

#latest {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.headerNewsletterSignUpContainer {
	width: 95%;
	heigth: 75px;
	background: #ce004e;
	margin-right: auto;
	margin-left: auto;	
}

.headerSubscribeFrm {
	height: 29px;
	width: 230px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#headerSignUpButton {
	height: 35px;
	width: 70px;
	text-align: center;
	background: #a3033d;
	border: 0 none;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#followUs { 
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;	
}

.socialIconContainer {
	height: 50px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;	
}

#facebook {
	float: left;
	width: 25%;	
}

#twitter {
	float: left;
	width: 25%;	
}

#youtube {
	float: left;
	width: 25%;	
}

#tumbler {
	float: left;
	width: 25%;	
}

.catagorySelectNavContainer {
	background-color: white;
	width: 92%;
	height: 110px;
	padding-top: 15;
	margin-left: auto;
  	margin-right: auto;
}


/*************************************************************************************

FOOTER

**************************************************************************************/


.footerNewsletter {
	background: #ce004e;
	height: 60px;
	margin-left: auto;
  	margin-right: auto;
	padding-bottom: 10px;
}

.footerNewsletter .marginTop	{
	margin-top:20px;
	}
#subscribeFrm	{margin:0 34px;}
#upToDate {
	padding-top:4px;
	color: white;
	line-height:29px;
	height:29px;
	font-weight:bold;
	font-family: "Arial Black", Gadget, sans-serif;	
	}

.footerFormFrm {
	height: 29px;
	line-height:29px;
	width: 240px;
	}

#footerSignUpButton {
	height: 35px;
	width: 70px;
	text-align: center;
	background: #a3033d;
	border: 0 none;
	color: white;
	}

.footerLinkStyle {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.footerLinkStyle:hover {
	color: white;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}

#footerLinks {
	background: #a3033d;
	height: 300px;
	margin-left: auto;
  	margin-right: auto;
}

.listHead {
	font-family: "Arial Black", Gadget, sans-serif;
	color: white; font-weight:bold;
}

.bottomLinkListContainer {
	float: left;
	width:25%;	
	padding: 5px;
}

.bottomLinkList {
	list-style-type: none;
	color: white;	
	
}

#catagories { 
	float: left; 
	width: 23%;
	padding: 5px;
}

#help {
	float: left; 
	width: 23%;
	padding: 5px;
}

#myaccount {
	float: left; 
	width: 23%;
	padding: 5px;
}

#morefashion {
	float: left; 
	width: 23%;	
	padding: 5px;
}

#footerInformation {
	padding-top: 20px;
	height: 35px;
	width: 100%;
	text-align: center;
	color: #a3033d;
}

#footerInformation a {
	color: black;	
}






/*
CART
*/


.checkoutButton	{
	cursor:pointer;
	border:0 !important;
	background:url(app-fashion/checkout-150x50.png) no-repeat !important; 
	padding:0; margin:0; 
	text-indent:-10000px; 
	width:150px; height:50px;
	z-index:95;
	}





/*
subcategory list styles
*/

li.catListItem	{width:25%; margin:0 0 24px 0;}
.catListItem .catContainer	{width:190px; height:190px; position:relative; margin:0 auto;}
.catListItem .catThumb	{position:absolute; top:0; left:0; z-index:20;}
.catListItem .catName	{
	position:absolute; bottom:0; left:0; right:0; background:#ffffff; font-size:.95em; color:#000000; z-index:25;
	filter: alpha(opacity=50);
	opacity: 0.5;
	padding:6px;
	}

/*

Product list styles 

*/

li.productListItem	{width:25%; margin:0 0 24px 0;}
.productListItem .cents	{
	position: relative; bottom: 0.2em; font-size: 70%;	
	}
.productListItem .prodContainer	{width:190px; margin:0 auto;}
.productListItem .prodThumbContainer	{height:190px; width:190px; position:relative;}
.productListItem .prodThumb	{position:absolute; top:0; left:0; z-index:20;}
.productListItem .prodName	{
	position:absolute; bottom:0; left:0; right:0; background:#ffffff; font-size:.95em; color:#000000; z-index:25;
	filter: alpha(opacity=70);
	opacity: 0.7;
	padding:6px;
	}
/* this height only impacts prodlists, not results, for addition of reviews summary */
.productList li.productListItem 	{height:270px;}

.productListItem .priceDetail {
	margin-top: 12px;		
	}


.productListItem .price {
	width: 60%;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	color: 	#666666;
	text-align: center;
	font-size: 1.2em;
	line-height:1em; /* reduced line-height to nestle reviews in closer */
	}

.detailButton {
	width: 40%;
	float: right;
	height: 34px;
	line-height:34px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size-adjust: 80%;
	color: white;
	background-color: #666666;	
}

/* search results */
#mainContentArea_search.minimalMode .productListItem	{width:120px; height:120px; box-sizing:content-box;}
/* the images are already loaded, so ok to resize (and use a little processor power) in this case */
#mainContentArea_search.minimalMode .productListItem img 	{width:118px; height:118px;} 
#mainContentArea_search.minimalMode .productListItem {font-size:.01em;}




/* product layout */

.prodThumbs a	{margin:6px 6px 0 0; float:left; display:block;}
.productPage h1	{font-size:1.4em; margin-bottom:12px;}

.tbodyAlt tbody:nth-child(odd)	{background:#ffffff;}
.tbodyAlt tbody:nth-child(event)	{background:#F0F0F0;}

.addToCartButton	{
	cursor:pointer;
	border:0 !important;
	background:url(app-fashion/addtobag-120x40.png) no-repeat !important; 
	padding:0; margin:0; 
	text-indent:-10000px; 
	width:120px; height:40px;
	z-index:95;
	}

button.quickView	{border:0; background:url(app-fashion/quickview-90x30.png) no-repeat; padding:0; margin:0; text-indent:-10000px; width:90px; height:30px; z-index:95; cursor:pointer;}

.reviewSprite	{background: url(app-fashion/stars_small-85x255.png) no-repeat; width:85px; height:12px;} /* display none hides the reviews for the 'zero' reviews graphic */
.review_1 	{background-position:0 -18px;}
.review_2	{background-position:0 -35px;}
.review_3	{background-position:0 -53px;}
.review_4	{background-position:0 -70px;}
.review_5	{background-position:0 -88px;}
.review_6	{background-position:0 -105px;}
.review_7	{background-position:0 -122px;}
.review_8	{background-position:0 -139px;}
.review_9	{background-position:0 -157px;}
.review_10	{background-position:0 -174px;}


.imageContainer > div {position:relative;}
.imageContainer .tagsContainer	{position:absolute; left:-70px;}

/* the displaynone here makes sure new or non-supported tags don't show the wrong image */
.tagSprite	{background-image:url(app-fashion/tags_big-85x255.png); background-repeat:no-repeat; display:none; width:85px; height:34px;}
.is_newarrival	{background-position: 0 0; display:inline-block;}
.is_bestseller	{background-position: 0 -38px; display:inline-block;}
.is_sale	{background-position: 0 -77px; display:inline-block;}
.is_clearance	{background-position: 0 -115px; display:inline-block;}

.productListItem .tagsContainer	{left:-3px;position:absolute; z-index:95; width:40px; height:16px; overflow:hidden;} /* show only one tag */
.productListItem .tagSprite	{background-image:url(app-fashion/tags_small-40x120.png); background-repeat:no-repeat; display:none; width:40px; height:16px;}
.productListItem .is_newarrival	{background-position: 0 0; display:inline-block;}
.productListItem .is_bestseller	{background-position: 0 -18px; display:inline-block;}
.productListItem .is_sale	{background-position: 0 -35px; display:inline-block;}
.productListItem  .is_clearance	{display:none;}