<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Zoovy.com - Administrative Interface Login</title>

<META HTTP-EQUIV="Pragma" CONTENT="no-cache"><!-- don't cache this file. -->
<META NAME="ROBOTS" CONTENT="NONE">

<script type="text/javascript">

var myCreole;

var baseURL = '';
//in admin, used for loading app-specific files. do NOT set the base href tho.
if (document.location.protocol  == 'file:') { 
	baseURL = ''; 
	}
else if (document.location.port == 8888) {
	// local webserver (node.js?)
	baseURL = '/';
	}
else {
   baseURL = "";
   }

var app = {vars:{
	/////////////////////////////////\
	"release":"201320.a",   ///|> Increment this with each change. model version followed by each deployed update getting a new letter in the alphabet.
	//////////////////////////////////
	"thisSessionIsAdmin": true,
	"_clientid":"admin",
	"jqurl": (document.domain.indexOf('anycommerce') > -1) ?  "https://www.anycommerce.com/webapi/jquery/index.cgi" : "https://www.zoovy.com/webapi/jquery/index.cgi",
//	"secureURL" : "https://www.zoovy.com",
	"username": "", //needs to be set for header and media library. gets set in admin.initUserInterface
	"baseURL" : baseURL,
	},u:{},rq:[]};

</script>

<!--
all css includes need to be after the js that changes the base url.
css files should be included before any .js file to ensure they are downloaded in parallel
-->

<link rel="stylesheet" type="text/css" href="extensions/admin/jquery-ui-1.9.2.custom.min.css" />
<link rel="STYLESHEET" type="text/css" href="extensions/admin/standard.css" /><!-- legacy compat css. goal is to be rid of this file -->
<link rel="STYLESHEET" type="text/css" href="extensions/admin/styles.css" /><!-- lots of UI specific styles. load early to avoid popping -->



<script src="extensions/admin/resources/tmpl.min.js"></script><!-- required for media lib. loading in extension causes issues. -->
<script src="extensions/admin/resources/load-image.min.js"></script><!-- required for media lib. loading in extension causes issues. -->


<!-- not much is going to run without these two. load em early -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


<script src="jquery-1.8.2.min.js"></script>
<script src="jquery-ui-1.9.1.custom.min.js"></script> -->


<script type="text/javascript" src="loadscript.js"></script>


<script type="text/javascript">
app.u.loadScript(app.vars.baseURL+"app-admin-init.js");
</script>







</head>
<body class="control" onLoad="jQuery('#appversion').text(app.vars.release);">
<!-- this div handles getting content to appear below the fixed header -->


	
<div id='appPreView' class='ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<h3>One moment please while we load our app</h3>

	<div class='alignCenter'>
	<progress id="appPreViewProgressBar" max="100" value="0" /><br />
	</div>
	<div id='appPreViewProgressText'>0% Complete</div>

	<div class='appMessaging'></div>

</div>




	
<div id='appPasswordRecover' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='alignCenter'>
<form>
<fieldset class='labelsAsBreaks alignedInputs alignedLabels'>
	<legend>Password Recovery</legend>
	<label>Login: <input type='text' name='login' value='' required='required' ></label>
	<button data-app-event='admin|execPasswordRecover'>Recover Password</button>
</fieldset>
</form>
	</div>

</div>



<div id='appLogin' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='logo alignCenter'><a href="/index.html"><img src='extensions/admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></a></div>

	<div class='appMessaging'></div>

	<div id='loginFormContainer'>
		<form name='merchantLogin' id='merchantLogin' action='#' class='clearfix marginBottom'>
		<fieldset class='labelsAsBreaks alignedInputs alignedLabels'>
			<legend>Merchant Login</legend>
			
			<label><span>Login: </span><input type='text' name='userid' value='' required='required' class='textbox' /></label>
			<label><span>Password: </span><input type='password' name='password' value=''  required='required' class='textbox' /></label>
			
	
			<button class='loginbutton floatRight' data-app-event="admin|accountLogin">login</button>
<!--			<button class='floatRight' data-app-event="admin|showPasswordRecover">Recover Password</button> -->
			<div class="hint">App Release #: <span id="appversion">??</span></div>
			<label class='hint'><input type='checkbox' name='persistentAuth' value='1' checked='checked' /> Keep me logged in</label>
			<div class="hint"><b><a href='/app/201314/admin.html'> &#187; Use previous version</a></b></div>

		</fieldset>
		</form>
		<div class='showForAnyCommerceOnly'>
			<hr class='ruler' />
			<div class='alignCenter'>
			<button class="createAccount" data-app-event="admin|showCreateAccount"><span class="ui-button-text">Create An Account</span></button>
			</div>
		</div>


		</div>
	</div>
</div>

	
	

<div id='createAccountContainer' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	<div class='logo alignCenter'><img src='extensions/admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
	<form action='#'>
	<fieldset class='authNewAccountCreate labelsAsBreaks alignedInputs alignedLabels'>
		<legend>Create Account</legend>
		<label><span>First Name: </span><input type='text' name='firstname' required='required' /></label>
		<label><span>Last Name: </span><input type='text' name='lastname' required='required' /></label>
		<label><span>Email: </span><input type='email' name='email' required='required' /></label>
		<label><span>Company/DBA: </span><input type='text' name='company' maxlength="30" required='required' /><div class='helper alignRight'>company name will be your username. 10 char limit</div></label>
		<label><span>Domain: </span><input type='url' name='domain' required='required' value='http://' /></label>
		<label><span>Phone: </span><input type='tel' name='phone' required='required' size='10' /></label>
		<div class='stdPadding lookLikeLink' data-app-event='admin|authShowLogin'> &#187; back to login</div>
		<div class='alignRight'>
			<button data-app-event='admin|authNewAccountCreate'>Create Account</button>
		</div>
	</fieldset>
	</form>
</div><!-- used for account creation -->







<div id='appView' class='displayNone'>

	
	<div id='mastHead'>
	
		<div class='headerTop'>
			<div class='logo pointer alignCenter' onClick="navigateTo('#!dashboard');" title='home'><img src='extensions/admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
			<div class='menu floatRight'>
				<span class='pointer lookLikeLink showForZoovyOnly' onClick="return navigateTo('/biz/downloads/index.cgi');" title='Use our windows clients for managing orders and product'>Downloads</span>
				| <span class='pointer lookLikeLink' onClick="showUI('#!help',{'tab':'support'})">Help</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('#!taskManager');" title='view and edit your task list'>Tasks</span>
				| <span class='pointer lookLikeLink' onClick="app.ext.admin.a.logout(); return false;" title='log out of your account' >Exit</span>
			</div>
			
			<div class='floatRight marginRight'>
	Logged in as: <span class='username'></span> on <span class='domain lookLikeLink' onClick='app.ext.admin.a.showDomainChooser(); return false;'></span> <span class='partition'></span>
			</div>
			
		</div>

		<div class='mhTabsContainer'>
		<ul class='showIcons navIcons'>
			<li class='toggleArrow alignCenter' onClick="app.ext.admin.a.toggleHeaderTabHeight()" title='Toggle this menu to be taller or shorter'>&#9650;</li>
			<li class='setupTab' onClick="navigateTo('#:setup');"><span class='text'>Setup</span><span class='icon'></span></li>
			<li class='sitesTab' onClick="navigateTo('#:sites');"><span class='text'>Sites</span><span class='icon'></span></li>
			<li class='productsTab' onClick="navigateTo('#:product');"><span class='text'>Products</span><span class='icon'></span></li>
			<li class='ordersTab' onClick="navigateTo('#:orders');"><span class='text'>Orders</span><span class='icon'></span></li>
			<li class='crmTab' onClick="navigateTo('#:crm');"><span class='text'>CRM</span><span class='icon'></span></li>
			<li class='syndicationTab' onClick="navigateTo('#:syndication');"><span class='text'>Syndication</span><span class='icon'></span></li>
			<li class='reportsTab' onClick="navigateTo('#:reports');"><span class='text'>Reports</span><span class='icon'></span></li>
			<li class='kpiTab' onClick="navigateTo('#:kpi');"><span class='text'>KPI</span><span class='icon'></span></li>
			<li class='utilitiesTab' onClick="navigateTo('#:utilities');"><span class='text'>Utilities</span><span class='icon'></span></li>
<!--			<li class='supportTab' onClick="navigateTo('/biz/support/index.cgi');"><span class='text'>Support</span><span class='icon'></span></li> -->
			<li class='supportTab' onClick="navigateTo('#!support',{'tab':'support'});"><span class='text'>Support</span><span class='icon'></span></li>
			<li class='messagesTab' onClick="app.ext.admin.u.toggleMessagePane();"><span class='text'>Messages</span><span class='messageCount'></span></li>
		</ul>
		<div id='messagesContent' class='displayNone'>
			<button onClick="app.ext.admin.u.toggleMessagePane();" class='floatRight' id='closePanelButton'>Close Message Panel</button>
			<div class='messagesList'>
			<table>
			<tbody data-app-role='messagesContainer'></tbody>
			</table>
			</div>
			
			<div class='messageDetail'></div>
		</div>
		</div>
		<div id='navTabs'></div>
		<div id='breadcrumb'></div>
	</div><!-- /mastHead -->
	
	<div class='positionRelative pageContentContainer'>
	
	
		<div id='globalMessaging' class='appMessaging'></div>
	
	
		<div id='homeContent' class='displayNone tabContent' data-section='home'></div><!-- home acts as a default as well -->
		<div id='setupContent' class='displayNone tabContent' data-section='setup'></div>
		<div id='sitesContent' class='displayNone tabContent' data-section='sites'></div>
		<div id='productContent' class='displayNone tabContent' data-section='product'></div>
		<div id='ordersContent' class='displayNone tabContent' data-section='orders'></div>
		<div id='crmContent' class='displayNone tabContent' data-section='crm'></div>
		<div id='syndicationContent' class='displayNone tabContent' data-section='syndication'></div>
		<div id='reportsContent' class='displayNone tabContent' data-section='reports'></div>
		<div id='kpiContent' class='displayNone tabContent' data-section='kpi'></div>
		<div id='utilitiesContent' class='displayNone tabContent' data-section='utilities'></div>
		<div id='supportContent' class='displayNone tabContent' data-section='support'></div><!-- used for new support app -->
		<div id='launchpadContent' class='displayNone tabContent' data-section='launchpad'></div>
		<div id='jtContent' class='displayNone tabContent' data-section='jt'></div><!-- for testing -->

	</div>

	<div id='mastFoot'></div><!-- if a footer is ever introduced, put it here for launchpad compatibility. -->
</div><!-- /appView -->










<div id='printContainer' class='displayNone'></div><!-- used for printing. leave this here... and alone -->











<!--
Having these on the DOM seems to make the JQ File Upload plugin work better so they're here instead of within a template.
-->

<!-- The template to display files available for upload -->
<!-- NOTES:
template-upload modified from original. data-name added to tr.
data-fid and data-fname will be added in the fileuploadadd
These two pieces of data are used for mapping after the uploads to set what folder each file is saved to.
-->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" data-filename="{%=file.name%}">
        <td class="preview"><span class="fade"></span></td>
        <td>
			<div class="name">{%=file.name%}</div>
			<div class="size">{%=o.formatFileSize(file.size)%}</div>
			<div class="folder"></div>
		</td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade"  data-filename="{%=file.name%}">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
        </td>
    </tr>
{% } %}
</script>




<div id='debugPanel' class='ui-widget ui-widget-content ui-corner-all smallPadding displayNone'>
<h5>Debugificator</h5>
<ul class='debugMenu'>
	<li><a href='#'>Tools</a>
	<ul>
		<li><a href='#' onClick="app.ext.admin.u.selectivelyNukeLocalStorage(); return false;">Selectively Clear LocalStorage (keep login &amp; preferences)</a></li>
		<li><a href='#' onClick="localStorage.clear(); return false;">Clear LocalStorage for domain</a></li>
	</ul>
	</li>
	<li><a href='#'>Pages</a>
	<ul>
		<li><a href='#' onClick="navigateTo('#!launchpad'); return false;">Launchpad</a></li>
		<li><a href='#' onClick="navigateTo('#!batchManager'); return false;">batchjobs</a></li>
		<li><a href='#' onClick="navigateTo('#!supplierManager'); return false;">Supplier Manager</a></li>
		<li><a href='#' onClick="navigateTo('#!appChooser'); return false;">App Chooser</a></li>
		<li><a href='#' onClick="$('#setupContent').empty(); app.ext.admin.a.showAchievementList($('#setupContent')); return false;">showAchievementList (in setup)</a></li>
	</ul>
	</li>
	<li><a href='#'>Test</a>
	<ul>

		<li><a href='#' onClick="app.model.destroy('adminReportDownload'); app.ext.admin.calls.adminReportDownload.init('39A81CB2-9706-11E2-8FFD-99F4EA1F',{},'mutable'); app.model.dispatchThis('mutable');">adminReportDownload</a></li>
		
		<li><a href='#' onClick="app.model.destroy('adminKPIDBCollectionList'); app.ext.admin.calls.adminKPIDBCollectionList.init({},'mutable'); app.model.dispatchThis('mutable');">adminKPIDBCollectionList</a></li>
		<li><a href='#' onClick="app.model.destroy('adminKPIDBCollectionDetail|1528'); app.ext.admin.calls.adminKPIDBCollectionDetail.init(1528,{},'mutable'); app.model.dispatchThis('mutable');">adminKPIDBCollectionDetail</a></li>
		<li><a href='#' onClick="app.ext.admin.calls.adminMessagesList.init(0,{},'mutable'); app.model.dispatchThis('mutable');">adminMessagesList</a></li>
		<li><a href='#' onClick="app.model.destroy('adminKPIDBUserDataSetsList'); app.ext.admin.calls.adminKPIDBUserDataSetsList.init({},'mutable'); app.model.dispatchThis('mutable');">adminKPIDBUserDataSetsList</a></li>
		
		
		
		<li><a href='#' onClick="app.model.addDispatchToQ({'_cmd':'adminUIExecuteCGI','uri':'/biz/syndication/buycom/index.cgi'},'mutable'); app.model.dispatchThis('mutable');">UIExecCGI addDispatchToQ</a></li>
		<li><a href='#' onClick="app.ext.admin.calls.adminUIExecuteCGI.init('/biz/syndication/buycom/index.cgi'); app.model.dispatchThis('mutable');">adminUIExecuteCGI call</a></li>
		<li><a href='#' onClick="app.u.throwMessage('Something Wicked This Way Comes');">throwMessage</a></li>
		
	</ul>
	</li>	
</ul>

<!--
<button onClick="app.ext.admin.calls.appResource.init('email_macros.json',{},'mutable'); app.model.dispatchThis('mutable');">appResource</button>
<button onClick="app.ext.admin.calls.appResource.init('shipcodes.json',{},'mutable'); app.model.dispatchThis('mutable');">shipcodes.json</button>
<button onClick="app.ext.admin.calls.adminEmailList.init({},'mutable'); app.model.dispatchThis('mutable');">adminEmailList</button>
<button onClick="app.model.addDispatchToQ({'_cmd':'adminDataQuery','query':'listing-active','since_gmt':app.u.unixNow() - (60*60*24*10)},'mutable'); app.model.dispatchThis('mutable');">adminDataQuery</button>
<button onClick="app.ext.admin.calls.appConfig.init(); app.model.dispatchThis();">appConfig</button>

-->


</div>











<!--

This is content that isn't template worthy, but still necessary (most likely for modals or static pages)

-->




<div id='orderListTab' class='ui-widget ui-widget-content displayNone'>
	<div class='positionRelative'>
		<div class='tab ui-state-default ui-corner-right smallPadding'><span>Order&nbsp;Results</span></div><!-- non breaking space to prevent word wrap -->
		<div class='ordersContainer minimalMode'>
		<table class='gridTable'>
			<thead><tr></tr></thead><!-- will get a clone of order list thead -->
			<tbody></tbody><!-- will get appended w/ the children of the order list -->
		</table>
		</div>
	</div>
</div>

<div id='productListTab' class='ui-widget ui-widget-content displayNone'>
	<div class='positionRelative'>
		<div class='tab ui-state-default ui-corner-right smallPadding'><span>Product&nbsp;Results</span></div><!-- non breaking space to prevent word wrap -->
		<div class='productContainer minimalMode'>
		<table class='gridTable'>
			<thead><tr></tr></thead><!-- will get a clone of order list thead -->
			<tbody></tbody><!-- will get appended w/ the children of the order list -->
		</table>
		</div>
	</div>
</div>


</body>
</html>
