<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Administrative Interface Login</title>

<META HTTP-EQUIV="Pragma" CONTENT="no-cache"><!-- don't cache this file. -->
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="expires" content="0">
<META NAME="ROBOTS" CONTENT="NONE">

<script type="text/javascript">

var myCreole;

var baseURL = '';
//in admin, used for loading app-specific files. do NOT set the base href tho.
if (document.location.protocol  == 'file:') {
	baseURL = '';
	}
else if (document.location.port == 8888) {
	// local webserver (node.js?)
	baseURL = '/';
	}
else {
   baseURL = "";
   }

var app = {vars:{
	/////////////////////////////////\
	"release":"201346.j",   ///|> Increment this with each change. model version followed by each deployed update getting a new letter in the alphabet.
	//////////////////////////////////
	"thisSessionIsAdmin": true,
	"checkoutAuthMode" : 'order_create', //used to load the appropriate checkout/order create template file
	"_clientid":"admin",
	"jqurl": (document.location.protocol == 'file:') ? "https://admin-sporks-zoovy-com.app-hosted.com/jsonapi/" : "/jsonapi/",
//	"jqurl": (document.domain.indexOf('anycommerce') > -1) ?  "https://www.anycommerce.com/webapi/jquery/index.cgi" : "https://www.zoovy.com/webapi/jquery/index.cgi",
//	"secureURL" : "https://www.zoovy.com",
	"username": "", //needs to be set for header and media library. gets set in admin.initUserInterface
	"baseURL" : baseURL,
	},u:{},rq:[]};

</script>

<!--
all css includes need to be after the js that changes the base url.
css files should be included before any .js file to ensure they are downloaded in parallel
-->

<link rel="stylesheet" type="text/css" href="app-admin/jquery-ui-1.10.3.custom.css" />
<!-- <link rel="stylesheet" type="text/css" href="app-admin/jquery-ui-1.10.3.anycommerce.css" /> (new custom UI styles. wonky. )-->
<link rel="STYLESHEET" type="text/css" href="app-admin/standard.css" /><!-- legacy compat css. goal is to be rid of this file -->
<link rel="STYLESHEET" type="text/css" href="app-admin/styles.css" /><!-- lots of UI specific styles. load early to avoid popping -->


<!-- ** 201344 -> reversed the order of these two to solve the issue w/ selected files preview not showing up -->
<script src="extensions/admin/resources/load-image.min.js"></script><!-- required for media lib. loading in extension causes issues. -->
<script src="extensions/admin/resources/tmpl.min.js"></script><!-- required for media lib. loading in extension causes issues. -->


<!-- not much is going to run without these two. load em early -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript" src="loadscript.js"></script>

<script type="text/javascript">
app.u.loadScript(app.vars.baseURL+"app-admin-init.js");
</script>







</head>
<body class="control" onLoad="jQuery('#appversion').text(app.vars.release);">
<!-- this div handles getting content to appear below the fixed header -->


	
<div id='appPreView' class='ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<h3>One moment please while we load our app</h3>

	<div class='alignCenter'>
	<progress id="appPreViewProgressBar" max="100" value="0"></progress><br />
	</div>
	<div id='appPreViewProgressText'>0% Complete</div>

	<div class='appMessaging'></div>

</div>




	
<div id='appPasswordRecover' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='alignCenter'>
<form>
<fieldset class='labelsAsBreaks alignedInputs alignedLabels'>
	<legend>Password Recovery</legend>
	<label>Login: <input type='text' name='login' value='' required='required' ></label>
	<button data-app-event='admin|execPasswordRecover'>Recover Password</button>
</fieldset>
</form>
	</div>

</div>



<div id='appLogin' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='logo alignCenter marginBottom'><a href="/index.html"><img src='app-admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></a></div>

	<div class='appMessaging'></div>

	<div id='loginFormContainer'>
		<form name='merchantLogin' id='merchantLogin' action='#' class='clearfix marginBottom'>
		<input type='hidden' name='authtype' value='md5' /><!-- required for the 'call' -->
		<fieldset class='labelsAsBreaks alignedInputs'>
			<legend>Merchant Login</legend>
			
			<div class='clearfix marginBottom'>
				<input placeholder='login' type='text' name='userid' value='' required='required' class='textbox' />
				<input placeholder='password' type='password' name='password' value=''  required='required' class='textbox' />
				<button class='loginbutton' data-app-event="admin|accountLogin">login</button>
			</div>
			
			<div class='clearfix marginBottom'>
				<label class='hint floatRight'><input type='checkbox' name='persistentAuth' value='1' checked='checked' /> Keep me logged in</label>
<!--			<button class='floatRight' data-app-event="admin|showPasswordRecover">Recover Password</button> -->
				<div class="hint">App Release #: <span id="appversion">??</span></div>
			
				<div class="hint"><a href='/201344/app-admin.html'> &#187; Use previous version</a></div>
			</div>
			
			<div class='clearfix marginBottom alignCenter'>
				<div class='marginBottom hint'> - or - </div>
				<span data-app-event="admin|googleLogin" class='threePLSprite google'></span>
			</div>
			
		</fieldset>
		</form>
		<div class='showForAnyCommerceOnly'>
			<hr class='ruler' />
			<div class='alignCenter'>
			<button class="createAccount" data-app-event="admin|showCreateAccount"><span class="ui-button-text">Create An Account</span></button>
			</div>
		</div>


	</div>
</div>


	
	

<div id='createAccountContainer' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	<div class='logo alignCenter'><img src='app-admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
	<form action='#'>
	<fieldset class='authNewAccountCreate labelsAsBreaks alignedInputs alignedLabels'>
		<legend>Create Account</legend>
		<label><span>First Name: </span><input type='text' name='firstname' required='required' /></label>
		<label><span>Last Name: </span><input type='text' name='lastname' required='required' /></label>
		<label><span>Email: </span><input type='email' name='email' required='required' /></label>
		<label><span>Company/DBA: </span><input type='text' name='company' maxlength="30" required='required' /><span class='helper alignRight'>company name will be your username. 10 char limit</span></label>
		<label><span>Domain: </span><input type='url' name='domain' required='required' placeholder='http://' value="" /></label>
		<label><span>Phone: </span><input type='tel' name='phone' required='required' size='10' /></label>
		<div class='stdPadding lookLikeLink' data-app-event='admin|authShowLogin'> &#187; back to login</div>
		<div class='alignRight'>
			<button data-app-event='admin|authNewAccountCreate'>Create Account</button>
		</div>
	</fieldset>
	</form>
</div><!-- used for account creation -->







<div id='appView' class='displayNone'>

	
	<div id='mastHead'>
	
		<div class='headerTop'>
			<div class='logo pointer alignCenter' onClick="navigateTo('#!dashboard');" title='home'><img src='app-admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
			<div class='menu floatRight'>
				<span class='pointer lookLikeLink showForZoovyOnly' onClick="return navigateTo('#!downloads');" title='Use our windows clients for managing orders and product'>Downloads</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('#!help',{'tab':'support'})">Help</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('#!showPlatformInfo')">About</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('#!taskManager');" title='view and edit your task list'>Tasks</span>
				| <span class='pointer lookLikeLink' onClick="app.ext.admin.a.logout(); return false;" title='log out of your account' >Exit</span>
			</div>
			
			<div class='floatRight marginRight'>
	Logged in as: <span class='username'></span> on <span class='domain lookLikeLink' onClick='app.ext.admin.a.showDomainChooser(); return false;'></span> <span class='partition'></span>
			</div>
			
		</div>

		<div class='mhTabsContainer'>
		<ul class='showIcons navIcons'>
			<li class='toggleArrow alignCenter' onClick="app.ext.admin.a.toggleHeaderTabHeight()" title='Toggle this menu to be taller or shorter'>&#9650;</li>
			<li class='setupTab' onClick="navigateTo('#:setup');">
				<span class='text'>Setup</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="setup?animFunc=fwd" data-animation-mouseout="setup?animFunc=back"></span>
				<span class='animIcon' data-animation="setup?imgsrc=app-admin/images/header_anime/setup_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=55&amp;height=55&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='sitesTab' onClick="navigateTo('#:sites');">
				<span class='text'>Sites</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="sites?animFunc=loop" data-animation-mouseout="sites?animFunc=stop&amp;animCallback=goToFirstFrame"></span>
				<span class='animIcon' data-animation="sites?imgsrc=app-admin/images/header_anime/sites_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=42&amp;height=32&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=120" ></span>
			</li>
			<li class='productTab' onClick="navigateTo('#:product');">
				<span class='text'>Product</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="products?animFunc=loop" data-animation-mouseout="products?animFunc=stop&amp;animCallback=goToFirstFrame"></span>
				<span class='animIcon' data-animation="products?imgsrc=app-admin/images/header_anime/products_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=45&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=120" ></span>
			</li>
			<li class='ordersTab' onClick="navigateTo('#:orders');">
				<span class='text'>Orders</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="orders?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="orders?imgsrc=app-admin/images/header_anime/orders_sprite.png&amp;frameCount=13&amp;startFrame=12&amp;width=61&amp;height=42&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='crmTab' onClick="navigateTo('#:crm');">
				<span class='text'>CRM</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="crm?animFunc=fwd" data-animation-mouseout="crm?animFunc=back"></span>
				<span class='animIcon' data-animation="crm?imgsrc=app-admin/images/header_anime/crm_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=62&amp;height=36&amp;xGap=5&amp;x1=65&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='syndicationTab' onClick="navigateTo('#:syndication');">
				<span class='text'>Marketplaces</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="marketplaces?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="marketplaces?imgsrc=app-admin/images/header_anime/marketplaces_sprite.png&amp;frameCount=15&amp;startFrame=14&amp;width=60&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60"></span>
			</li>
			<li class='reportsTab' onClick="navigateTo('#:reports');">
				<span class='text'>Reports</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="reports?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="reports?imgsrc=app-admin/images/header_anime/reports_sprite.png&amp;frameCount=15&amp;startFrame=14&amp;width=33&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='kpiTab' onClick="navigateTo('#:kpi');">
				<span class='text'>KPI</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="kpi?animFunc=loop&amp;start=0" data-animation-mouseout="kpi?animFunc=stop&amp;animCallback=goToFirstFrame" ></span>
				<span class='animIcon' data-animation="kpi?imgsrc=app-admin/images/header_anime/kpi_sprite.png&amp;frameCount=33&amp;startFrame=0&amp;width=41&amp;height=32&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='utilitiesTab' onClick="navigateTo('#:utilities');">
				<span class='text'>Utilities</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="utilities?animFunc=fwd" data-animation-mouseout="utilities?animFunc=back"></span>
				<span class='animIcon' data-animation="utilities?imgsrc=app-admin/images/header_anime/utilities_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=53&amp;height=53&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
<!--			<li class='supportTab' onClick="navigateTo('/biz/support/index.cgi');"><span class='text'>Support</span><span class='icon'></span></li> -->
			<li class='supportTab' onClick="navigateTo('#!support',{'tab':'support'});">
				<span class='text'>Support</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="support?animFunc=fwd" data-animation-mouseout="support?animFunc=back"></span>
				<span class='animIcon' data-animation="support?imgsrc=app-admin/images/header_anime/support_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=38&amp;height=38&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='messagesTab' onClick="app.ext.admin.u.toggleMessagePane();">
				<span class='text'>Messages</span>
				<span class='messageCount'></span>
				<span class="animator" data-animation-mouseenter="messages?animFunc=fwd" data-animation-mouseout="messages?animFunc=back"></span>
				<span class='animIcon' data-animation="messages?imgsrc=app-admin/images/header_anime/messages_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=45&amp;height=45&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
		</ul>
		<div id='messagesContent' class='displayNone'>
			<button onClick="app.ext.admin.u.toggleMessagePane();" class='floatRight' id='closePanelButton'>Close Message Panel</button>
			<button onClick="app.ext.admin.u.clearAllMessages();" class='floatRight' id='clearMessagesButton' title="Clear all messages from queue">Clear All</button>
			<div class='messagesList'>
			<table class='fullWidth'>
			<tbody data-app-role='messagesContainer'></tbody>
			</table>
			</div>
			
			<div class='messageDetail'></div>
		</div>
		</div>
		<div id='navTabs' class='positionRelative'></div>
		<div id='breadcrumb'></div>
	</div><!-- /mastHead -->
	
	<div class='positionRelative pageContentContainer'>
	
	
		<div id='globalMessaging' class='appMessaging'></div>
	
	
		<div id='homeContent' class='displayNone tabContent' data-section='home'></div><!-- home acts as a default as well -->
		<div id='setupContent' class='displayNone tabContent' data-section='setup'></div>
		<div id='sitesContent' class='displayNone tabContent' data-section='sites'></div>
		<div id='productContent' class='displayNone tabContent' data-section='product'></div>
		<div id='ordersContent' class='displayNone tabContent' data-section='orders'></div>
		<div id='crmContent' class='displayNone tabContent' data-section='crm'></div>
		<div id='syndicationContent' class='displayNone tabContent' data-section='syndication'></div>
		<div id='reportsContent' class='displayNone tabContent' data-section='reports'></div>
		<div id='kpiContent' class='displayNone tabContent' data-section='kpi'></div>
		<div id='utilitiesContent' class='displayNone tabContent' data-section='utilities'></div>
		<div id='supportContent' class='displayNone tabContent' data-section='support'></div><!-- used for new support app -->
		<div id='launchpadContent' class='displayNone tabContent' data-section='launchpad'></div>
		<div id='jtContent' class='displayNone tabContent' data-section='jt'></div><!-- for testing -->

	</div>

	<div id='mastFoot'></div><!-- if a footer is ever introduced, put it here for launchpad compatibility. -->
</div><!-- /appView -->










<div id='printContainer' class='displayNone'></div><!-- used for printing. leave this here... and alone -->











<!--
Having these on the DOM seems to make the JQ File Upload plugin work better so they're here instead of within a template.
-->

<!-- The template to display files available for upload -->
<!-- NOTES:
template-upload modified from original. data-name added to tr.
data-fid and data-fname will be added in the fileuploadadd
These two pieces of data are used for mapping after the uploads to set what folder each file is saved to.
-->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" data-filename="{%=file.name%}">
        <td class="preview"><span class="fade"></span></td>
        <td>
			<div class="name">{%=file.name%}</div>
			<div class="size">{%=o.formatFileSize(file.size)%}</div>
			<div class="folder"></div>
		</td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download-->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade"  data-filename="{%=file.name%}">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
        </td>
    </tr>
{% } %}
</script>




<div id='debugPanel' class='ui-widget ui-widget-content ui-corner-all smallPadding displayNone'>
<h5>Debugificator</h5>
<ul class='debugMenu'>
	<li><a href='#'>Pages</a>
	<ul>

		
		<li><a href='#' onClick="app.model.addDispatchToQ({'_cmd':'adminConfigDetail','tuning':'1'},'mutable'); app.model.dispatchThis('mutable'); return false;">adminConfigDetail -> tuning</a></li>

		<li><a href='#' onClick="navigateTo('#!launchpad'); return false;">Launchpad</a></li>
		<li><a href='#' onClick="navigateTo('#!appChooser'); return false;">App Chooser</a></li>
		<li><a href='#' onClick="app.ext.admin_trainer.a.showTrainerInModal(); return false;">Trainer</a></li>
		<li><a href='#' onClick="$('#setupContent').empty(); app.ext.admin.a.showAchievementList($('#setupContent')); return false;">showAchievementList (in setup)</a></li>
	</ul>
	</li>
	<li><a href='#'>Test</a>
	<ul>
		<li><a href='#' onClick='app.model.addDispatchToQ({"mode":"elastic-native","size":250,"filter":{"and":[{"range":{"base_price":{"from":0,"to":50000}}},{"term":{"pogs":"AC"}}]},"_cmd":"appPublicSearch","type":"product"},"mutable"); app.model.dispatchThis("mutable"); return false;'>elastic-native</a></li>	
		<li><a href='#' onClick="$('#globalMessaging').anymessage(app.u.successMsgObject('Changes have been saved. and then there is this other text to make the text block a bit more texty and long, which is good for testing because it sometimes happens.')); return false;">throw success message</a></li>
		
		<li><a href='#' onClick="app.model.destroy('adminSyndicationList'); app.model.addDispatchToQ({'_cmd':'adminSyndicationList'},'mutable'); app.model.dispatchThis('mutable');">adminSyndicationList</a></li>

		<li><a href='#' onClick="app.model.destroy('adminConfigDetail'); app.ext.admin.calls.adminConfigDetail.init({'inventory':true},{},'mutable'); app.model.dispatchThis('mutable');">adminConfigDetail</a></li>
	
	</ul>
	</li>
</ul>


</div>












</body>
</html>
