body, html	{background:#000000; color:#666; margin:0; padding:0; font-family: 'Open Sans', sans-serif; font-size:100%;} /* black background is mostly for preload. text color is mostly for maincontent area (which has white bg). */

#appPreView	{margin-top:100px;}

a, .lookLikeLink	{color:#fb880d;}

.sprite	{background:url(app-mobile-images/sprites-500x500.png) no-repeat;}

.logoAndSearch, #catCarousel	{
background: rgb(23,23,23); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(23,23,23,1) 0%, rgba(11,11,11,1) 50%, rgba(9,9,9,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,23,23,1)), color-stop(50%,rgba(11,11,11,1)), color-stop(100%,rgba(9,9,9,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,23,23,1) 0%,rgba(11,11,11,1) 50%,rgba(9,9,9,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,23,23,1) 0%,rgba(11,11,11,1) 50%,rgba(9,9,9,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,23,23,1) 0%,rgba(11,11,11,1) 50%,rgba(9,9,9,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,23,23,1) 0%,rgba(11,11,11,1) 50%,rgba(9,9,9,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#090909',GradientType=0 ); /* IE6-9 */
	}

.logoAndSearch	{
	height:60px;
	}

#mhLogo	{width:49%;}
.searchContainer	{border:1px solid #fb880d; background:#000000; margin:16px 5px 0 0; padding:0; width:49%;}
.searchContainer fieldset	{border:0; margin:0; padding:0;}
.searchContainer .productSearchKeyword	{background:#000000; color:#ffffff; border:0; padding:0; margin:0; text-indent:4px; width:80%;}
.searchBtn	{background-position: -210px 0; background-color:none; border:0; height:24px; width:22px; display:inline-block;}



#mastFoot ul	{margin:0; padding:0; display:block; width:100%; list-style:none;0}

#mastFoot ul li	{
	list-style:none;
	width:25%; float:left;
	border-left:1px solid #888888;
	border-top:1px solid #b7b7b7;
	border-right:1px solid #101010;
	border-bottom:1px solid #000000;
	text-align:center;
	padding:15px 0;
/* box-sizing puts borders and padding 'inside' the declared css width */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	cursor:pointer;
	background: rgb(88,88,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(88,88,88,1) 0%, rgba(52,52,52,1) 50%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,88,88,1)), color-stop(50%,rgba(52,52,52,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(88,88,88,1) 0%,rgba(52,52,52,1) 50%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(88,88,88,1) 0%,rgba(52,52,52,1) 50%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(88,88,88,1) 0%,rgba(52,52,52,1) 50%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(88,88,88,1) 0%,rgba(52,52,52,1) 50%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	}

#mastFoot ul li:hover,#mastFoot ul li.active	{
	border-top-color:#fed89e;
	border-left-color:#fdbe73;
	border-right-color:#9b6511;
	border-bottom-color:#391701;
	background: rgb(252,165,32); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,165,32,1) 0%, rgba(251,137,14,1) 50%, rgba(249,100,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,165,32,1)), color-stop(50%,rgba(251,137,14,1)), color-stop(100%,rgba(249,100,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,165,32,1) 0%,rgba(251,137,14,1) 50%,rgba(249,100,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,165,32,1) 0%,rgba(251,137,14,1) 50%,rgba(249,100,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,165,32,1) 0%,rgba(251,137,14,1) 50%,rgba(249,100,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,165,32,1) 0%,rgba(251,137,14,1) 50%,rgba(249,100,6,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca520', endColorstr='#f96406',GradientType=0 ); /* IE6-9 */
	}

#mastFoot li span	{margin:0 auto;}


.leftArrow	{background-position: 0 0; height:28px; width:30px; cursor:pointer;}
.rightArrow	{background-position: -40px 0; height:28px; width:30px; cursor:pointer;}

.homeIcon	{background-position: 0 -66px; display:block; height:30px; width:29px; }
.cartIcon	{background-position: -48px -66px; display:block; height:30px; width:36px; }
.wishlistIcon	{background-position: -102px -66px; display:block; height:30px; width:29px; }
.infopagesIcon	{background-position: -158px -66px; display:block; height:30px; width:29px; }


/* category carousel */
#catCarousel	{width:100%; overflow:hidden;}
#catCarousel ul	{padding:0; margin:0;}
#catCarousel li {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	float:left; width:50%; list-style:none; display: inline-block;
	padding:2px 35px; margin:0;}






.lineItemProdlist tr:nth-child(odd), .categoryList tr:nth-child(odd)	{background:#ffffff;}
.lineItemProdlist tr:nth-child(even), .categoryList tr:nth-child(even)	{background:#f2f2f2;}
.lineItemProdlist	{margin:0;}
.lineItemProdlist li	{padding:6px 0; margin:0;}



.lineItemProdlist h5, .lineItemProdlist h6	{font-size:1.1em; font-weight:normal;} /* name and brand, respectively */

.lineItemProdlist h4	{font-size:1.4em; color:#000000; display:inline; margin-left:30px;} /* price */

#mainContentArea	{padding:12px; background:#ffffff;}


button.quickView	{background:#000000; border:0; padding:2px 6px; font-size:.85em; color:#F60; font-weight:bold;}

/* product detail page */
.prodSummaryContainer hgroup h5	{font-weight:normal;}




/*
HOMEPAGE
*/


/* for the carousel */
.list_carousel {
	background-color: #ccc;
	position:relative;
	margin: 0 0 12px 0px;
	}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	}
.list_carousel li {
	text-align: center;
	width: 120px;
	height: 120px;
	overflow:hidden;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	}

.foo2carouselPrev {
	position:absolute;
	left:-10px; top:20px; 
	font-size:40px;
	}
.foo2carouselNext {
	position:absolute;
	right:-10px; top:20px; 
	font-size:40px;
	}
