<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Administrative Interface Login</title>


<link rel="SHORTCUT ICON" href='app-admin/images/commercerack_favicon.ico' />
<link rel="ICON" href='app-admin/images/commercerack_favicon.ico' />

<meta name=viewport content="width=device-width, initial-scale=1">

<META HTTP-EQUIV="Pragma" CONTENT="no-cache"><!-- don't cache this file. -->
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="expires" content="0">
<META NAME="ROBOTS" CONTENT="NONE">
<!-- INTERCOM.IO -->
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
//Commerce-Engine's Intercom app id is: de6tmbrt
s.src='https://widget.intercom.io/widget/de6tmbrt';

var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script type="text/javascript">

//var myCreole;
var baseURL = '';
//in admin, used for loading app-specific files. do NOT set the base href tho.
if (document.location.protocol  == 'file:') {
	baseURL = '';
	}
else if (document.location.port == 8888) {
	// local webserver (node.js?)
	baseURL = '/';
	}
else {
   baseURL = "";
   }

</script>

<!--
all css includes need to be after the js that changes the base url.
css files should be included before any .js file to ensure they are downloaded in parallel
https://developers.google.com/speed/articles/include-scripts-properly -> section 2.
-->

<link rel="stylesheet" type="text/css" href="app-admin/jquery-ui-1.10.3.css" />
<link rel="STYLESHEET" type="text/css" href="app-admin/standard.css" /><!-- legacy compat css. goal is to be rid of this file -->
<link rel="STYLESHEET" type="text/css" href="app-admin/styles.css" /><!-- lots of UI specific styles. load early to avoid popping -->


<!-- ** 201344 -> reversed the order of these two to solve the issue w/ selected files preview not showing up -->
<script src="app-admin/resources/load-image.min.js"></script><!-- required for media lib. loading in extension causes issues. -->
<script src="app-admin/resources/tmpl.min.js"></script><!-- required for media lib. loading in extension causes issues. -->


<!-- not much is going to run without these four. load em early -->
<script src="resources/jquery-2.0.3.min.js"></script>
<script src="resources/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="model.js"></script>

<script data-apptimize="embed" type="text/javascript" src="resources/jquery.showloading-v1.0.jt.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/jsonpath.0.8.0.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/tlc.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/peg-0.8.0.js"></script>

<script data-apptimize="embed" type="text/javascript" src="includes.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/anycontent.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/jquery.ui.jeditable.js"></script>
<script data-apptimize="embed" type="text/javascript" src="app-admin/resources/highcharts-3.0.1/highcharts.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/crypto-md5-2.5.3.js"></script>

<script data-apptimize="embed" type="text/javascript" src="resources/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" type="text/css" href="resources/jquery-ui-timepicker-addon.css" />

<script data-apptimize="embed" type="text/javascript" src="resources/jquery.ui.anyplugins.js"></script>
<link rel="stylesheet" type="text/css" href="resources/anyplugins.css" />

<script data-apptimize="embed" type="text/javascript" src="resources/jquery.ui.qrcode-0.7.0.js"></script>
<script data-apptimize="embed" type="text/javascript" src="app-admin/resources/jquery.ebay-specifics-form.js"></script>

<link rel="stylesheet" type="text/css" href="app-admin/resources/jquery.contextMenu.css" />
<script data-apptimize="embed" type="text/javascript" src="app-admin/resources/jquery.contextMenu.js"></script>
<script data-apptimize="embed" type="text/javascript" src="app-admin/resources/jquery.ui.position.js"></script>

<script data-apptimize="embed" type="text/javascript" src="resources/load-image.min.js"></script>
<script data-apptimize="embed" type="text/javascript" src="resources/jquery.image-gallery.jt.js"></script>

<script type="text/javascript">
	(function(){
		var href = '';
		if(document.location.protocol == "file:"){
			//leave the base as is
			}
		else{
			href = window.location.pathname.replace('app-admin.html','');
			}
		$('head').append('<base href="'+href+'" />');
		})()
</script>

<script type="text/javascript">
$(document).ready(function(){
	window.adminApp = new initApp({
		/////////////////////////////////\
		"release":"201411.b",   ///|> Don't forget to tag the repo when this changes. Increment this with each change. model version followed by each deployed update getting a new letter in the alphabet.
		//////////////////////////////////
		"thisSessionIsAdmin": true,
		"checkoutAuthMode" : 'order_create', //used to load the appropriate checkout/order create template file
		"_clientid":"admin",
		"jqurl": "/jsonapi/", // (document.location.protocol == 'file:') ? "https://www.sporktacular.com:9000/jsonapi/" : "/jsonapi/",
		"username": "", //needs to be set for header and media library. gets set in admin.initUserInterface
		"baseURL" : baseURL,
		"addjQueryPointer" : true,
		"analyticsPointer" : "ga",
		"initComplete" : function(){
			window[adminApp.vars.analyticsPointer] = window[adminApp.vars.analyticsPointer] || function(){};
			adminApp.u.loadScript('app-admin-init.js',function(){
				var progress = adminApp.u.loadResources();
				adminApp.u.showProgress(progress);
				});
			$('#appversion').text(adminApp.vars.release);
			}
		});
	adminApp.vars.initComplete();
	});
</script>

</head>
<body class="control">
<!-- this div handles getting content to appear below the fixed header -->


	
<div id='appPreView' class='ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<h3>One moment please while we load our app</h3>

	<div class='alignCenter'>
	<progress id="appPreViewProgressBar" max="100" value="0"></progress><br />
	</div>
	<div id='appPreViewProgressText'>0% Complete</div>

	<div class='appMessaging'></div>

</div>




	
<div id='appPasswordRecover' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='alignCenter'>
<form>
<fieldset class='labelsAsBreaks alignedInputs alignedLabels'>
	<legend>Password Recovery</legend>
	<label>Email: <input type='text' name='email' value='' required='required' ></label>
	<button data-app-event='admin|execPasswordRecover'>Recover Password</button>
</fieldset>
</form>
	</div>

</div>



<div id='appLogin' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	
	<div class='logo alignCenter marginBottom'><a href="/index.html"><img src='app-admin/images/commercerack-logo-206x24.png' width='206 height='24' alt='CommerceRack' /></a></div>

	<div class='appMessaging'></div>

	<div id='loginFormContainer'>
		<form name='merchantLogin' id='merchantLogin' action='#' class='clearfix marginBottom' data-app-submit="admin|accountLogin">
		<input type='hidden' name='authtype' value='password' /><!-- required for the 'call' -->
		<fieldset class='labelsAsBreaks alignedInputs'>
			<legend>Merchant Login</legend>
			
			<div class='clearfix marginBottom'>
				<input placeholder='login' type='text' name='userid' value='' required='required' class='textbox' />
				<input placeholder='password' type='password' name='password' value=''  required='required' class='textbox' />
				<!-- <div class="advancedLoginShow displayNone">
					<div class="alignCenter">OR</div>
					<input name='authtoken' class='textbox' type='text' value='' placeholder='authtoken'/>
				</div> -->
				<button class='loginbutton' >login</button>				
				
				<div class='advancedLoginShow displayNone'>
					<!-- advanced login -->
					API Domain:
					<input placeholder='www.domain.com' type='text' name='apidomain' value='' class='textbox' />
				</div>
			</div>
			

			<div class='clearfix'>
				<label class='floatRight hint'><input type='checkbox' name='persistentAuth' value='1' checked='checked' /> Keep me logged in</label>
				<div class="hint">AdminUI Release #: <span id="appversion">??</span></div>
			</div>

			<div class='clearfix marginBottom'>
				<div class='lookLikeLink hint floatRight' data-app-event="admin|showPasswordRecover">Recover Password</div>
				<div class='lookLikeLink hint advancedLoginHide' data-app-click="admin|showLoginAdvanced">Advanced Login</div>
				<div class='lookLikeLink hint advancedLoginShow displayNone' data-app-click="admin|showLoginSimple">Simple Login</div>
				<!--
				<div class="hint"><a href='/201401/app-admin.html'> &#187; Use previous version</a></div>
				-->
			</div>


			<!--
			<div class='clearfix marginBottom alignCenter'>
				<div class='marginBottom hint'> - or - </div>
				<span data-app-event="admin|googleLogin" class='threePLSprite google'></span>
			</div>
			-->
		</fieldset>
		</form>
		<div class='showForAnyCommerceOnly'>
			<hr class='ruler' />
			<div class='alignCenter'>
			<button class="createAccount" data-app-event="admin|showCreateAccount"><span class="ui-button-text">Create An Account</span></button>
			</div>
		</div>


	</div>
</div>


	
	

<div id='createAccountContainer' class='displayNone ui-widget ui-widget-content ui-corner-all stdPadding'>
	<div class='logo alignCenter'><img src='app-admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
	<form action='#'>
	<fieldset class='authNewAccountCreate labelsAsBreaks alignedInputs alignedLabels'>
		<legend>Create Account</legend>
		<label><span>First Name: </span><input type='text' name='firstname' required='required' /></label>
		<label><span>Last Name: </span><input type='text' name='lastname' required='required' /></label>
		<label><span>Email: </span><input type='email' name='email' required='required' /></label>
		<label><span>Company/DBA: </span><input type='text' name='company' maxlength="30" required='required' /><span class='helper alignRight'>company name will be your username. 10 char limit</span></label>
		<label><span>Domain: </span><input type='url' name='domain' required='required' placeholder='http://' value="" /></label>
		<label><span>Phone: </span><input type='tel' name='phone' required='required' size='10' /></label>
		<div class='stdPadding lookLikeLink' data-app-event='admin|authShowLogin'> &#187; back to login</div>
		<div class='alignRight'>
			<button data-app-event='admin|authNewAccountCreate'>Create Account</button>
		</div>
	</fieldset>
	</form>
</div><!-- used for account creation -->







<div id='appView' class='displayNone'>

	
	<div id='mastHead'>
	
		<div class='headerTop'>
			<div class='logo pointer alignCenter' onClick="navigateTo('/dashboard');" title='home'><img src='app-admin/images/zoovy_logo-173x30.png' width='173' height='30' alt='zoovy' /></div>
			<div class='menu floatRight'>
				<span class='pointer lookLikeLink' onClick="return navigateTo('/showPlatformInfo');">About</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('/ext/admin_task/showTaskManager');" title='view and edit your task list'>Tasks</span>
				| <span class='pointer lookLikeLink' onClick="return navigateTo('/logout');" title='log out of your account' >Exit</span>
			</div>
			
			<div class='floatRight marginRight'>
	Logged in as: <span class='username'></span> on <span class='domain lookLikeLink' onClick='adminApp.ext.admin.a.showDomainChooser(); return false;'></span> <span class='partition'></span>
			</div>
			
		</div>

		<div class='mhTabsContainer'>
		<ul class='showIcons navIcons'>
			<li class='toggleArrow alignCenter' onClick="adminApp.ext.admin.a.toggleHeaderTabHeight()" title='Toggle this menu to be taller or shorter'>&#9650;</li>
			<li class='setupTab' onClick="navigateTo('/tab/setup');">
				<span class='text'>Setup</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="setup?animFunc=fwd" data-animation-mouseout="setup?animFunc=back"></span>
				<span class='animIcon' data-animation="setup?imgsrc=app-admin/images/header_anime/setup_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=55&amp;height=55&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='sitesTab' onClick="navigateTo('/tab/sites');">
				<span class='text'>Sites &amp; Apps</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="sites?animFunc=loop" data-animation-mouseout="sites?animFunc=stop&amp;animCallback=goToFirstFrame"></span>
				<span class='animIcon' data-animation="sites?imgsrc=app-admin/images/header_anime/sites_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=42&amp;height=32&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=120" ></span>
			</li>
			<li class='productTab' onClick="navigateTo('/tab/product');">
				<span class='text'>Product</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="products?animFunc=loop" data-animation-mouseout="products?animFunc=stop&amp;animCallback=goToFirstFrame"></span>
				<span class='animIcon' data-animation="products?imgsrc=app-admin/images/header_anime/products_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=45&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=120" ></span>
			</li>
			<li class='ordersTab' onClick="navigateTo('/tab/orders');">
				<span class='text'>Orders</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="orders?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="orders?imgsrc=app-admin/images/header_anime/orders_sprite.png&amp;frameCount=13&amp;startFrame=12&amp;width=61&amp;height=42&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='crmTab' onClick="navigateTo('/tab/crm');">
				<span class='text'>CRM</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="crm?animFunc=fwd" data-animation-mouseout="crm?animFunc=back"></span>
				<span class='animIcon' data-animation="crm?imgsrc=app-admin/images/header_anime/crm_sprite.png&amp;frameCount=16&amp;startFrame=0&amp;width=62&amp;height=36&amp;xGap=5&amp;x1=65&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='syndicationTab' onClick="navigateTo('/tab/syndication');">
				<span class='text'>Marketplaces</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="marketplaces?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="marketplaces?imgsrc=app-admin/images/header_anime/marketplaces_sprite.png&amp;frameCount=15&amp;startFrame=14&amp;width=60&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60"></span>
			</li>
			<li class='reportsTab' onClick="navigateTo('/tab/reports');">
				<span class='text'>Reports</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="reports?animFunc=fwd&amp;start=0"></span>
				<span class='animIcon' data-animation="reports?imgsrc=app-admin/images/header_anime/reports_sprite.png&amp;frameCount=15&amp;startFrame=14&amp;width=33&amp;height=39&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='kpiTab' onClick="navigateTo('/tab/kpi');">
				<span class='text'>KPI</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="kpi?animFunc=loop&amp;start=0" data-animation-mouseout="kpi?animFunc=stop&amp;animCallback=goToFirstFrame" ></span>
				<span class='animIcon' data-animation="kpi?imgsrc=app-admin/images/header_anime/kpi_sprite.png&amp;frameCount=33&amp;startFrame=0&amp;width=41&amp;height=32&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='utilitiesTab' onClick="navigateTo('/tab/utilities');">
				<span class='text'>Utilities</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="utilities?animFunc=fwd" data-animation-mouseout="utilities?animFunc=back"></span>
				<span class='animIcon' data-animation="utilities?imgsrc=app-admin/images/header_anime/utilities_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=53&amp;height=53&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>

			<li class='supportTab' onClick="navigateTo('/tab/support');">
				<span class='text'>Support</span>
				<span class='icon'></span>
				<span class="animator" data-animation-mouseenter="support?animFunc=fwd" data-animation-mouseout="support?animFunc=back"></span>
				<span class='animIcon' data-animation="support?imgsrc=app-admin/images/header_anime/support_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=38&amp;height=38&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
			<li class='messagesTab' onClick="adminApp.ext.admin.u.toggleMessagePane();">
				<span class='text'>Messages</span>
				<span class='messageCount'></span>
				<span class="animator" data-animation-mouseenter="messages?animFunc=fwd" data-animation-mouseout="messages?animFunc=back"></span>
				<span class='animIcon' data-animation="messages?imgsrc=app-admin/images/header_anime/messages_sprite.png&amp;frameCount=15&amp;startFrame=0&amp;width=45&amp;height=45&amp;xGap=5&amp;x1=70&amp;y=0&amp;frameDur=60" ></span>
			</li>
		</ul>
		<div id='messagesContent' class='displayNone'>
			<button onClick="adminApp.ext.admin.u.toggleMessagePane();" class='floatRight' id='closePanelButton'>Close Message Panel</button>
			<button onClick="adminApp.ext.admin.u.clearAllMessages();" class='floatRight' id='clearMessagesButton' title="Clear all messages from queue">Clear All</button>
			<div class='messagesList'>
			<table class='fullWidth'>
			<tbody data-app-role='messagesContainer'></tbody>
			</table>
			</div>
			
			<div class='messageDetail'></div>
		</div>
		</div>
		<div id='navTabs' class='positionRelative'></div>
		<div id='breadcrumb'></div>
	</div><!-- /mastHead -->
	
	<div class='positionRelative pageContentContainer'>
	
	
		<div id='globalMessaging' class='appMessaging'></div>
	
	
		<div id='homeContent' class='displayNone tabContent' data-section='home'></div><!-- home acts as a default as well -->
		<div id='setupContent' class='displayNone tabContent' data-section='setup'></div>
		<div id='sitesContent' class='displayNone tabContent' data-section='sites'></div>
		<div id='ordersContent' class='displayNone tabContent' data-section='orders'></div>
		<div id='crmContent' class='displayNone tabContent' data-section='crm'></div>
		<div id='syndicationContent' class='displayNone tabContent' data-section='syndication'></div>
		<div id='reportsContent' class='displayNone tabContent' data-section='reports'></div>
		<div id='kpiContent' class='displayNone tabContent' data-section='kpi'></div>
		<div id='utilitiesContent' class='displayNone tabContent' data-section='utilities'></div>
		<div id='supportContent' class='displayNone tabContent' data-section='support'></div><!-- used for new support app -->
		<div id='launchpadContent' class='displayNone tabContent' data-section='launchpad'></div>
		<div id='jtContent' class='displayNone tabContent' data-section='jt'></div><!-- for testing -->
		
		<div id='productContent' class='displayNone tabContent' data-section='product'></div>

	</div>

	<div id='mastFoot'></div><!-- if a footer is ever introduced, put it here for launchpad compatibility. -->
</div><!-- /appView -->










<div id='printContainer' class='displayNone'></div><!-- used for printing. leave this here... and alone -->











<!--
Having these on the DOM seems to make the JQ File Upload plugin work better so they're here instead of within a template.
-->

<!-- The template to display files available for upload -->
<!-- NOTES:
template-upload modified from original. data-name added to tr.
data-fid and data-fname will be added in the fileuploadadd
These two pieces of data are used for mapping after the uploads to set what folder each file is saved to.
-->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" data-filename="{%=file.name%}">
        <td class="preview"><span class="fade"></span></td>
        <td>
			<div class="name">{%=file.name%}</div>
			<div class="size">{%=o.formatFileSize(file.size)%}</div>
			<div class="folder"></div>
		</td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download-->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade"  data-filename="{%=file.name%}">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
        </td>
    </tr>
{% } %}
</script>




<div id='debugPanel' class='ui-widget ui-widget-content ui-corner-all smallPadding displayNone'>
<h5>Debugificator</h5>
<ul class='debugMenu'>
	<li><a href='#'>Pages</a>
	<ul>
		<li><a href='#' onClick="navigateTo('/ext/admin_template/showTemplateEditor',{'mode':'Campaign','campaignid':'201312052_2013122'}); return false;">showNewTemplateEditor</a>
		<li><a href='#' onClick="adminApp.model.addDispatchToQ({'_cmd':'adminConfigDetail','tuning':'1'},'mutable'); adminApp.model.dispatchThis('mutable'); return false;">adminConfigDetail -> tuning</a></li>
		<li><a href='#' onClick="navigateTo('/launchpad'); return false;">Launchpad</a></li>
		<li><a href='#' onClick="navigateTo('/ext/admin_template/showAppChooser'); return false;">App Chooser</a></li>
		<li><a href='#' onClick="adminApp.ext.admin_trainer.a.showTrainerInModal(); return false;">Trainer</a></li>
		<li><a href='#' onClick="$('#setupContent').empty(); adminApp.ext.admin.a.showAchievementList($('#setupContent')); return false;">showAchievementList (in setup)</a></li>
	</ul>
	</li>
	<li><a href='#'>Test</a>
	<ul>
		<li><a href='#' onClick='adminApp.model.addDispatchToQ({"mode":"elastic-search","size":250,"filter":{"and":[{"range":{"base_price":{"from":0,"to":50000}}},{"term":{"pogs":"AC"}}]},"_cmd":"appPublicSearch","type":"product"},"mutable"); adminApp.model.dispatchThis("mutable"); return false;'>elastic-search</a></li>	
		<li><a href='#' onClick="$('#globalMessaging').anymessage(adminApp.u.successMsgObject('Changes have been saved. and then there is this other text to make the text block a bit more texty and long, which is good for testing because it sometimes happens.')); return false;">throw success message</a></li>
		
		<li><a href='#' onClick="adminApp.model.destroy('adminSyndicationList'); adminApp.model.addDispatchToQ({'_cmd':'adminSyndicationList'},'mutable'); adminApp.model.dispatchThis('mutable');">adminSyndicationList</a></li>

		<li><a href='#' onClick="adminApp.model.destroy('adminConfigDetail'); adminApp.ext.admin.calls.adminConfigDetail.init({'inventory':true},{},'mutable'); adminApp.model.dispatchThis('mutable');">adminConfigDetail</a></li>
	
	</ul>
	</li>
</ul>


</div>






<script type="text/pegjs" id="pegjs">
dataTLC
 = grammar+

grammar
 = _ cmd:(IfStatement) _ lb* { return cmd; }
 / _ cmd:(WhileLoopStatement) _ lb* { return cmd; }
 / _ cmd:(ForeachLoopStatement) _ lb* { return cmd; }
 / _ cmd:(BindStatement) _ lb* { return cmd; } 
 / _ cmd:(SetStatement) _ lb* { return cmd; } 
 / _ cmd:(ExportStatement) _ lb* { return cmd; } 
 / _ cmd:(command) _ lb* { return cmd; }

command
 = _ module:([a-z_]+ "#")? cmd:[a-z?]+ args:((ws+ value)+)? _ lb* {
     return {
       type: "command",
       module: module ? module[0].join("") : "core",
       name: cmd.join("").toLowerCase(),
       args: args ? args.map(function(a) { return a[1] }) : null
     }
   }


// ** BIND **
// bind $var 'something'; (jsonpath lookup)
// bind $var $someothervar; (jsonpath lookup)
// bind $var ~tag; (returns tag id/path)
// bind ~tag '#tagid'; jQuery('#tagid')
// bind ~tag $tagid jQuery($tagid)
BindStatement
 = "bind" _ set:(variable / tag) _ src:(variable / scalar / tag) _ lb+ {
  return { type:"BIND", Set:set, Src:src }
  }


// ** EXPORT **
// export 'key' --dataset=$var
// export '%key' --dataset=$var
ExportStatement
= "export" _ set:(scalar / variable) args:(ws+ value)+ _ lb+ {
  return { type:"EXPORT", Set:set, args: args ? args.map(function(a) { return a[1] }) : null } 
  }

// ** SET ** 
// set $dst $src --path='.xyz';
SetStatement
 = "set" _ set:(variable / tag) _ src:(variable / scalar / tag / boolean / integer) args:((ws+ value)+)? _ lb+ {
  return { type:"SET", Set:set, Src:src, args: args ? args.map(function(a) { return a[1] }) : null }
  }

// if (command) {{ }} else {{ }};
IfStatement
  = "if" _ "(" _ condition:command _ ")" _ ifStatement:Block elseStatement:(_ "else" _ Block)? _ lb+ {
      return ({
        type: "IF",
        When: condition,
        IsTrue: ifStatement,
        IsFalse: elseStatement !== null ? elseStatement[3] : null
      });
   }

// while (something) {{ inner loop }};
WhileLoopStatement
  = "while" _ "(" _ condition:command _ ")" _ whileStatement:Block lb+ {
      return ({
        type: "WHILE",
        While: condition,
        Loop: whileStatement,
      });
   }


// foreach $item in $items {{ inner loop }};
ForeachLoopStatement
  = "foreach" _ set:(variable) _ "in" _ members:(variable) _ loop:Block lb+ {
      return ({
        type: "FOREACH",
        Set: set,
        Members: members,
        Loop: loop,
      });
   }


Block
  = "{{" _ statements:(StatementList _)? "}}" {
      return {
        type: "Block",
        statements: statements !== null ? statements[0][0] : []
      };
    }

StatementList
  = head:Statement tail:(_ Statement)* {
      var result = [head];
      for (var i = 0; i < tail.length; i++) {
        result.push(tail[i][1]);
      }
      return result;
    }

Statement
  = Block
  / grammar+


/* value types */

// ~tag is a reference to a jquery object
tag
 = "~" tag:([a-zA-Z]+) {
   // tag table should maintain reference to tags on DOM
   return { type:"tag", tag:tag.join(""), jq:null }
   }

boolean
 = "true" {return{ "type":"boolean", "value": true }}
 / "false" {return{ "type":"boolean", "value": false }}

// longopt start with a --
longopt
 = "--" k:([a-zA-Z]+) "=" v:( value ) {
    return {
       type: "longopt",
       key: k.join(""),
       value: v
       }
    }
 / "--" k:([a-zA-Z]+) {
    return {
      type: "longopt",
      key: k.join(""),
      value: null
      }
    }


// scalar (string)
// NOTE: at this point there is no way to escape a ' in a string.
//
scalar
 = "'" v:([^']*) "'" {
     return {
       type: "scalar",
       value: v.join("")
     }
   }

// Variables can't start with a number
variable
 = "$" v:([a-zA-Z0-9_]*) {
     return {
       type: "variable",
       value: v.join("")
     }
   }

integer
  = digits:[0-9]+ {
      return {
        type: "integer",
        value: parseInt(digits.join(""), 10)
      }
    }

hexcolor
  = "#" v:([A-Fa-f0-9][A-Fa-f0-9][A-Fa-f0-9][A-Fa-f0-9][A-Fa-f0-9][A-Fa-f0-9]) {
     return { type:"hexcolor", value: v.join("") }
     }

additive
  = left:muldiv _ sign:[+-] _ right:additive {
      return {
        type: "command",
        name:sign,
        args:[left,right]
      }
    }
  / muldiv

muldiv
  = left:primary _ sign:[*/] _ right:muldiv {
      return {
        type: "command",
        name: sign,
        args:[left, right]
      }
    }
  / primary

primary
  = (variable / integer)
  / "(" _ additive:additive _ ")" { return additive; }

value
 = longopt / variable / integer / scalar / boolean / tag / hexcolor / additive

// /* i am a comment (i can only appear before a command) */
comment
  = "/*" (!"*/" SourceCharacter)* "*/" { return{}; }

SourceCharacter
  = .

ws
 = [ \t\n\r]

_
 = (ws / comment)*

lb
 = ";"


</script>




</body>
</html>
