body	{background:#F4F0EC; padding:6px; margin:0; color:#333333; font-family:Verdana, Geneva, sans-serif; font-size:90%;}


#appPreView	{background:#ffffff; margin-top:100px;}

#appView	{margin:0;}

#mastHead, #bodyContentContainer, #mastFoot	{padding:6px;}

#bodyContentContainer	{border:1px solid #cccccc; background:#ffffff; border-top-width:0;}

#mastHead	{margin-bottom:6px;}
#mastHead a	{text-decoration:none;}
#mastHead a:hover	{text-decoration:underline; color:#eb8f00;}
#mastHead .menu	{color:#cccccc; font-size:.85em;}
#mastHead .menu a	{padding:0 6px;}

#searchBar button	{padding:2px 6px; cursor:pointer;}
#searchBar .productSearchKeyword	{width:50%; font-size:1.2em;}
#searchBar.ui-widget-header	{padding:3px 6px !important;}


a	{color:#1c94c4;}
a:hover	{color:#eb8f00;}

#mastFoot	{font-size:.75em;}

.stdPadding	{padding:12px;}
.positionRelative	{position:relative;}




table.fullWidth	{width:100%;}
/*
Use this in a table where you want clear separation between rows and cells. This includes color differntiation in the rows. you don't need padded table set.
*/
.gridTable	{background:#cccccc; border-spacing:0 1px;}
.gridTable td, .gridTable th, .gridTable tf	{padding:2px 10px 2px 2px; vertical-align:top;}
.gridTable tr:nth-child(odd)	{background:#ffffff;}
.gridTable tr:nth-child(even)	{background:#f0f0f0;}

tr.prodlistRow .numberInput	{width:50px}




.inputsAsBreaks	input, .inputsAsBreaks select	{display:block; margin-bottom:4px;}
input.qtyChanged	{background:#FFC;} /* class is also used to put together the query, so don't change the name */

.categoryPageTable .rightCol	{width:99%;}
.categoryPageTable .leftColSubcats li	{width:150px; margin-right:24px; padding:2px; font-size:.9em;} /* margin is on li so if no subcats are present, no space is used */
.categoryPageTable .leftColSubcats li:hover	{text-decoration:underline; background-color:#eb8f00; color:#ffffff;}
.bulkAddItemsButtonContainer	{font-size:.9em; padding:3px;}