#appTemplates, #appView {display:none;} /* container for all templates. should be hidden */

#appPreView	{width:550px; margin:0 auto;}


/*
loading class. add class to your templates if you want a loading graphic to appear while data is requested. add only to the parent element. 
loadingBG classname is removed once template is rendered.
*/
.loadingBG	{background:url(loading.gif) no-repeat center center; min-height:100px; min-width:100px;}
li.loadingBG	{background:url(wait.gif) no-repeat top center; min-height:20px; min-width:20px;}

/******* global styles - added for cross-browser uniformity or usability ******/

img	{border:0; vertical-align: top; display:inline-block;} /* vertical-align: top; removes the whitespace sometimes added under an image.  */
button {display:inline-block; margin: 0; padding: 0; cursor:pointer !important;}
p	{margin-bottom:12px;}


table {
	border-collapse: collapse;
	border-spacing: 0;
	}
td	{vertical-align:top;}
td.valignMiddle	{vertical-align: middle;}



/* feel free to delete these or override in your own .css file */
h1, h2, h3, h4, h5, h6	{padding:0; margin:0;}
p	{margin:0 0 12px 0;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}

button:focus	{outline:none;}
button.ui-button	{padding:2px 12px !important;} /* jqueryui ui-button default class doesn't handle padding for 'button' elements. */

.bindByAnchor	{} /* here just to give a little aid to wysiwyg editors. no styles should be applied. used w/ bindNav feature */


/* some general classes used for styling templates. feel free to use these. It's not recommended you delete or rename them */



/******* positioning *******/

.floatLeft	{float:left;}
.floatRight	{float:right;}

.alignCenter	{text-align:center;}
.alignLeft	{text-align:left;}
.alignRight	{text-align:right;}

.center	{margin:0 auto;}


/****** aesthetics/usability ******/

/* added to buttons (such as place order) when they're disabled to clearly indicate they should not be clicked again. */
.disabled	{
	cursor:crosshair !important;
	filter: alpha(opacity=50);
	opacity:0.5;
	}

.pointer	{cursor:pointer;}

/* used when an element needs to start of hidden. this is used frequently. */
.displayNone	{display:none;}

.lineThrough	{text-decoration:line-through}
.underline	{text-decoration:underline; cursor:pointer} /* only use this on clickable text */
.borderNone	{border:none;}

.clearfix	{clear:both;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}
	



/****** APP specific styles ******/


/* error handling css. some error css is defined in the jqueryui styles */

#globalMessaging .ui-icon	{float:left; margin:auto 5px;}
#globalMessaging .appMessage {padding:5px;} /* add padding to children, not parent, that way we can empty the parent and no space is reserved */
.appMessage ul	{margin-left:12px; font-size:.9em;}

/* used in order history and faq (possibly other places) in a format similar to an accordian, but more than one panel can be open. */
.appAccordianesque .ui-accordion-header {padding:3px 24px;}

/* pages like search results, company and/or customer have a side column of links which can be placed/styled w/ this class */
.sideline	{float:right; width:200px; margin:0 0 24px 24px;}
.sideline li a	{padding:3px 0; text-decoration:none;}

.marginBottom	{margin-bottom:12px;} /* a generic margin for between stacked elements or sections */

/***************************************************

LISTS (product list and/or subcategory list)
these get used just about everywhere. leave these fairly generic 
and override using classes or id's as needed.

***************************************************/

.listStyleNone, .listStyleNone li	{list-style:none;} /* apply to a ul or ol */
.noPadOrMargin	{padding:0; margin:0;}
.fluidList li	{float:left; margin:12px; padding:0; display:inline-block;}

/* over rides - height and width ensure each row is the same height. percentages could be used for width */
.productList li	{width:150px; height:250px;}
.lineItemProdlist li	{display:block; padding:12px 0; width:100% !important; height:auto !important; border-bottom:1px dotted #efefef;} /* single column product list - used in cart, checkout, etc. productList class is also defined in these cases. */

.lineItemProdlist .prodThumb	{margin-right:12px;}

.categoryList li	{width:150px; height:200px;}

.productList h4, .productList h5, .productList h6, .categoryList h4, .categoryList h5, .categoryList h6	{padding:0; margin:0;} /* h4 - h6 are used in default templates for name, price, etc */

.productList li, categoryList li	{font-size:.8em;}

.productList h4, .categoryList h4	{font-size:1em;}
.productList h5, .categoryList h5	{font-size:.9em;}
.productList h6, .categoryList h6	{font-size:.85em;}


/* multpage header for lists (product list) - most styling handled by jqueryUI */

.mpControls	{padding:2px 6px;}


/***************************************************

PRODUCT DETAIL PAGE (productTemplate)

***************************************************/

#prodViewerTable	{width:100%;}

.breadAndAddThisContainer	{margin-bottom:8px; padding-bottom:8px; border-bottom:1px dotted #b6b6b6;}

/* primary image and thumbnails */
.imageContainer	{width:10%; padding-right:24px;}
#prodViewerTable .prodThumbs div	{float:left; margin:12px 12px 0 0;}


.prodSummaryContainer	{width:90%;}


#tabbedProductContent #prodReviewsTab	{display:block;} /* reviews tab always shows up */

/*
the child list and loading graphic should only show up IF the product is a parent.
so the displayNone class is used, then a .grpType_PARENT class is added if the item is a parent.
*/
.grpType_PARENT	{display:block; margin-bottom:12px;}
#prodlistChildren li	{width:75px; height:120px; overflow:hidden; margin-left:0;}

.prodViewerAddToCartForm	{margin-bottom:24px;}
.prodViewerAddToCartForm fieldset	{margin:0 0 12px 0; padding:0;}
.prodViewerAddToCartForm label:after	{content:":"; padding-right:12px;}

#CRMButtonMenu	{margin:0; padding:0; margin-bottom:12px;}

.pogType_attribs	{display:none;} /* don't show finder attributes */

/****** REVIEW GFX - used for review summary and in list of reviews on product detail page ******/

.reviewSummaryContainer	.numReviews	{line-height:21px; display:inline-block; height:21px; float:left; margin-left:4px; padding-right:6px;}
.reviewSummaryContainer	.numReviews:after	{content:": "}
.reviewSprite	{background: url(qs_reviews_stars-124x324.png) no-repeat; width:124px; height:22px; display:inline-block;}
.review_0 	{background-position:0 0;}
.review_1 	{background-position:0 -29px;}
.review_2	{background-position:0 -61px;}
.review_3	{background-position:0 -91px;}
.review_4	{background-position:0 -121px;}
.review_4	{background-position:0 -151px;}
.review_6	{background-position:0 -181px;}
.review_7	{background-position:0 -211px;}
.review_8	{background-position:0 -241px;}
.review_9	{background-position:0 -270px;}
.review_10	{background-position:0 -301px;}

.prodlist .review_0	{display:none;} /* hide the stars for items with no reviews */


/****** REVIEW LIST - on product detail page, used for product reviews. ******/
.reviewLineItem {padding-bottom:12px; display:block; clear:both;}
.prodReviewInfo	{float:left; display:block; width:150px; list-style:none; margin:0 12px 12px 0; font-weight:normal;}
.prodReviewInfo li	{display:block; clear:both;}
.prodReviewTemplate li p	{font-weight:normal;}




/****** WRITE REVIEW MODAL ******/
#reviewFrm label	{display:block; text-align:right; float:left; width:150px;}
#reviewsMessage		{width:250px; height:250px;}
#reviewFrm input, #reviewFrm textarea, #reviewFrm select	{margin-bottom:5px;}
#reviewFrm .ui-button	{float:right;}

/***************************************************

BREADCRUMB
 -> used on product and category pages

***************************************************/


#breadcrumb	{margin-bottom:12px;}
#breadcrumb li	{padding:0; margin:0; cursor:pointer; padding-right:10px;}
#breadcrumb li:after	{content:" > "; padding-left:10px; font-size:10px; font-weight:bold; color:#999999;}
#breadcrumb li:last-child:after	{content:"";}

#breadcrumb li:last-child a	{color:#666666; text-decoration:none; font-weight:bold; cursor:text;}



/***************************************************

cartTemplate

***************************************************/




.cartContainer	{width:100%;}



/***************************************************

CUSTOMER PAGES

***************************************************/




/****** LOGIN MODAL ******/
#loginFormForModal fieldset	{border:0}
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}


/****** NEWSLETTER SUBSCRIBE/ACCOUNT CREATE ******/
#subscribeFormContainer .userInfo div	{margin-bottom:6px;}
#subscribeFormContainer li	{list-style:none;}
#subscribeFormContainer .userInfo label	{width:100px; display:inline-block; margin-right:10px;}
.subscriberLists label	{width:300px;}


/****** ORDER HISTORY AND INVOICE ******/

#ordersArticle	{margin-right:250px;} /* w/out the margin, the sections lay over the sideline */
#ordersArticle .ui-accordion-content	{padding:.4em} /* reduce padding here to make a little extra room */
#ordersArticle .orderContentsTable	{width:100%}


#orderInvoiceSoloPage table	{width:700px;}
.orderContentsProdlistContainer	{width:500px;}
.orderContentsProdlistContainer .prodThumbContainer	{float:left; margin:0 5px 5px 0;}


/***************************************************

SEARCH RESULTS PAGE

***************************************************/

#resultsProdlist {
	float: left;
	width: 760px;
	}

#searchNav a	{padding:2px 6px;}
#recentSearchesList	{border-top:0;}



/***************************************************

HELP PAGES

***************************************************/



/***** CONTACT US ******/
#contactForm {float:right; margin: 0 0 12px 12px;}
#contactForm fieldset	{border:1px solid #cccccc; padding:10px;}
#contactForm div	{margin-bottom:5px}
#contactForm label	{width:105px; display:inline-block; margin-right:6px; vertical-align:top; text-align:right;}
#contactForm input, #contactForm textarea	{width:145px;}
#contactForm textarea	{height:125px;}










/***************************************************

CART
NOTE - Some of these classes are also shared with the cart summary that appears during checkout.

***************************************************/

.cartSummaryTotalsContainer h2	{margin:0; border-top:0; border-left:0; border-right:0; padding:2px 12px; font-size:.8em;} /* header */
.cartSummaryTotalsContainer .cartSummaryContainer	{padding:12px;}
.cartZipCodeContainer, .cartAltButtonsContainer, .cartSummaryContainer	{margin-bottom:12px; padding-bottom:12px; border-bottom:1px dotted #efefef;}

.cartStuffContainer	{width:60%; vertical-align:top; padding-right:12px;}
.cartSummaryTotalsContainer {width:40%; padding-left:12px; font-size:.8em;} /* by default, this is the right column */

.checkoutButtonsContainer span	{display:block; float:left; margin:0 12px 12px 0;}

.cartShipMethods, .cartZipCodeContainer, .cartSummary	{margin:12px 0;}

.cartSummaryTotalsContainer h3	{margin:12px 0;} /* shipping methods prompt */

.checkoutButton	{font-weight:bold !important;} /* probably want to customize this with a graphic or something that stands out much more */





/***************************************************

CHECKOUT

***************************************************/


/* the padding is needed for buttons that use loadingButtonBG.  this is applied to all buttons for the sake of consistency */
#zCheckoutContainer button	{padding:3px 20px;}
.cartTotalLineItem .prodThumb	{margin:0 12px 12px 0;}


#zCheckoutContainer h2	{font-size:1em; margin:0; padding:0;}

#paybySupplemental_CREDIT .ui-icon-help	{display:inline-block; margin-left:6px;}

#modalProcessCheckout .loadingBG	{width:100px; height:200px;}





/* -----------------> CHECKOUT  <----------------- */

/* some global styles, within checkout. */

#checkoutFrm label	{vertical-align:top}

.checkoutFormContainer legend	{padding:3px 12px; margin-left:12px;}
.checkoutFormContainer fieldset	{padding:12px; margin-bottom:12px;}


/* these are the errors that appear next to the place order button, typically reporting validation errors */
#chkoutSummaryErrors	{clear:both;}
#chkoutSummaryErrors li	{text-align:right;}

#zCheckoutContainer .ui-widget p	{margin:3px;}

/* by defualt, gift card will appear in the payment choices panel, above the other payment options */
#giftCardContainer	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block; text-align:left;}
#giftCardContainer	label	{padding-right:12px;}
#giftCardContainer	button	{margin-left:12px;}


#couponContainer	{clear:both; float:right;}
#couponFrmContainer	{clear:both;}


/* preflight panel is used in 'nice' checkout and shows login information */
#chkoutPreflightFieldset	{width:auto;}
#chkoutPreflightFieldset .preflightInputContainer	{float:left; margin-right:24px; padding-bottom:12px;}
#chkoutPreflightFieldset .preflightInputContainer .h2	{margin-bottom:12px;}
#chkoutPreflightFieldset div button	{margin-left:12px;}

#preflightGuestInputs label,
#preflightAccountInputs label,
#preflightAuthenticatedInputs label	{width:140px; display:inline-block;}


#checkoutTemplateCostSummary	{text-align:right;}

#chkoutCartSummary #cartSummaryTotalsContainer	{width:auto;}
.checkoutFormContainer fieldset, #chkoutCartSummary	{margin:0 0px 12px 0; min-height:50px;}
.checkoutFormContainer fieldset textarea	{width:80%; height:100px;}

#chkoutBillAddressFieldset label:after, 
#chkoutAccountInfoFieldset label:after, 
#chkoutPreflightFieldset label:after, 
#chkoutShipAddressFieldset label:after,
.paybySupplemental label:after { content: ":"; }

#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:140px; }

#chkout-create_customerContainer label	{width:auto;}
#chkout-create_customerContainer label:after	{content: ""}

#chkoutSummaryTotalsContainer	{float:right; width:35%;}
#checkoutStuffList	{float:left; width:60%}
#checkoutStuffList .prodThumb	{float:left;}

#chkoutPlaceOrderBtn	{font-size:1.5em; font-weight:bold; 
	clear:both; margin:12px 0;
	}


#zCheckoutFrm address	{display:block; float:left; margin:12px; border:1px solid #cccccc; padding:10px; font-style:normal; text-align:left;} /* use a white border (if not colored) so elements don't shift when 'selected' class is added. */

#zCheckoutFrm fieldset li	{margin-bottom:12px;}

/* the entry after the comma below handles 'supplemental' labels (under radio buttons, like in payment) */
#zCheckoutFrm fieldset li label, #zCheckoutFrm fieldset li.paycon ul label	{text-align:right; padding-right:12px; display:inline-block;}


#zCheckoutFrm fieldset input[type=text], #zCheckoutFrm fieldset input[type=tel], #zCheckoutFrm fieldset input[type=password], #zCheckoutFrm fieldset input[type=email]	{width:220px;}
#zCheckoutFrm .checkbox	label	{text-align:left; width:240px;}
#zCheckoutFrm .checkbox	{ padding-left:120px; clear:both;}


#zCheckoutFrm fieldset li.paycon, #zCheckoutFrm fieldset li.shipcon	{margin-top:10px; }
#zCheckoutFrm fieldset li.paycon label, #zCheckoutFrm fieldset li.shipcon label	{text-align:left; line-height:1.4em;}


#zCheckoutFrm fieldset li.bill_zip input, #zCheckoutFrm fieldset li.ship_zip input	{width:80px;}
#zCheckoutFrm fieldset li.bill_state, #zCheckoutFrm fieldset li.ship_state	{float:left;}
#zCheckoutFrm fieldset li.bill_state input, #zCheckoutFrm fieldset li.ship_state input, #zCheckoutFrm fieldset .bankState	{width:40px;}

#zCheckoutFrm fieldset p	{clear:both;}

.mandatory input[type=text], .mandatory input[type=tel], .mandatory select	{border:1px solid #990000}
.mandatory label{color:#990000; font-weight:bold;}
.mandatory span:after	{content: "*";}


.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental .zform_select {margin-right:12px;}


.facebookSendLineItem	{float:left; margin:3px;}
.facebookSendLineItem img	{height:65px; width:56px;}


/* error containers */
p.zwarn, ul.zwarn	{border:1px solid #cc0000; padding:5px; margin:0 0 12px 0; background:#ffd6d6; clear:both; text-align:left;}
ul.zwarn li	{margin-left:15px;}

/* applied to fieldset once validated */
.validatedFieldset	{} /* border:1px solid #006600 */
.validatedFieldset legend	{} /* background-image:url(images/checkmark-25x26.png); background-position: top right; background-repeat: no-repeat; */



/* -----------------> POST-CHECKOUT MARKETING PAGE  <----------------- */

.checkoutSuccess	{padding:20px 0;} /* don't change this to margin. will F up sites */


.ocmThirdParty	{ line-height:200%; width:300px;}
.ocmThirdParty .ocm	{margin:0 5px 5px 0;  float:left;}









/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu {
	overflow: hidden;
	}
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	background:#efefef;
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	border:1px solid #cccccc;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}

