@charset "utf-8";

body	{background:url(images/zs10_body_bg-2000x16.gif) repeat-y; margin:0em; padding:.7em; font-weight:100;}

#mastHead	{height:141px;}
.mobileNav	{display:none;}
#mastHead .logo	{position:absolute; top:3px; left:.5em; width:270px; height:75px; display:block; background-position: -222px -4px;}

#mastHead .middlebg	{
	height:65px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom:1px solid #00203e;
	}

#mastHead .middle2bg	{
	display:block;
	height:28px;
	border-top:1px solid #7f919f;
	border-bottom:2px solid #080c0f;
	background: rgb(114,110,107); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(114,110,107,1) 0%, rgba(68,72,75,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,110,107,1)), color-stop(100%,rgba(68,72,75,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(114,110,107,1) 0%,rgba(68,72,75,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(114,110,107,1) 0%,rgba(68,72,75,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(114,110,107,1) 0%,rgba(68,72,75,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(114,110,107,1) 0%,rgba(68,72,75,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#726e6b', endColorstr='#44484b',GradientType=0 ); /* IE6-9 */
	}

#headerDecal2	{
	display:block;
	color:#fff;
	position:absolute; top: 43px; right:.5em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	padding:.1em .6em; 
	}
#headerDecal2 .primaryText	{margin-right:.4em; padding-right:.4em; border-right:1px solid #faba8e;}

#tier1catContainer .sbbSprite	{display:none;} /* disable banners in left col, it's still collapsed */
#tier1catContainer	{
	top:139px; width:60%;
	} /* these are revealed onclick */

#menuNav	{position:absolute; top:14px; right:.3em; display:block; color:#27a8e0;} /* .3 instead of .5 is to compensate for the link margin */
.menuLink	{color:#fff; font-size:.7em; font-weight:100; margin:0 .2em; text-decoration:none;}
#specialsNav	{position:absolute; top:77px; left:0; display:block;}
.specialsLink	{color:#ccc; font-size:.7em; font-weight:700; margin:0; padding:0 .5em; border-right:1px solid #333; text-decoration:none;}
.specialsLink:hover	{color:#fff;}

#mastHeadSearchFrm	{left:90px; width:50%;}
.productSearchKeyword	{width:100%;}

#headerPhoneNumber	{display:block; position:absolute; top:0px; margin-top:-10px; right:.5em; font-size:.8em; color:#fff;}

#mastHead .socialIcons	{display:block; position:absolute; right:.5em; bottom:5px; font-size:.5em; line-height:.3em;}
#mastHead .minicart	{bottom:37px; font-size:.8em; display:block; right:.5em; position:absolute; color:#fff; padding-left:32px;}
#mastHead .minicart .cart	{background-position:-125px -67px; display:block; width:26px; height:25px; float:left; margin-right:.2em; position:absolute; left:0; top:-2px;}
.minicart a	{color:#fff; text-decoration:none;}


.socialSprite	{background:url(images/social_sprite.png) no-repeat; width:22px; height:21px; display:inline-block; margin-right:.3em; overflow:hidden; text-indent:-3000px;}
.facebook	{background-position:-344px -137px;}
.twitter	{background-position:-344px -15px;}
.gplus		{background-position: -140px -137px;}
.myspace	{background-position:-276px -76px;}
.youtube	{background-position:-5px -15px;}
.wordpress	{background-position:-174px -15px;}

.pageContentMainColumn	{
	margin-right:195px; overflow:hidden; 
	}

.pageContentSidebar	{display:block; position:absolute; top:0; right:0; width:183px;}
.sbbSprite	{width:183px; height:120px; display:block; margin-bottom:.5em; background:url(images/sidebar_banners.jpg) no-repeat;}
.sbb1	{background-position:0 0;}
.sbb2	{background-position:0 -120px;}
.sbb3	{background-position:0 -240px;}
.sbb4	{background-position:0 -360px;}
.sbb5	{background-position:0 -480px;}
.sbb6	{background-position:0 -600px;}
.sbb7	{background-position:0 -720px;}
.sbb8	{background-position:0 -840px;}
.sbb9	{background-position:0 -960px;}
.sbb10	{background-position:0 -1080px;}
.sbb11	{background-position:0 -1200px;}

.textBlockMaxHeight	{max-height:400px;}


.prodListArrow	{display:none;}
/* don't put zprodlist on the front of this because then it won't apply to search results */
li.plLineItem	{
	margin:0 1% .5em 0; 
	width:49%; 
	float:left;
	font-size:.8em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	height:130px;
	}
/* product template */

.vidsAndPics	{float:left; margin-right:2%; width:400px}
.productDetailThumbnails a	{float:left;}
.zoomToolZoomContainer	{width:250px; height:250px; top: 0px; left:350px;}


#loginFormContainer	{max-height: auto;} /* undo the 200px max-height for mobile devices */
.signUpAdvantages	{display:block; width:50%; margin-left:2em;}
.signUpAdvantages h4, .signUpAdvantages h3, .signUpAdvantages h2, .signUpAdvantages p	{margin:0; padding:0;}

#solicitFeedback	{display:none;} /*once we get this wide, we'll have the sidebar for this */





/*
1040, not 1024, so that pad aspect ratio change doesn't show left col.
if this changes, some JS needs to be written to handle making sure the cats are visible. otherwise, in vertical the cats could be 'closed' and then on aspect change, they wouldn't show up.
*/
#headerDecal1	{display:block; position:absolute; top:20px; right:.5em; background:url(images/rapidssl-90x50.gif) no-repeat; height:50px; width:90px;}
#menuNav, #headerDecal2	{right:110px;}
.checkoutText	{display:inline;}
#mastHeadSearchFrm	{left:.5em; width:50%;}
#mainContentArea, #globalMessaging, #appNav	{
	margin-left:195px; 
	}
#mainContentArea	{min-height:800px;} /* so left col doesn't go into footer */
#tier1catContainer	{display:block; width:183px; left:0; border:0; background:#fff; z-index:50; top:143px;}
#tier1catContainer button, #tier1categories .rootCatThumb	{display:none;}
#tier1catContainer .sbbSprite	{display:block;} /* left col no longer collapsed, show banners */
#tier1categories	{clear:both; margin-bottom:.3em; dislay:block;}
/* a clearfix, but only at this size, to cause separation between cats and brands */
#tier1categories:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

#tier1categories li	{width:100%; margin:.1em 0;}
#shopNowLink	{display:none;}

.viewAllBrandsHref	{display:block;}
.shopByBrandHref	{display:none;}
#shopByBrandContainer	{border:1px solid #cccccc; padding:.3em; margin:.5em 0;}
#shopByBrandContainer .mfg	{display:block; float:left; margin:.3em .1em;}

.zProductList li.plLineItem	{width:24%; height:230px;}
.prodThumbContainer	{float:none; margin:0 auto .3em auto;}
.vidsAndPics	{width:550px}



.zProductList li.plLineItem	{width:19%; height:240px;}



