@charset "utf-8";

body,html	{margin:0; padding:0; font-size:100%; font-family: 'Oswald', Arial,Helvetica,sans-serif; font-weight:300; color:#000;}

a	{color:#0f4d82;}
a:hover	{color:#000;}

menu, section, header, footer	{display:block; margin:0; padding:0;}



h1	{font-size:1.3em; color:#333; margin:.3em 0;}
h2	{font-size:1.2em; color:#666; margin:.2em 0;}
h3	{font-size:1.1em; color:#ccc; margin:.1em 0;}
h4	{font-size:1.05em; color:#666; margin:0;}
h5	{font-size:1.03em; color:#666; margin:0;}




.sprite	{background:url(images/sprites.png);}
.shipsFree	{background-position:0 -105px; width:90px; height:15px}

/* header */

#mastHead	{position:relative;}
#mastHead .topbg	{background: #707070; height:12px;}
#mastHead .middlebg	{
	height:38px;
	background: #0c84ec; /* Old browsers */
	background: -moz-linear-gradient(top, #0c84ec 0%, #104a7b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c84ec), color-stop(100%,#104a7b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0c84ec 0%,#104a7b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0c84ec 0%,#104a7b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0c84ec 0%,#104a7b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0c84ec 0%,#104a7b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c84ec', endColorstr='#104a7b',GradientType=0 ); /* IE6-9 */
	}
#mastHead .bottombg, footer .footHead	{
	height:28px;
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 0%, #282828 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 0%,#282828 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #707070 0%,#282828 100%); /* IE10+ */
	background: linear-gradient(to bottom, #707070 0%,#282828 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#282828',GradientType=0 ); /* IE6-9 */	
	}

#mastHead .logo	{position:absolute; top:3px; left:.5em; width:165px; height:51px; display:block;}

#mastHead menu	{position:absolute; top:21px; right:.5em;}
#mastHead menu a	{float:left; margin-left:1em; display:block; width:26px; height:21px;}
#mastHead menu .contact	{background-position:0 -70px;}
#mastHead menu .account	{background-position:-26px -70px;}
#mastHead menu .cart	{background-position:-55px -70px;}


#shopNowLink	{
	position:absolute; bottom:0; left:0; height:32px; line-height:26px; cursor:pointer; text-align:center; padding:0 1.3em 0 .5em;
	color:#fff;
	-webkit-border-radius: 0 .6em .6em 0;
	border-radius: 0 .6em .6em 0;
	background: #ff9c00; /* Old browsers */
	background: -moz-linear-gradient(top, #ff9c00 0%, #ff4000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9c00), color-stop(100%,#ff4000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff9c00 0%,#ff4000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c00', endColorstr='#ff4000',GradientType=0 ); /* IE6-9 */	
	}

#shopNowLink .arrow-down {
	width: 0; 
	height: 0;
	display:block;
	position:absolute; right:.3em; bottom:.8em;
	border-left: .35em solid transparent;
	border-right: .35em solid transparent;
	border-top: .35em solid #fff;
	}




#mastHeadSearchFrm	{position:absolute; bottom:5px; right:.5em; left:100px;}
.productSearchKeyword	{margin:0; padding:0; text-indent:.2em; border:0; font-size:.9em; z-index:9; width:100%;}
#mastHeadSearchButton	{position:absolute; bottom: 0px; right:.1em; background-position:-95px -72px; width:20px; height:15px; border:0; padding:0; z-index:10;}

#tier1categories	{display:none; list-style:none; margin:0; padding:0; position:absolute; left:20px; top:75px; background:#fcf5b5; z-index:1000; width:90%;} /* these are revealed onclick */
#tier1categories li	{
	width:50%; display:block; float:left;
	padding:.3em; margin:0;
	font-size:.9em; line-height:.8em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	}
#tier1categories img	{float:left; margin-right:.5em;}
#tier1categories li a	{text-decoration:none;}

/* footer */


footer .footHead	{line-height:26px; font-size:.9em; font-weight:bold; color:#fff; padding:.2em .5em;}
footer p.linkGroup	{width:45%; font-size:.8em;  margin:0 .5em; padding:.5em 0;}
footer p.linkGroup a	{text-decoration:none; padding:.3em 0}
footer .footText	{background: #707070; font-size:.7em; line-height:1.1em; padding:.5em; color:#fff;}


/* content area */
#contentContainer	{padding:.3em;}

.reversedHeader	{
	display:block; padding:.3em .5em; margin:0 0 .5em 0; line-height:26px; 
	color:#fff; font-weight:700; font-size:1em;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	}



.wikiContainer	{font-weight:300; font-size:1em;}
.wikiContainer h1	{font-size:1em; color:#ff9c00;}
.wikiContainer h2	{font-size:.95em; color:#333;}
.wikiContainer h3	{font-size:.9em; color:#666;}
.wikiContainer p	{margin:0 0 .3em 0; font-size:.9;}

.basePrice	{color:#ff9c00;}
.lineThrough	{text-decoration:line-through;}

hr.subtle	{margin:.1em 0;
	border: 0; height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
}

/***** Homepage CSS Start *****/
#slideshowContainer {
	margin-bottom: 5px;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshow {
	width: 600px;	
	height: 284px;
	position:absolute; 
	left:0; 
	top:0;
	overflow:hidden;
}
#slideshowNav {
    bottom: 5px;
    right: 10px;
    position: absolute;
    text-align: left;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #nav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}
#slideshowContainer {
    margin-bottom: 5px;
    max-height: 265px;
    overflow: hidden;
    position: relative;
    width: 600px;
    z-index: 10;
}
#slideshowContainer #slideshow {
    margin: 0;
    padding: 0;
}
#slideshowContainer #slideshow li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#slideshowNav {
    bottom: 15px;
    left: 10px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FE8B21;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#slideshowNav a:hover, #slideshowNav a.activeSlide {
    color: #FE8B21;
}
#slideshowNav a:focus {
    outline: medium none;
}



/* category page styles */

.zCatList li.catListItem	{float:left; margin:.2em; width:93px; height:93px; overflow:hidden;}
.zCatList li.catListItem a	{text-decoration:none;}
.categoryListPretty	{background:#000000; color:#ffffff; padding:.2em; text-align:center;}

/* product list styles */
.zProductList	{list-style:none; margin:0; padding:0;}
.zProductList li.plLineItem	{display:block; margin:0 0 .5em 0; font-weight:300; padding:0; font-size:.9em; position:relative;}
.prodThumbContainer	{float:left; margin-right:.5em;}
.blockLink	{text-decoration:none;}
.zProductList .prodPrice	{color:#333;}
.prodListArrow {position:absolute; right: 5px; top:40px;}
.reviewPLAdjust	{margin:0em 0 -.5em 1em;} /* -bottom is to pull review icon down to align w/ add to cart. is a span, so can't use top margin */


/***** Review Section CSS Start *****/
.reviewSprite	{background: url(images/zephyr_reviewsprite.png) no-repeat; width:86px; height:18px;}
.review_1 	{background-position: 0px 0px;}
.review_2	{background-position: 0px 0px;}
.review_3	{background-position: 0px -28px;}
.review_4	{background-position: 0px -28px;}
.review_5	{background-position: 0px -56px;}
.review_6	{background-position: 0px -56px;}
.review_7	{background-position: 0px -84px;}
.review_8	{background-position: 0px -84px;}
.review_9	{background-position: 0px -112px;}
.review_10	{background-position: 0px -112px;}
/***** Review Section CSS End *****/


/* product template */

/* responsive video/youtube -> found here: http://avexdesigns.com/responsive-youtube-embed/ 
doesn't respond quite as well once in a tab. will need media queries to adjust the height. ####TODO
*/
.prodVideoTab	{min-height:200px;}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	}
 
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}

.reviewSummary .reviewSprite	{margin-top:.3em;}

.prodPageQtyInputFieldset	{display:none;} /* qty input on mobile not desired. will display w/ media queries later */
.prodPageAdd2CartButton	{
	width:50%; margin:0 auto; border:0;
	padding:.5em 0; cursor:pointer; text-align:center;
	font-weight:800;
	color:#fff;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	background: #ff9c00; /* Old browsers */
	background: -moz-linear-gradient(top, #ff9c00 0%, #ff4000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9c00), color-stop(100%,#ff4000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff9c00 0%,#ff4000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff9c00 0%,#ff4000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c00', endColorstr='#ff4000',GradientType=0 ); /* IE6-9 */
	}


/* styles for the cart */
.shippingEstimates th	{font-size:.9em; text-align:left;}
.shippingEstimates td	{font-size:.8em; text-align:left; font-weight:300;}
.shippingEstimates tr:nth-child(odd)	{background:#fff;}
.shippingEstimates tr:nth-child(even)	{background:#efefef;}
