#templates	{display:none;} /* hide the container for all the templates */


/* override/set html defaults */


/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	}

body, html	{height:100%;}

body	{padding:0; margin:0; font-size: 80%; background:#F7FAFC;} /* sets a 'base' font size. em for specs on all subsequent sizing will base itself off of this */

img	{border:0; vertical-align: baseline;} /* vertical-align: baseline; removes the whitespace sometimes added under an image. use floats if needed */

button {display:inline-block; margin: 0; padding: 0; cursor:pointer !important;}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}
td	{vertical-align:top;}


h1  {font-size:1.6em; color:#000000; font-weight:bold;} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
h2	{font-size:1.4em; color:#333333; font-weight:bold;}
h3, legend	{font-size:1.3em; color:#616161; font-weight:bold;}
h4	{font-size:1.2em; color:#666666; font-weight:bold;}
h5	{font-size:1.1em; color:#666666; font-weight:bold;}
h6	{font-size:1em; color:#666666; font-weight:bold;}

hgroup	{margin-bottom:12px;}

a	{color:#2779AA;}

/* make sure the indicator on a button looks clickable */
button	{cursor:pointer;}

p	{margin-bottom:12px;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}

button:focus	{outline:none;}

/* loading classes. do NOT change class name. change styling as needed */
.loadingBG	{background:url(//static.zoovy.com/graphics/layouts/checkout-20111031/loading_blue-28x28.gif) no-repeat center center; min-height:28px;}


/* used when an element needs to start of hidden */
.displayNone	{display:none;}











/*
two classes that can be toggled using .showIfLoggedIn.show() to show once they're logged in and .showIfLoggedIn.hide() to hide.
probably want to run the opposite on hideIfLoggedIn at the same time */
.showIfLoggedIn	{display:none;} /* expected that users won't be logged in the second they land on the page, so hide these */
.hideIfLoggedIn {display:block;} /* show these till the user logs in */
.disableIfLoggedOut {} /* doesn't actually do anything, style wise. however class is used to disable buttons when logged out */



.spriteBG	{background-image:url(sprite_bg_v1-275x275.png);}

/* some classes for common styles */

.no_underline a	{text-decoration:none;} /* this should be left alone */

.floatLeft	{float:left;}
.floatRight	{float:right;}
.clearBoth	{clear:both;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}




div.center	{text-align:center;}

table.center	{
	margin-left: auto;
	margin-right: auto;
	}

.lineThrough	{text-decoration:line-through}
.underline	{text-decoration:underline; cursor:pointer} /* only use this on clickable text */

.marginBottom	{margin-bottom:12px;}
.stdMargin	{margin:12px;}

.padMargBorderBottom	{padding-bottom:12px; border-bottom:2px dotted #ffffff; margin-bottom:12px;}


.noListStyle, .noListStyle li	{list-style:none;}


.pointer	{cursor:pointer;}




/* 
Master Header
*/

#mastHead	{margin:0 12px; font-weight:normal; display:block;}
#logo	{height:78px; overflow:hidden; cursor:pointer; display:inline-block;}
#mastHead menu	{float:right; position:relative; margin:12px 0;}
#mastHead menu button	{margin:0 0 0 12px;}
#mastHead menu nav	{display:none;}
#loginPrompt	{line-height:78px; float:right; margin-right:12px;}

#mastHead button.cart		{ background-position:0 0; }
#mastHead button.tools	{background-position:-90px 0;}
#mastHead button.help		{background-position:-181px 0; }
#mastHead button.icon		{border:0; padding:0; font-size:0;width:54px; height:54px;background-repeat:no-repeat;}

#shopByCatsBtn	{padding:3px 8px;}

/* bar that contains the browse button and search form */

div.horBar	{
	font-weight:normal;
	padding:12px;
	clear:both;
	border-left:0; border-right:0;
	position:relative; z-index:500; /* high z-index so it is 'over' content area (for keyword auto-complete) */
	}

/* search form */

#headerSearchFrm	{float:right;}
#headerSearchFrm legend {display:none;}
#headerSearchFrm fieldset	{text-align:right}
#headerKeywordsInput	{width:350px;}



/*
Main content area and nav. positioning styles. don't touch.
*/

/* will most likely need to adjust the height on this one */
#columnContainer	{position:absolute; right:0px; top:130px; bottom:0; left:0;}

#leftCol	{position:absolute; top:0; left:0; width:200px; bottom:0; z-index:100; padding:12px 0;}
#mainCol	{ position:absolute; right:0px; top:0; bottom:0; z-index:150; padding:12px;}


/* hideleft is applied to column container when left column should be hidden */
.hideLeft #mainCol	{left:0px;}
.hideLeft #leftCol	{display:none;}

/* showleft is applied to column container when left column should be visible */
.showLeft #leftCol	{display:block;}
.showLeft #mainCol	{left:200px;}




/* left column styles - okay to edit */
#leftCol #navigation	{width:200px;}
#leftCol ul	{list-style:none; margin-bottom:12px;}
#leftCol nav li	{margin-bottom:12px; font-size:1em; font-weight:normal; padding-left:12px;}

#leftCol nav li a	{display:block; padding:4px 12px; text-decoration:none;}
#leftCol nav li ul	{padding-left:9px;} /* each list item has a bottom margin of 3, so +9 = 12 */

#searchNav li	{padding:0; margin-bottom:12px;}
#searchNav .ui-accordion-content	{padding:4px 0; margin:0; border-top:0;}
#searchNav .ui-accordion-content li	{margin:0; padding:0;}
#searchNav .ui-accordion-content a	{padding:4px 6px;}
#searchNav h3	{padding:2px 4px;}


#chkoutCartContents .prodThumb	{height:50px; width:50px;}

#cartSummary	{margin:9px 12px;}
#cartViewerForm table	{width:100%; margin-top:12px;}
#cartViewerContentsContainer {padding-right:12px;} /* left column of cart */
#cartSummaryTotalsContainer {width:45%; font-weight:normal;} /* right column of cart */

#cartSummaryTotalsContainer .ui-widget	{padding:4px;}
#cartSummaryTotalsContainer .ui-widget-header	{padding:3px 12px;}
#cartViewerForm .prodOptions .prompt:after	{content:": "}

#cartSummaryTotals	{line-height:160%; margin-bottom:12px;}




/* login modal */
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}






/* reviews stars */

.reviewSprite	{background:url(reviews_stars-150x150.png) no-repeat; width:122px; height:21px; display:block;}
.review_1, .review_2	{background-position:0 0;}
.review_3, .review_4	{background-position:0 -26px;}
.review_4, .review_6	{background-position:0 -53px;}
.review_7, .review_8	{background-position:0 -79px;}
.review_9, .review_10	{background-position:0 -106px;}




/* product viewer */

#productViewer_productmodal table	{width:100%;}
#productViewer_productmodal td.imageContainer	{width:312px;}
#productViewer_productmodal .prodBigImage	{margin-right:12px; margin-bottom:12px;}



/* top right portion of viewer */

.prodSummaryContainer h6	{float:right;} /* pid */
.prodSummaryContainer h2	{margin-bottom:12px;} /* price */

.prodSummaryContainer .instock	{color:#006600;}
.prodSummaryContainer .outofstock	{color:#660000;}
.prodSummaryContainer .latency	{margin-bottom:12px;} /* handles margin below stock and latency messaging */

.prodViewerAddToCartForm fieldset	{margin:12px 0;}
.prodSummaryContainer .addToCartButton {margin:12px 0; padding:4px 8px;} /* add breathing room. padding makes button stand out a bit more */

.prodSummaryContainer menu	{padding:12px 0; display:block; clear:both;}
.prodSummaryContainer menu button	{margin:0 12px 12px 0; padding:2px 4px;}


#tabbedProductContent .tabs li	{display:none;} /* tabs are hidden by default. enabled if field is populated */
#tabbedProductContent #prodReviewsTab	{display:block;} /* reviews tab always shows up */

.smallProdlist ul, .smallProdlist	{list-style:none; clear:both; margin-bottom:12px;}
.smallProdlist li	{display:block;}
#prodlistChildren .prodThumb	{height:50px; width:50px;}

#prodlistRelatedContainer	{width:400px; margin-left:12px; paddinb-top:12px;} /* proximus.js will resize. here as a failsafe */
#prodlistRelatedContainer h3	{margin-left:-12px;} /* compensate for container margin. for alignment */


.reviewLineItem {padding-bottom:12px; display:block; clear:both;}
.prodReviewInfo	{float:left; display:block; width:150px; list-style:none; margin:0 12px 12px 0; font-weight:normal;}
.prodReviewInfo li	{display:block; clear:both;}
.prodReviewTemplate li p	{font-weight:normal;}

/*
the child list and loading graphic should only show up IF the product is a parent.
so the displayNone class is used, then a .grpType_PARENT class is added if the item is a parent.
*/
.grpType_PARENT	{display:block; margin-bottom:12px;}












/* content area styles */


#breadcrumb	{list-style:none; clear:left; float:left; font-size:1.1em; }
#breadcrumb, #breadcrumb h1	{line-height:1.5em}
#breadcrumb li	{ float:left; display:block;}
#breadcrumb li:after {content: ">"; padding-left: 12px; margin-right:12px;}
#breadcrumb li a.ui-state-default	{background:none; text-decoration:none; border:none;}
/* subcategory list */

#subcategoryListContainer	{list-style:none;  clear:both; margin-bottom:12px;}
.bigCatListItem {width:220px; height:275px; float:left; margin:12px; position:relative; font-size:.8em; overflow:hidden}
.bigCatListItem .thumbContainer	{width:220px; height:220px;} /* the container 'saves' the space if the image isn't present. */
.bigCatListItem .name	{  font-size:1.1em; }




#mainContentArea article h1	{margin-bottom:12px;}
.textContentArea article h4, .textContentArea article h3, .textContentArea article p 	{margin-bottom:12px;}
.textContentArea article p {font-weight:normal;}


#mainCol .ui-state-success {
    background: #e4f2ff;
    border: 1px solid #bbd6ef;
    color: #363636;
	}




/* some styles for the system created forms */
div.zform_div 	{clear:both; padding-top:12px;}
div.zform_div label	{padding-right:12px;}
div.zform_div input[type="radio"]	{clear:left; display:inline-block;}
div.zform_div input[type="radio"]:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* table that contains the order contents in order history once detail is open */
.orderContentsTable	{width:100%;}

/* container for order prodlist list */
.orderContentsProdlistContainer {padding-left:12px;}
#orderHistoryContainer .ui-accordion-header {padding:3px 24px;}
#orderHistoryContainer address	{font-weight:normal; text-transform:none; font-style:normal; margin-bottom:12px;}
#orderHistoryContainer h3, #orderHistoryContainer h4	{margin:0px; padding:0;}





/* product list (both cat page and search results) */

/* a default used for making sure images in a product list are a reasonable size. */
.prodlist	{list-style:none; clear:both;margin-bottom:12px;}
.prodlist li	{margin:12px; position:relative; width:200px; height:200px; float:left; cursor:pointer;}
.prodlist li img	{position:absolute; top:0; left:0; z-index:10;} /* used to generate image sizes. */
.prodlist li .nameNPriceBG, ul.prodlist li .nameNPrice {position:absolute; bottom:0; left:0; right:0; height:45px; font-size:.9em; overflow:hidden;}

.prodlist li .nameNPriceBG	{
	background:#ffffff;
	filter: alpha(opacity=80);
	opacity:0.8;
	z-index:14;
	}/* a separate div so opacity doesn't effect the text inside it. */

.prodlist li .nameNPrice	{ font-weight:normal; z-index:15;}
.prodlist li .nameNPrice .price	{
	float:right; margin:0 0 4px 12px;
	}

.prodlist .prodListDetailed	{clear:both;}
.prodlist .prodlistDetailed	img {float:left; margin:0 12px 12px 0;}
.prodDesc	{max-height:150px; overflow:hidden;}




/* lineitem prodlist. can be used for order history, cart, checkout, etc */
.lineItemProdlist {list-style:none;}
.lineItemProdlist li	{clear:both;}
.lineItemProdlist img.prodThumb 	{float:left; margin:0 12px 12px 0;}
.lineItemProdlist .infoContainer	{ font-weight:normal;}
.lineItemProdlist .infoContainer h4	{margin:0; line-height:120%;}

.prodOptions	{font-size:.7em;}
.prodOptions .prompt:after {content:": "; padding-right:12px;}




/* multipage controls */
.mpControls	{clear:both; display:block; padding:6px 12px; position:relative;}
.mpControls span.ui-state-active	{padding: 2px 4px;}



/* tools styles */

#loginArticle form div, #newsletterArticle form div	{margin-top:12px; clear:both;}
#loginArticle label, #newsletterArticle label	{width:140px; display:block; float:left;}
#loginArticle div label:after, #newsletterArticle div label:after	{content:":"}

#newsletterArticle .subscriberLists	{list-style:none; margin:12px;}
#newsletterArticle .subscriberLists li	{margin-bottom:12px}
#newsletterArticle .subscriberLists label	{display:inline; float:none;}



/*
generic arrow styles. 
these are the same arrows as in the carousel, but these do NOT effect the carousel. 
those classes are below. 
*/

.nextArrow_big	{
    width: 22px;
    height: 75px;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -140px -149px;
	}

.backArrow_big	{
    width: 22px;
    height: 75px;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -106px -149px;
	}

.upArrow_big	{
    width: 75px;
    height: 23px;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -155px transparent;
	}

.downArrow_big	{
    width: 75px;
    height: 23px;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -190px transparent;
	}








/*

CAROUSEL STYLES 
used for accessories in cart.
uses jcarousel.
*/
#cartAccessoriesCarouselContainer h2	{margin-bottom:12px;}
#cartAccessoriesCarousel li	{height:150px; width:150px;}




.jcarousel-skin-proximus .jcarousel-container {}

.jcarousel-skin-proximus .jcarousel-container-horizontal {
	width: auto;
	padding: 0 10px;
	}

.jcarousel-skin-proximus .jcarousel-container-vertical {
	width: auto;
	height: 245px;
	padding: 10px 0;
	}

.jcarousel-skin-proximus .jcarousel-clip-horizontal {
/*	height: 150px; */
	width: auto;
	}

.jcarousel-skin-proximus .jcarousel-clip-vertical {
	width: auto;
	height: 245px;
	}

/*
the 'li' width is required, but is set on individual classes (like .prodlist) outside of the carousel, to be more flexible
.jcarousel-skin-proximus .jcarousel-item {
    width: 150px;
    height: 150px;
	}

*/

.jcarousel-skin-proximus .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-vertical {
    margin-bottom: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-placeholder {
    background: none;
    color: #000;
	}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-horizontal {
	position: absolute;
    width: 22px;
    height: 75px;
	right: -20px;
	top:60px;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -140px -149px;
	cursor:pointer;
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}

.jcarousel-skin-proximus .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    left: -20px;
    width: 22px;
    height: 75px;
    cursor: pointer;
    background: transparent url(sprite_bg_v1-275x275.png) no-repeat -106px -149px;
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}



/**
 *  Vertical Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -190px transparent;
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;

	}

.jcarousel-skin-proximus .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(sprite_bg_v1-275x275.png) no-repeat -11px -155px transparent;
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}









/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu {
	overflow: hidden;
	}
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	background:#efefef;
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	border:1px solid #cccccc;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}





/*   





CHECKOUT STYLES







*/



/*
general css
*/



/* the padding is needed for buttons that use loadingButtonBG.  this is applied to all buttons for the sake of consistency */
#zCheckoutContainer button	{padding:3px 20px;}


/*
don't set background: because the bgcolor is set by another class and this is just for adding the image.
*/
.loadingButtonBg	{background-image:url(loading_white-16x16.gif); background-repeat: no-repeat; background-position: 2px center;}


/* some generic styles that may get overwritten later by id-specific styles. don't add a width to this. test checkout if any changes made. */
.noListStyle li	{text-align:left;}
.noListStyle label	{vertical-align:top; display:inline-block; margin-right:10px;}









/* error handling css. some error css is defined in the jqueryui styles */

#globalMessaging .ui-icon	{float:left; margin:auto 5px;}
#globalMessaging .appMessage {padding:5px;} /* add padding to children, not parent, that way we can empty the parent and no space is reserved */

#globalMessaging .appMessage ul	{margin-left:24px;}




/* -----------------> CHECKOUT  <----------------- */

/* some global styles, within checkout. */

#checkoutFrm label	{vertical-align:top}

.checkoutFormContainer legend	{padding:3px 12px; margin-left:12px;}
.checkoutFormContainer fieldset	{padding:12px; margin-bottom:12px;}



#chkoutSummaryErrors	{clear:both;}
#chkoutSummaryErrors li	{text-align:right;}

#zCheckoutContainer .ui-widget p	{margin:3px;}



#globalCheckoutErrors	{text-align:right;}

#giftCardContainer	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block; text-align:left;}
#giftCardContainer	label	{padding-right:12px;}
#giftCardContainer	button	{margin-left:12px;}

#couponContainer	{clear:both;}
#couponFrmContainer	{clear:both;}



#chkoutPreflightFieldset	{width:auto;}

#chkoutPreflightFieldset .preflightInputContainer	{float:left; margin-right:24px; padding-bottom:12px;}
#chkoutPreflightFieldset .preflightInputContainer .h2	{margin-bottom:12px;}

#chkoutPreflightFieldset div button	{margin-left:12px;}

#preflightGuestInputs label,
#preflightAccountInputs label,
#preflightAuthenticatedInputs label	{width:140px; display:inline-block;}



.checkoutFormContainer fieldset, #chkoutCartSummary	{margin:0 0px 12px 0; min-height:50px;}
.checkoutFormContainer fieldset textarea	{width:80%; height:100px;}

#chkoutBillAddressFieldset label:after, 
#chkoutAccountInfoFieldset label:after, 
#chkoutPreflightFieldset label:after, 
#chkoutShipAddressFieldset label:after,
.paybySupplemental label:after { content: ":"; }

#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:140px; }

#chkout-create_customerContainer label	{width:auto;}
#chkout-create_customerContainer label:after	{content: ""}

#chkoutSummaryTotalsContainer	{float:right; width:35%;}
#chkoutCartContents	{float:left; width:60%}


#chkoutPlaceOrderBtn	{font-size:1.5em; font-weight:bold; 
	clear:both; margin:12px 0;
	}


#zCheckoutFrm address	{display:block; float:left; margin:12px; border:1px solid #cccccc; padding:10px; font-style:normal; text-align:left;} /* use a white border (if not colored) so elements don't shift when 'selected' class is added. */

#zCheckoutFrm fieldset li	{margin-bottom:12px;}

/* the entry after the comma below handles 'supplemental' labels (under radio buttons, like in payment) */
#zCheckoutFrm fieldset li label, #zCheckoutFrm fieldset li.paycon ul label	{text-align:right; padding-right:12px; display:inline-block;}


#zCheckoutFrm fieldset input[type=text], #zCheckoutFrm fieldset input[type=tel], #zCheckoutFrm fieldset input[type=password], #zCheckoutFrm fieldset input[type=email]	{width:220px;}
#zCheckoutFrm .checkbox	label	{text-align:left; width:240px;}
#zCheckoutFrm .checkbox	{ padding-left:120px; clear:both;}


#zCheckoutFrm fieldset li.paycon, #zCheckoutFrm fieldset li.shipcon	{margin-top:10px; }
#zCheckoutFrm fieldset li.paycon label, #zCheckoutFrm fieldset li.shipcon label	{text-align:left; line-height:1.4em;}


#zCheckoutFrm fieldset li.bill_zip input, #zCheckoutFrm fieldset li.ship_zip input	{width:80px;}
#zCheckoutFrm fieldset li.bill_state, #zCheckoutFrm fieldset li.ship_state	{float:left;}
#zCheckoutFrm fieldset li.bill_state input, #zCheckoutFrm fieldset li.ship_state input, #zCheckoutFrm fieldset .bankState	{width:40px;}

#zCheckoutFrm fieldset p	{clear:both;}

.mandatory input[type=text], .mandatory input[type=tel], .mandatory select	{border:1px solid #990000}
.mandatory label{color:#990000; font-weight:bold;}
.mandatory span:after	{content: "*";}


.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental .zform_select {margin-right:12px;}


.facebookSendLineItem	{float:left; margin:3px;}
.facebookSendLineItem img	{height:65px; width:56px;}


/* error containers */
p.zwarn, ul.zwarn	{border:1px solid #cc0000; padding:5px; margin:0 0 12px 0; background:#ffd6d6; clear:both; text-align:left;}
ul.zwarn li	{margin-left:15px;}

/* applied to fieldset once validated */
.validatedFieldset	{} /* border:1px solid #006600 */
.validatedFieldset legend	{} /* background-image:url(images/checkmark-25x26.png); background-position: top right; background-repeat: no-repeat; */





/* -----------------> POST-CHECKOUT MARKETING PAGE  <----------------- */

.checkoutSuccess	{margin:20px 0;}


.ocmThirdParty	{ line-height:200%; width:300px;}
.ocmThirdParty .ocm	{margin:0 5px 5px 0;  float:left;}





