#templates	{display:none;}

/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	}



/* should match the family and color set in the ztxt class */
body	{font-family: trebuchet, "trebuchet MS", helvetica, sans-serif; color: #000000; margin:0; padding:0; font-size: 80%; background:url(mbo_bodytag_bg-1700x515.jpg) no-repeat top center #ffffff;}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}


img	{border:0; vertical-align: top; display:inline-block;} /* vertical-align: top; removes the whitespace sometimes added under an image.  */

button {display:inline-block; margin: 0; padding: 0; cursor:pointer !important;}




p	{margin-bottom:12px;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}

button:focus	{outline:none;}









.pointer	{cursor:pointer;}



/* used when an element needs to start of hidden */
.displayNone	{display:none;}



.no_underline a	{text-decoration:none;} /* this should be left alone */

.floatLeft	{float:left;}
.floatRight	{float:right;}

.clearfix	{clear:both;} /* experimenting here - 20120327 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.alignCenter	{text-align:center;}
.alignLeft	{text-align:left;}
.alignRight	{text-align:right;}

div.center	{text-align:center;}


table.center	{
	margin-left: auto;
	margin-right: auto;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
td	{vertical-align:top;}
td.valignMiddle	{vertical-align: middle;}


.lineThrough	{text-decoration:line-through}
.underline	{text-decoration:underline; cursor:pointer} /* only use this on clickable text */


.noListStyle, .noListStyle li	{list-style:none;}



.hbSpriteBG	{background:url(hb12_spritebg_v2-500x212.png) no-repeat;}




/* theme specific */


/* outer width of the theme */
.outerContainer	{width:1000px; margin:0 auto;}

#leftColumn	{width:174px; float:left; margin:0 0 0 10px;}
#mainColumn	{width:796px; float:right; margin-right:10px;}

#mainColumn article	{width:600px;}
.searchResultsPage .mainColumn {width:600px;} /* for old IE which doesn't apply the article class above */
/* left column */

.leftCats, .leftCats li	{list-style:none;}



/* master footer */

#mastFoot section div	{
	box-sizing:content-box;
	-moz-box-sizing:content-box; /* Firefox */
	-webkit-box-sizing:content-box; /* Safari */
	float:left;
	}

#mastFoot section div:last-child	{border-right:0px; padding-right:0;}
#mastFoot section div:first-child	{padding-left:0;}



/* mast header */

.phoneAndMC	{height:65px; width:171px; position:relative; background-position:-240px -41px; cursor:pointer;}
.mcText	{position:absolute; bottom:8px; right:40px; text-align:right;}





/*

CAROUSEL STYLES 
used for accessories in cart.
uses jcarousel.
*/
#cartAccessoriesCarouselContainer h2	{margin-bottom:12px;}
#cartAccessoriesCarousel li	{height:150px; width:180px; font-size:.8em;}




.jcarousel-skin-proximus .jcarousel-container {}

.jcarousel-skin-proximus .jcarousel-container-horizontal {
	width: auto;
	padding: 0 10px;
	}

.jcarousel-skin-proximus .jcarousel-container-vertical {
	width: auto;
	height: 245px;
	padding: 10px 0;
	}

.jcarousel-skin-proximus .jcarousel-clip-horizontal {
/*	height: 150px; */
	width: auto;
	}

.jcarousel-skin-proximus .jcarousel-clip-vertical {
	width: auto;
	height: 245px;
	}

/*
the 'li' width is required, but is set on individual classes (like .prodlist) outside of the carousel, to be more flexible
.jcarousel-skin-proximus .jcarousel-item {
    width: 150px;
    height: 150px;
	}

*/

.jcarousel-skin-proximus .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-vertical {
    margin-bottom: 12px;
	}

.jcarousel-skin-proximus .jcarousel-item-placeholder {
    background: none;
    color: #000;
	}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-horizontal {
	position: absolute;
    width: 22px;
    height: 75px;
	right: -10px;
	top:60px;
    background: transparent url(hb12_carousel_arrows-275x275.png) no-repeat -140px -149px;
	cursor:pointer;
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}

.jcarousel-skin-proximus .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    left: -10px;
    width: 22px;
    height: 75px;
    cursor: pointer;
    background: transparent url(hb12_carousel_arrows-275x275.png) no-repeat -106px -149px;
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}



/**
 *  Vertical Buttons
 */
.jcarousel-skin-proximus .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(hb12_carousel_arrows-275x275.png) no-repeat -11px -190px transparent;
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-next-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-next-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-next-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;

	}

.jcarousel-skin-proximus .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    width: 75px;
    height: 23px;
    cursor: pointer;
    background: url(hb12_carousel_arrows-275x275.png) no-repeat -11px -155px transparent;
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:hover {
	}

.jcarousel-skin-proximus .jcarousel-prev-vertical:active {
	}

.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-proximus .jcarousel-prev-disabled-vertical:active {
    cursor: default;
	filter: alpha(opacity=50);
	opacity:0.5;
	}






/*   





CHECKOUT STYLES



/* the padding is needed for buttons that use loadingButtonBG.  this is applied to all buttons for the sake of consistency */
#zCheckoutContainer button	{padding:3px 20px;}

.cartTotalLineItem .prodThumb	{margin:0 12px 12px 0;}



*/



/*
general css
*/




/*
don't set background: because the bgcolor is set by another class and this is just for adding the image.
*/
.loadingButtonBg	{background-image:url(loading_white-16x16.gif); background-repeat: no-repeat; background-position: 2px center;}


/* some generic styles that may get overwritten later by id-specific styles. don't add a width to this. test checkout if any changes made. */
.noListStyle li	{text-align:left;}
.noListStyle label	{vertical-align:top; display:inline-block; margin-right:10px;}









/* error handling css. some error css is defined in the jqueryui styles */

#globalMessaging .ui-icon	{float:left; margin:auto 5px;}
#globalMessaging .appMessage {padding:5px;} /* add padding to children, not parent, that way we can empty the parent and no space is reserved */

.appMessage ul	{margin-left:12px; font-size:.9em;}




/* -----------------> CHECKOUT  <----------------- */

/* some global styles, within checkout. */

#checkoutFrm label	{vertical-align:top}

.checkoutFormContainer legend	{padding:3px 12px; margin-left:12px;}
.checkoutFormContainer fieldset	{padding:12px; margin-bottom:12px;}



#chkoutSummaryErrors	{clear:both;}
#chkoutSummaryErrors li	{text-align:right;}

#zCheckoutContainer .ui-widget p	{margin:3px;}



#globalCheckoutErrors	{text-align:right;}

#giftCardContainer	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block; text-align:left;}
#giftCardContainer	label	{padding-right:12px;}
#giftCardContainer	button	{margin-left:12px;}

#couponContainer	{clear:both;}
#couponFrmContainer	{clear:both;}



#chkoutPreflightFieldset	{width:auto;}

#chkoutPreflightFieldset .preflightInputContainer	{float:left; margin-right:24px; padding-bottom:12px;}
#chkoutPreflightFieldset .preflightInputContainer .h2	{margin-bottom:12px;}

#chkoutPreflightFieldset div button	{margin-left:12px;}

#preflightGuestInputs label,
#preflightAccountInputs label,
#preflightAuthenticatedInputs label	{width:140px; display:inline-block;}


#chkoutCartSummary #cartSummaryTotalsContainer	{width:auto;}
.checkoutFormContainer fieldset, #chkoutCartSummary	{margin:0 0px 12px 0; min-height:50px;}
.checkoutFormContainer fieldset textarea	{width:80%; height:100px;}

#chkoutBillAddressFieldset label:after, 
#chkoutAccountInfoFieldset label:after, 
#chkoutPreflightFieldset label:after, 
#chkoutShipAddressFieldset label:after,
.paybySupplemental label:after { content: ":"; }

#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:140px; }

#chkout-create_customerContainer label	{width:auto;}
#chkout-create_customerContainer label:after	{content: ""}

#chkoutSummaryTotalsContainer	{float:right; width:35%;}
#chkoutCartContents	{float:left; width:60%}


#chkoutPlaceOrderBtn	{font-size:1.5em; font-weight:bold; 
	clear:both; margin:12px 0;
	}


#zCheckoutFrm address	{display:block; float:left; margin:12px; border:1px solid #cccccc; padding:10px; font-style:normal; text-align:left;} /* use a white border (if not colored) so elements don't shift when 'selected' class is added. */

#zCheckoutFrm fieldset li	{margin-bottom:12px;}

/* the entry after the comma below handles 'supplemental' labels (under radio buttons, like in payment) */
#zCheckoutFrm fieldset li label, #zCheckoutFrm fieldset li.paycon ul label	{text-align:right; padding-right:12px; display:inline-block;}


#zCheckoutFrm fieldset input[type=text], #zCheckoutFrm fieldset input[type=tel], #zCheckoutFrm fieldset input[type=password], #zCheckoutFrm fieldset input[type=email]	{width:220px;}
#zCheckoutFrm .checkbox	label	{text-align:left; width:240px;}
#zCheckoutFrm .checkbox	{ padding-left:120px; clear:both;}


#zCheckoutFrm fieldset li.paycon, #zCheckoutFrm fieldset li.shipcon	{margin-top:10px; }
#zCheckoutFrm fieldset li.paycon label, #zCheckoutFrm fieldset li.shipcon label	{text-align:left; line-height:1.4em;}


#zCheckoutFrm fieldset li.bill_zip input, #zCheckoutFrm fieldset li.ship_zip input	{width:80px;}
#zCheckoutFrm fieldset li.bill_state, #zCheckoutFrm fieldset li.ship_state	{float:left;}
#zCheckoutFrm fieldset li.bill_state input, #zCheckoutFrm fieldset li.ship_state input, #zCheckoutFrm fieldset .bankState	{width:40px;}

#zCheckoutFrm fieldset p	{clear:both;}

.mandatory input[type=text], .mandatory input[type=tel], .mandatory select	{border:1px solid #990000}
.mandatory label{color:#990000; font-weight:bold;}
.mandatory span:after	{content: "*";}


.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental .zform_select {margin-right:12px;}


.facebookSendLineItem	{float:left; margin:3px;}
.facebookSendLineItem img	{height:65px; width:56px;}


/* error containers */
p.zwarn, ul.zwarn	{border:1px solid #cc0000; padding:5px; margin:0 0 12px 0; background:#ffd6d6; clear:both; text-align:left;}
ul.zwarn li	{margin-left:15px;}

/* applied to fieldset once validated */
.validatedFieldset	{} /* border:1px solid #006600 */
.validatedFieldset legend	{} /* background-image:url(images/checkmark-25x26.png); background-position: top right; background-repeat: no-repeat; */



/* -----------------> CONFIGURATOR  <----------------- */
/* most styles are in a separate css file. these are 'site specific' classes */

#configuratorAddToCartBtn	{border:0; padding:0; margin:0; height:34px; width:162px; background-position: -319px -131px; font-size:0;}
#configSocialBookmarklets	{text-align:right;}
.printIcon	{background-position: -120px -55px; width:22px; height:17px; display:inline-block; font-size:0px;}


/* -----------------> POST-CHECKOUT MARKETING PAGE  <----------------- */

.checkoutSuccess	{margin:20px 0;}


.ocmThirdParty	{ line-height:200%; width:300px;}
.ocmThirdParty .ocm	{margin:0 5px 5px 0;  float:left;}










/* minicart modal styles */

#cartSummary	{margin:9px 12px;}
#cartViewerForm table	{width:100%; margin-top:12px;}
#cartViewerContentsContainer {padding-right:12px;} /* left column of cart */
#cartSummaryTotalsContainer {width:45%; font-weight:normal;} /* right column of minicart. also used in checkout. */

#cartSummaryTotalsContainer .ui-widget	{padding:4px;}
#cartSummaryTotalsContainer .ui-widget-header	{padding:3px 12px;}
#cartViewerForm .prodOptions .prompt:after	{content:": "}

#cartSummaryTotals	{line-height:160%; margin-bottom:12px; width:100%;}
.qtyInput	{width:3em; text-align:center;}







/* login modal */
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}











/* product viewer */




#tabbedProductContent .tabs li	{display:none;} /* tabs are hidden by default. enabled if field is populated */
#tabbedProductContent #prodReviewsTab	{display:block;} /* reviews tab always shows up */

.smallProdlist ul, .smallProdlist	{list-style:none; clear:both; margin-bottom:12px;}
.smallProdlist li	{display:block;}
#prodlistChildren .prodThumb	{height:50px; width:50px;}

.reviewLineItem {padding-bottom:12px; display:block; clear:both;}
.prodReviewInfo	{float:left; display:block; width:150px; list-style:none; margin:0 12px 12px 0; font-weight:normal;}
.prodReviewInfo li	{display:block; clear:both;}
.prodReviewTemplate li p	{font-weight:normal;}

/*
the child list and loading graphic should only show up IF the product is a parent.
so the displayNone class is used, then a .grpType_PARENT class is added if the item is a parent.
*/
.grpType_PARENT	{display:block; margin-bottom:12px;}






/* reviews stars */
.reviewSummaryContainer	{margin-bottom:6px;}
#prodViewerReviews	{margin:0;}
.prodReviewInfo	{margin:0 20px 20px 0}
.reviewSummaryContainer	.numReviews	{line-height:21px; display:inline-block; height:21px; float:left; margin-left:4px; padding-right:6px;}
.reviewSummaryContainer	.numReviews:after	{content:": "}
.reviewSprite	{background:url(hb12_reviews_stars-150x150.png) no-repeat; width:122px; height:21px; display:inline-block;}
.review_1, .review_2	{background-position:0 0;}
.review_3, .review_4	{background-position:0 -26px;}
.review_4, .review_6	{background-position:0 -53px;}
.review_7, .review_8	{background-position:0 -79px;}
.review_9, .review_10	{background-position:0 -106px;}

/* popup styles */
.pop_body{background:#FFFFFF;}
.pop_outer{margin:0 auto;}
.pop_header{height:140px; background:url(hb12_pop_headerbg-1230x27.jpg) repeat-x bottom;}
.pop_close{float:right; cursor:pointer; font:normal 11px Arial, Helvetica, sans-serif; color:#000000; padding:10px 10px 0 0;}
.pop_logo{padding:7px 0 0 7px;}