@charset "utf-8";
/* CSS Document */

table.mediaLibrary	{width:100%;}
table.mediaLibrary td	{padding:0; vertical-align:top;}

table.mediaLibrary .leftCol	{width:25%;}


#mediaLibFolderList	{width:25%;}
#mediaLibFolderContainer li	{display:block; clear:both; margin-bottom:5px;}
#mediaLibFolderContainer a	{display:block; padding:2px 0;}
#mediaLibFolderContainer ul ul	{padding:0;}

.mediaFiles li	{float:left; margin:10px; width:120px; height:150px; overflow:hidden; text-align:center;}

#mediaLibActionsBar .ui-menu { width: 200px; } /* for use in folder dropdown. not limited to this tho */

.selectAddFolderChoices li	{margin: 3px; padding: 0.4em;}



#mediaLibFolderContainer, #mediaLibInfiniteScroller	{height:350px; overflow:auto;} /* actual height will get overwritten w/ JS. */

/*
buttons are shown by default and turned off when not needed.
buttons are disabled by adding a class to a parent container. That way, buttons can easily be turned on/off by adding/removing that class.
*/ 

.hideBtnDelete .btnDelete	{display:none;}
.hideBtnSelect .btnSelect	{display:none;}
.hideBtnDetails .btnDetails	{display:none;}
.hideBtnDownload .btnDownload	{display:none;}





#mediaLibControlsTabContainer .ui-icon { float: left; margin-right: 5px;}

#mediaLibControlsTabContainer .labelsAsBreaks input	{width:150px;}

/*
 * jQuery File Upload Plugin CSS Example 1.1.1
 * https://github.com/blueimp/jQuery-File-Upload
*/

 /* .fileUploadButtonBar	{display:none;}hidden by default in some cases. shown after 'add files' button clicked

#mediaLibraryFileUploadTable	{max-height:250px; overflow:auto;}
 */
.fileUploadFormContainer .nav-collapse,
.fileUploadFormContainer ul.nav,
.fileUploadFormContainer ul.nav li {
  display: inline-block;
  margin-right: 10px;
}
.fileUploadFormContainer .navbar .brand {
  font-size: 16px;
}
.fileUploadFormContainer .row {
  zoom: 1;
}
.fileUploadFormContainer .row:before, .row:after {
  display: table;
  content: "";
}
.fileUploadFormContainer .row:after {
  clear: both;
}
.fileUploadFormContainer .span5, .span7 {
  width: auto;
  float: left;
}
.fileUploadFormContainer td.delete {
  white-space: nowrap;
}




/* file upload styles. mostly for import pages */
#csvUploadToBatchForm label	{display:block; margin-bottom:6px;}
#csvUploadToBatchForm .formFieldHelp	{margin-left:24px; margin-bottom:6px;}