
.productEditorContainer	{width:100%;}
.productEditorContainer td	{vertical-align:top;}

.mainColContent	{width:80%; padding:0 24px; }
.productEditorContainer .leftColNav 	{padding:0 24px; border-right:1px solid #cccccc;}


/* used in the left column */
#prodLeftCol ul, #prodLeftCol li	{list-style:none; margin:0; padding:0;}
#prodLeftCol li	{margin-left:10px;}
#prodLeftCol li a	{padding:3px 0; display:block;}

#panelContents_general textarea	{width:80%;} /* override brians cols='80' */

/* panel specific styles */

.prodEditGeneralPanelLeftCol	{min-width:150px; padding-right:12px;}


@media screen and (max-width: 1180px) {
/* optional classes to put on same container that has labelsAsBreaks. Will make labels into a column and input into another, horizontally lined up. */
	#panel_general .alignedLabels label span	{display:block; width:100%;}
	#panel_general .alignedInputs textarea,
	#panel_general .alignedInputs input[type=email],
	#panel_general .alignedInputs input[type=text]	{width:100%;}
	}



/* tab for left side of screen after leaving order list mode */

#productListTab 	{position:fixed; left:0px; top:120px;  z-index:500; }
#productListTab .positionRelative	{width:400px;}
/* positioning and text rotation was barfing. so only the span within the tab is rotated */
#productListTab .tab	{
	position:absolute; cursor:pointer; z-index:510; 
	text-align:center;
	width:20px;
	height:120px;
	top:10px;
	right:-30px; /* positioning takes into account there's some padding */
	text-indent:6px;
	}

#productListTab .tab span	{
	display:block; /* block required for rotation, at least in FF.  */
	-webkit-transform: rotate(90deg);/* Safari */
	-moz-transform: rotate(90deg);/* Firefox */
	-ms-transform: rotate(90deg);/* IE */
	-o-transform: rotate(90deg);/* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	/* Internet Explorer */	
	}
#productListTab .productContainer	{overflow:auto; width:400px; height:300px;}
#productListTab table	{font-size:.75em; width:100%;}


td.variationEditorSplitter	{border:1px solid #efefef; vertical-align:middle; padding:0; width:2px;}
td.variationEditorSplitter div	{width:2px; overflow:visible; position:relative;}
td.variationEditorSplitter button	{position:absolute; top:-12px; left:-12px;}

/* this didn't solve the issue.
tbody.variationGroupOptions	{
     height: auto;
     min-height:100px;
	 width:100%;
     display:block	
	}min-height added so drag and drop would be easier */



/* for the sku-specific imagery */
.panelContents_images .skusImagesContainer	{float:right; display:none; width:35%;}
.panelContents_images .skusImagesContainer ul	{display:inline-block; min-height:35px;}


.imageIDRef {position:absolute; bottom:0px; left:0px; background:#efefef; padding:1px 3px;} /* the image ID (image32) shown on mouseover */

/* container for the 'product' level imagery */
.panelContents_images .prodImagesContainer	{
	float:left;
	}

/* used on an li at the end of each list of imagery to let users know they can 'drop' a file on here */
#panel_images .dropzone	{
	font-size:.9em;
	width:75px;
	height:75px;
	}

#panel_images .skusImagesContainer .dropzone	{
	font-size:.65em;
	width:45px;
	height:45px;
	}



/* applied to the ul's around each list of images */
#panel_images .sortableImagery	{
	margin:0;
	padding:0 20px;
	display: inline-block;
	}



#panel_images .sortableImagery a	{cursor: default;}
#panel_images .sortableImagery li {
	background: white;
	display: inline;
	float: left;
	margin: 6px;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	position:relative;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	}

#panel_images .sortableImagery img { 
	display: block; 
	width: inherit; 
	}

/*

#panel_images .sortableImagery li:nth-child(2n)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
#panel_images .sortableImagery li:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}
#panel_images .sortableImagery li:nth-child(4n)
{
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
}
#panel_images .sortableImagery li:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}*/