
.productEditorContainer	{width:100%;}
.productEditorContainer td	{vertical-align:top;}

.mainColContent	{width:80%; padding:0 24px; }
.productEditorContainer .leftColNav 	{padding:0 24px; border-right:1px solid #cccccc;}


/* used in the left column */
#prodLeftCol ul, #prodLeftCol li	{list-style:none; margin:0; padding:0;}
#prodLeftCol li	{margin-left:10px;}
#prodLeftCol li a	{padding:3px 0; display:block;}

#panelContents_general textarea	{width:80%;} /* override brians cols='80' */

/* panel specific styles */

.prodEditGeneralPanelLeftCol	{width:1%; padding-right:12px;}


@media screen and (max-width: 1180px) {
/* optional classes to put on same container that has labelsAsBreaks. Will make labels into a column and input into another, horizontally lined up. */
	#panel_general .alignedLabels label span	{display:block; width:100%;}
	#panel_general .alignedInputs textarea,
	#panel_general .alignedInputs input[type=email],
	#panel_general .alignedInputs input[type=text]	{width:100%;}
	}



/* tab for left side of screen after leaving order list mode */

#productListTab 	{position:fixed; left:0px; top:120px;  z-index:500; }
#productListTab .positionRelative	{width:400px;}
/* positioning and text rotation was barfing. so only the span within the tab is rotated */
#productListTab .tab	{
	position:absolute; cursor:pointer; z-index:510; 
	text-align:center;
	width:20px;
	height:120px;
	top:10px;
	right:-30px; /* positioning takes into account there's some padding */
	text-indent:6px;
	}

#productListTab .tab span	{
	display:block; /* block required for rotation, at least in FF.  */
	-webkit-transform: rotate(90deg);/* Safari */
	-moz-transform: rotate(90deg);/* Firefox */
	-ms-transform: rotate(90deg);/* IE */
	-o-transform: rotate(90deg);/* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	/* Internet Explorer */	
	}
#productListTab .productContainer	{overflow:auto; width:400px; height:300px;}
#productListTab table	{font-size:.75em; width:100%;}