body {line-height: 1;} /* helps to reduce some errant whitespace issues */

body	{margin:0; padding:0; background:#f1f1f1; } 
body, html	{font-size:100%; font-family:Tahoma, Geneva, sans-serif; color:#565656;height:100%; margin:0; padding:0;} /* height is for showLoading on body */

img {border:0px;}


/*
items that are floated may cause their containers to 'shrink'. apply this class to the container
class can also be applied to a 1 item per row list.
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}

.floatLeft	{float:left;}
.floatRight	{float:right;}
.clearBoth	{clear:both;}

.alignRight	{text-align:right;}
.alignLeft	{text-align:left;}
.alignCenter	{text-align:center;}


.valignTop	{vertical-align:top;}
.valignMiddle	{vertical-align:middle;}


.displayNone, .debug, .showForZoovyOnly, .showForAnyCommerceOnly	{display:none;}
.isZoovy .showForZoovyOnly, .isAnyCommerce .showForAnyCommerceOnly	{display:inherit;}

/* for use on lists where no bullets, indents, etc are needed. add on ul */
/* .plainList	{margin:0; padding:0; list-style:none;} - deprecated. use list classes below */


/* for small buttons */
.smallButton .ui-button-text	{line-height:normal !important; font-size:.85em;} /* don't mess with padding. will effect icon buttons */

.ui-selectee	{cursor:pointer;}

.appMessage P	{padding:0; margin:0;} /* used in app messaging for warnings, alerts, successes, etc */
.zMessage	{margin:6px; 0}


.ui-accordion .ui-accordion-header	{padding-left:30px;}

a, .lookLikeLink	{cursor:pointer; color:#7398a5;} /* apply to text that has an onClick but needs to look like an href. override ui style which isn't as noticeable. */
a:hover, .lookLikeLink:hover	{text-decoration:underline; color:#000000;}
.pointer	{cursor:pointer;} /* apply to anything that is clickable via an onClick. */





/* text styling */




/*section or page header. There should only be one of these per page and it should be at the very top.*/
h1	{font-size: 1.4em;  margin: 0px 0px 15px 0px;}

/* used for the heading of section of text blocks each with it's own sub heading.
must be followed by 2+ h3's. can be directly followed by a P ONLY if it is introductory text, followed by a series of h3's */
h2	{font-size: 1.3em; margin: 0px 0px 6px 0px;}

/* used for a subsection of a text block.  Should be preceded by a h2, though not necessarily immediately.
should be followed by a P , TABLE or LIST. */
h3	{font-size: 1.2em; margin: 0px 0px 3px 0px; font-weight: bold;}

/* used in lists to denote sections.  For instance, to separate DIV's in layouts and emails */
h4	{font-size: 1.1em; margin: 0px 0px 3px 0px; font-weight: bold;}

h5,h6	{font-size: 1em; margin: 0px 0px 3px 0px; font-weight: bold;}
/* if you want to display a hint or tip, give it the hint class */


.hint, .helper	{font-size:.75em;} /* NOTE - 'hint' is reserved. change these to help as you come across them */








/* some positioning classes */

.positionRelative	{position:relative;}
.positionAbsolute	{position:absolute;}
.positionTop	{top:0;}
.positionRight	{right:0;}
.positionLeft	{left:0;}
.positionBottom	{bottom:0;}


/*
Generic text styles
*/
.lineThrough	{text-decoration:line-through}
.uppercase	{text-transform:uppercase;}
.spacedLetters	{letter-spacing:.6em;}

/* use these to indicate severity, where red is the highest alert state and green is the 'everything is dandy' state. */
.red		{color:#660000;}
.orange	{color:#F60;}
.yellow	{color:#CC0;}
.blue	{color:#000066;}
.green	{color:#006600;}

.smallTxt	{font-size:.75em;}

/*
some global padding and margins.
As often as practical, use margin or padding of 12px; this will give the UI a consistent look and feel.
If more is needed, jump up in increments of 12.
If less is needed, use increments of 4
*/

.noPadOrMargin	{padding:0; margin:0;}


/*
MARGIN CLASSES
some standard margins that can be used for spacing between elements.
In general, rule of thumb would be to apply bottom margin to stacked elements, not top. That way if the element order changes, there's no alignment issues on top.
if extra spacing is needed between two elements, add a leftmargin to the right element and rightmargin to the left element. doubles the margin.
using these shared margins will help make the UI more consistent.
*/

.marginLeft	{margin-left:12px;}
.marginRight	{margin-right:12px;}
.marginTop	{margin-top:12px;}
.marginBottom	{margin-bottom:12px;}

.paddingRight	{padding-right:12px;} /* used to create space between horizontally listed spans, among other things */

.stdMargin	{margin:12px;}
.stdPadding	{padding:12px;}
.smallPadding	{padding:4px;}
.ui-widget-header-padding	{padding:3px 6px;}
section.marginBottom	{margin-bottom:36px;} /* use on a section tag to divide portions of the page. */


/* 
LIST CLASSES
apply liststylenone and nopadormargin to the UL to get an inline list.
if you want the list responsive, apply the .fluidList class. 
 -> In this case, you want a separate class to specify height and width of each LI to maintain a grid. ex: .mediaLib li	{...}
*/
.listStyleNone, .listStyleNone li	{list-style:none;} /* apply to a ul or ol */
.fluidList li	{float:left; margin:12px; padding:0; display:inline-block;}




/* some generic styles for tables */

/* use paddedTable when you have a table where you need some small spacing between each td col and row */
.paddedTable td, .paddedTable th, .paddedTable tf	{padding:2px 10px 2px 0;}

/* for non-datagrid tables. ex: setup page. */
table.stdCellSpacing	{border-spacing: 12px; border-collapse: separate;} 

table.fullWidth, iframe.fullWidth	{width:100%;}
iframe.noBorders	{overflow:hidden; border:none;}

iframe.ad-300x250	{height:250px;}

/*
Use this in a table where you want clear separation between rows and cells. This includes color differntiation in the rows. you don't need padded table set.
*/
.gridTable	{background:#cccccc; border-spacing:0 1px;}
.gridTable td, .gridTable th, .gridTable tf	{padding:2px 10px 2px 2px; vertical-align:top;}
.gridTable tr:nth-child(odd)	{background:#ffffff;}
.gridTable tr:nth-child(even)	{background:#f0f0f0;}

.gridTable tr.ui-state-highlight	{background: inherit !important;}
.gridTable tr.ui-state-highlight	{background: inherit !important;}

.gridTable th, .gridTable .tf	{background:#cccccc;}




/* a global 'handle' class for now. for consistency. 
later if more variety is needed, we can either create exceptions or more rules to handle all cases.
*/
.finderProdlistContainer .handle	{position: absolute; right: 0; top: 0; bottom: 0;background: #f8f8f8; padding:14px 6px 0 6px;}
.handle { padding:6px; cursor:pointer; }

.simpleListItem .removeProd, .simpleListItem .handle	{padding-top:3px;} /* less padding on top because lineitem is shorter (no image) */



/* loading classes. do NOT change class name. change styling as needed */
.loadingBG	{background:url(images/loading.gif) no-repeat center center  !important; min-height:30px; min-width:115px;}
li.loadingBG, tr.loadingBG	{background:url(images/wait.gif) no-repeat center center  !important; min-height:25px; min-width:25px;}

.wait	{display:inline-block; background:url(images/small_wait.gif) no-repeat center center  !important; min-height:16px; min-width:16px;}


/* This gets applied to the parent containers around each tabs content area.  */
.tabContent	{margin:0px auto; padding:12px 0; font-size:90%; width:96%; min-height:200px;} /* min height so showLoading always shows in full. should reduce jitter some too */



/* multipage controls */


/* a border is added via another class on the mpheader, so this strips off all but the bottom */
.mpControls	{clear:both; display:block; padding:3px; position:relative; margin-bottom:6px; z-index:600;}
.mpControls span.ui-state-active	{padding: 2px 3px;}
.finderProdlistContainer .mpControls	{border:0; border-bottom-width:1px; line-height:24px;}


/* use this in combo with ui-widget, ui-corner-all and ui-widget-content to create a horizontal bar of buttons with a container around them. */
.ui-widget-buttonbar	{padding:3px 1px;} /* only 1 px on sides because button margin will add 2px */
.ui-widget-buttonbar button	{margin:0 2px;}

.ui-widget fieldset	{margin:0; padding:0; border:0;}
.ui-widget h1  {font-size:1.6em; color:#000000; font-weight:bold; 	margin: 0; padding: 0;} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
.ui-widget h2	{font-size:1.4em; font-weight:bold; margin: 0; padding: 0;}
.ui-widget h3, .ui-widget  legend	{font-size:1.3em; font-weight:bold; 	margin: 0; padding: 0;}
.ui-widget h4	{font-size:1.2em; font-weight:bold; margin: 0; padding: 0;}
.ui-widget h5	{font-size:1.1em; font-weight:bold; margin: 0; padding: 0;}
.ui-widget h6	{font-size:1em; font-weight:bold; margin: 0; padding: 0;}

#headerSearchFrm	{float:right;}
#headerSearchFrm legend {display:none;}
#headerSearchFrm fieldset	{text-align:right}
#headerKeywordsInput	{width:350px;}






/* css for a three column layout. will be used on dashboard and in customer editor. */

/* three column panel layout (homepage) */
.twoColumn{  
	width:49%;  
	min-height:300px;  
	float:left;  
	}  

.twoColumn.column2 {float:right;}

.twoColumn .placeholder{  
	background: #ffffff;  
	}  





.ui-widget-anypanel ul.ui-menu li	{padding:2px 6px;}



/* dual-level css menu. used for multipage 'pages' in prodlists (finder) */



/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	background:#efefef;
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	border:1px solid #cccccc;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}
	

/*

########################################################

HEADER

########################################################

*/


#mastHead	{position:relative; min-width:700px;}
#mastHead .logo	{float:left; margin-left:12px; margin-top:5px;}
#mastHead .menu	{float:right; margin-right:12px; white-space: nowrap;}
#mastHead .menu span	{display:inline;}
#mastHead .lookLikeLink	{text-decoration:underline; color:#565656;}

/*
the row with the logo and text links

NOTE - the overflow hidden on headerTop and the display inlineblock/width are to solve an errant spacing issue appearin between the two elments using these classes.
*/
.headerTop	{background:#b7b9bb; height:40px; line-height:40px; font-size:.8em; color:#565656; overflow:hidden;}
.mhTabsContainer	{background:#757779; position:relative; display:inline-block; width:100%;}



.mhTabsContainer ul	{width:100%; padding:0; margin:0; display:inline-block; position:relative; z-index:100; float:left;}
.mhTabsContainer li	{display:block; float:left; list-style:none;border-right:1px solid #ededed; width:8%; padding:1px 4px 0 4px; margin:0; font-size:.75em; position:relative; color:#ffffff; cursor:pointer;}
.mhTabsContainer li:last-child	{border-right:0px;}
.mhTabsContainer li:hover	{background:#7398a5;}
.mhTabsContainer li.active, #navTabs	{background:#c0d2d8; color:#565656;}
#navTabs a	{color: #333333;}
.mhTabsContainer .toggleArrow	{width:1%;}

.mhTabsContainer ul.showIcons .icon	{display:block; float:right;}
.mhTabsContainer ul.showIcons li	{height:55px;}
.mhTabsContainer ul.hideIcons .icon	{display:none;}
.mhTabsContainer ul.hideIcons li	{height:20px;}

.mhTabsContainer .text	{position:relative; z-index:10;}
.mhTabsContainer .icon	{background-image:url(images/tab_sprites-1000x250.png); background-repeat:no-repeat; position:absolute; bottom:0; right:0; height:55px; width:55px; z-index:9;}
.mhTabsContainer .setupTab .icon	{} /* uses default position 0,0 */
.mhTabsContainer .sitesTab .icon	{background-position: -55px 0;}
.mhTabsContainer .productsTab .icon	{background-position: -110px 0;}
.mhTabsContainer .ordersTab .icon	{background-position: -165px 0;}
.mhTabsContainer .crmTab .icon	{background-position: -220px 0;}
.mhTabsContainer .syndicationTab .icon	{background-position: -275px 0;}
.mhTabsContainer .reportsTab .icon	{background-position: -330px 0;}
.mhTabsContainer .kpiTab .icon	{background-position: -385px 0;}
.mhTabsContainer .utilitiesTab .icon	{background-position: -440px 0;}
.mhTabsContainer .supportTab .icon	{background-position: -495px 0;}


.mhTabsContainer .setupTab.active .icon	{background-position: 0px -55px;} /* uses default position 0,0 */
.mhTabsContainer .sitesTab.active .icon	{background-position: -55px -55px;}
.mhTabsContainer .productsTab.active .icon	{background-position: -110px -55px;}
.mhTabsContainer .ordersTab.active .icon	{background-position: -165px -55px;}
.mhTabsContainer .crmTab.active .icon	{background-position: -220px -55px;}
.mhTabsContainer .syndicationTab.active .icon	{background-position: -275px -55px;}
.mhTabsContainer .reportsTab.active .icon	{background-position: -330px -55px;}
.mhTabsContainer .kpiTab.active .icon	{background-position: -385px -55px;}
.mhTabsContainer .utilitiesTab.active .icon	{background-position: -440px -55px;}
.mhTabsContainer .supportTab.active .icon	{background-position: -495px -55px;}


.mhTabsContainer .messageCount	{
	color:#ffffff; font-size:12px; font-weight:normal; line-height:18px;
	display:block; position:absolute; top:-2px; right:-3px;
	z-index:110;
	height:20px; width:20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align:center;
	border:1px solid #ffffff;
	-webkit-box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, .3);
	background: #fcfcfc; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 0%, #b74040 4%, #cc0000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfcfc), color-stop(4%,#b74040), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#b74040 4%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#b74040 4%,#cc0000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#b74040 4%,#cc0000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcfcfc 0%,#b74040 4%,#cc0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cc0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}

#navTabs	{text-align:center; font-size:.75em; line-height:1.7em;}
#navTabs a	{padding:0px 12px; text-decoration:none;}
#navTabs a:hover	{text-decoration:underline;}

#breadcrumb	{border-bottom:1px solid #ededed; font-size:.8em; text-indent:12px;}

.mhTabsContainer li.messagesTab:hover, #messagesContent, .mhTabsContainer li.messagesTabActive	{background:#565656 !important;}
#messagesContent	{position:absolute; top:65px; left:0; right:0; height:200px;  z-index:99;}

@media screen and (max-width: 1000px) {
/* changing to 7% keeps list from line-wrapping. */
	.mhTabsContainer li	{width:7.5%;}
	}


.pageContentContainer	{line-height:100%;} /* compensate for the body line-height1 */




/*

########################################################

LOGIN and preView

########################################################

*/


#appPreView, #appLogin, #createAccountContainer	{font-size:1.2em; margin: auto; width:500px; position:relative; top:200px} /* top margin F's up FF and body/html 100% height */

#appLogin label	{display:block; text-align:left; margin-bottom:12px;}
#appLogin .hint	{font-size:14px;}
#appLogin legend	{display:none;}
#appLogin fieldset	{border:0; padding:0; margin:0;}


#appLogin .createAccount	{border:1px solid #006600; background:#696; color:#ffffff;}



/*

########################################################

FINDER

########################################################

*/


/*
any div that is going to be the container for a product finder should have this class.
the exception to this would be in a pad-specific environment or if opening the finder in a dialog/modal
*/

.finderContainer	{width:100%; margin:12px 0;}
.finderContainer .ui-widget-header	{padding:4px;}


.finderSearch	{border:1px solid #cccccc; width:300px;} /* search keyword input */
.finderContainer .ui-button-text-icon-secondary	{font-size:.7em} /* search button */
.finderContainer section.ui-widget-content	{border-top:0;} /* content area (below header). header has bottom border */


#finderSearchFilters fieldset	{border-bottom:1px solid #cccccc; padding-bottom:12px; margin-bottom:12px;}

/*
used in the template for a product finder.
use only variable widths, so that the finder expands proportionally depending
on it's container element.
*/
.finderTable	{width:96%; margin:0 auto;}
.finderTable	td {padding:6px; width:50%;}



/* for product lists in a finder. */

/* scrolly-div for product lists */
.finderProdlistContainer	{height:350px; overflow-y:auto; overflow-x:hidden;}

/*
parent element for list (either ol or ul)
min-height is there to make dropping easy for small/empty lists. min-height should match height of finderProdlistContainer
*/
.finderProdlist	{margin:0; padding:0; list-style:none; min-height:350px; font-size:.9em}

/*
a border is added 'on selected' so a white border is added by default to avoid 'jumping'.
the right padding is to accomodate the handle and removeProd elements.
 */
.finderProdlist li	{clear:both; margin:6px 0; position:relative; list-style:none; border:1px solid #ffffff; border-left-width:0; border-right-width:0; position:relative; background:#ffffff; min-height:40px;}
.finderProdlist li:hover	{border-color: #cccccc;}

.finderProdlist .prodThumb	{float:left; margin-right:12px;}
.finderProdlist .pid	{font-size:.8em}
.finderProdlist .prodName	{margin-right:55px;}


/*
styles for lists that are selectable
a background on the target element may require an implicit override here.
*/
.ui-selecting, .finderProdlist li.ui-selecting { background: #eee; }
.ui-selected , .finderProdlist li.ui-selected{ background: #def !important ;}
.targetList .ui-selected { background: #none; } /* add a class of targetList around any drop point so that the 'selected' background goes away */

/* if a list is selectable and sortable, add an element with a handle class */
.ui-selecting .handle { background: #ddd; }
.ui-selected .handle { background: #cde; }


.finderResults	{z-index:100;}
.removeProd	{background:#ffe7e7; position: absolute; right: 29px; top: 0; bottom: 0; padding:14px 6px 0 6px; border-right:1px solid #ffffff; cursor:pointer;}

/* the remove feature is only available on the target side */
.finderResults .removeProd	{display:none;}



/*

####################

Collapseable panel (product editor, domains)

####################


note - the parent 'stackedPanels' was to compensate for legacy/compatability content class clashing.
*/

.stackedPanels .panelContents	{border-top: none; min-height:100px;} /* panels are collapsed by default. when opened, need min-height for loading while content is obtained */
.stackedPanels .panelHeader	{margin-top:12px; padding:3px 12px;}
.stackedPanels .panelHeader span	{float:left; margin-right:6px;}

.stackedPanels	.panelContents fieldset	{border:none; margin:0; padding:10px;} /* add a little padding inside the panel */







/*

########################################################


Messaging Styles

########################################################

*/
.appMessage	{margin-bottom:12px;}
.appMessage .stdMargin {padding:5px;}

.appMessage .ui-icon	{float:left; margin-right:12px;}

/* some messages have a red bg. add a white circle around the icon in these cases. */
.ui-state-z-ise .ui-icon, .ui-state-z-error .ui-icon, .ui-state-z-debug .ui-icon	{
	background-color:#ffffff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

/*.appMessage .ui-icon-alert	{background:url(images/error-82x82.png) no-repeat; height:82px; width:82px; margin:0 10px 10px 0;} */
.appMessage .appMessageTxt	{float:left;}

.ui-state-z-message	{border:1px solid #666666; background:#efefef; color:#333333;}

.ui-state-z-ise, .ui-state-z-error	{border:1px solid #CC0000; background:#CC0000; color:#ffffff;}
.ui-state-z-debug	{border:1px solid #000000; background:#333333; color:#ffffff;}

.ui-state-z-success .success	{background:none;} /* compensates for bg image for standard.css */

.ui-icon-z-ise	{background:url(images/ise-25x22.png) no-repeat center center; width:29px; height:26px;}
.ui-icon-z-error	{background: url(images/error-25x25.png) no-repeat center center; width:29px; height:29px;}

.ui-icon-z-legacy	{background:url(images/legacy-25x22.png) no-repeat; width:25px; height:22px;}
.ui-icon-z-todo	{background: url(images/todo-25x29.png) no-repeat; width:25px; height:29px;}
.ui-icon-z-hint	{background: url(images/hint-25x25.png) no-repeat; width:25px; height:25px;}
.ui-icon-z-success	{background: url(images/success-25x25.png) no-repeat; width:25px; height:29px;}
.ui-icon-z-debug	{background: url(images/debug-25x20.png) no-repeat; width:25px; height:24px;}
.ui-icon-z-warn	{background:url(images/ise-25x22.png) no-repeat center center; width:29px; height:26px;}


.anyIcon	{background:url(images/ui_anyicon_set-612x792.png) no-repeat; width:55px; height:55px; display:inline-block;}

/* row 1 */
.anyIconFloat	{background-position:0 0;}
.anyIconTools	{background-position:-57px 0px;}
.anyIconEnvelope	{background-position:-122px 0px;}
.anyIconHeart	{background-position:-185px 0px;}
.anyIconHeartAdd	{background-position:-250px 0px;}
.anyIconDownload	{background-position:-315px 0px;}
.anyIconGears	{background-position:-378px 0px;}
.anyIconCertificate	{background-position:-438px 0px;}

/* row 2 */
.anyIconNetwork	{background-position:0 -60px;}
.anyIconPage	{background-position:-57px -60px;}
.anyIconBookmark	{background-position:-122px -60px;}
.anyIconChain	{background-position:-185px -60px;}
.anyIconMagGlass	{background-position:-250px -60px;}
.anyIconPlusSign	{background-position:-315px -60px;}
.anyIconI	{background-position:-378px -60px;}
.anyIconMinusSign	{background-position:-438px -60px;}

/* row 3 */



/* row 5 */
.anyIconVertArrows	{background-position:0 -280px;}
.anyIconHorArrows	{background-position:-57px -280px;}


/* row 6 */
.anyIconMug	{background-position:0 -342px;}
.anyIconComputer	{background-position:-438px -342px;}


/*

########################################################


SHARED CLASSES FOR INLINE EDITING

########################################################

*/



.editable	{} /* empty class, but reserved. used w/ jeditable. added to any element that will be editable, once enabled. */
/*
added to an editable element once edit is enabled.
inline block and width are added so that elements that are empty will be more obviously editable.
be sure to put a title on any element that is editable, for usability (hints to use on an empty field)
the :before and :after handle the crop (for lack of a better word) lines on the top left and bottom right corners.
*/
.editEnabled	{display:inline-block; min-width:50px; position:relative; padding:0px; margin:2px; min-height:12px;} 
.editEnabled input	{border:0; padding:0; margin:0;}
.editEnabled:before	{content:''; width:8px; height:8px; position:absolute; border-left:1px solid #cccccc; border-top:1px solid #cccccc; top:-2px; left:-2px;}
.editEnabled:after	{content:''; width:8px; height:8px; position:absolute; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; bottom:-2px; right:-2px;}

.edited	{background:#FFCC99; border-color:#FFCC66;} /* used once a field is edited, but before changes are saved. */
a.editTextLink, .editTextLink	{font-size:11px; color:#0066FF;}




/*

########################################################


PAGE STYLES

########################################################

*/



/* styles for csv import pages */
.page section	{display:block; padding:0; margin:0 0 24px 0}
.page fieldset	{border:none; padding:0; margin-bottom:12px;}


/*

########################################################


DEBUGGER

########################################################

*/

#debugPanel	{position:fixed; bottom:0; right:0; left:0; height:125px; border:1px solid #cccccc;}
#debugPanel .debugContent	{position:relative; z-index:10; padding:12px;}
#debugPanel .debugBG	{
	height:125px;
	z-index:1;
	position:absolute; top:0; bottom:0; left:0; right:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
	}







/*

########################################################


SHARED FORM STYLES

########################################################

*/


/*
for use in forms where the label is the row container.
put the prompt into a span
<label><span>prompt</span>input</label>
*/
.labelsAsBreaks label, .labelsAsBreaks div.label	{display:block; margin:6px 0; vertical-align:top;}
.labelsAsBreaks label span:first-of-type	{padding-right:12px; display:inline-block; vertical-align:top;}

/* 
within a labelAsBreaks, if a row of inputs is needed, add a div with class label and clearfix around it and an h4 as the header. 
add floatleft to each label inside the div
see shipping panel in product editor for example
*/

.labelsAsBreaks div.label h4	{margin:0; padding-right:24px; float:left; width:160px;}
.labelsAsBreaks div.label label	{ margin:0 12px 0 0;}

/* optional classes to put on same container that has labelsAsBreaks. Will make labels into a column and input into another, horizontally lined up. */
.alignedLabels label span:first-of-type	{width:30%;}
.alignedInputs textarea,
.alignedInputs input[type=email],
.alignedInputs input[type=url],
.alignedInputs input[type=password],
.alignedInputs input[type=text]	{width:65%;}

.alignedInputs input[type=number], 
.alignedInputs select	{max-width:65%;} /* shrink to fit widest option, but stay under threshold */






/* landing page (aka recent news) */

/* .pageLanding .ui-widget-content	{max-height:400px; overflow:auto; min-height:75px;} /* if/when browsers support it, check out  overflow-style */

.pageLanding .ui-anypanel-header .ui-button	{display:none;} /* temporarily disabled buttons till state is supported */

/* three column panel layout (homepage) */
#dashboardColumn1	{width:65%; float:left;}
#dashboardColumn2	{width:33%; float:right;}

#dashboardColumn2 .varImage	{max-width:300px; width:100%;}

.recentNewsContainer	{height:450px; overflow:auto;}
.recentNewsContainer article	{margin-bottom:24px;}

/* achievements page */
table.achievementList	{width:60%; margin:0 auto; border-spacing: 0px; border-collapse: collapse;}
.achievementList td	{vertical-align:top;border-bottom:1px solid #efefef; padding:6px 12px;}
.achievementList p	{font-size:1em; margin:0px;}
.achievementList h3	{font-size:1.5em; font-weight:normal; font-family: 'PT Sans', sans-serif;}


/* ebay reports page */
.ebayListingsReportPage fieldset.oneThird	{width:30%}



/* help documentation styles */

.helpDoc h1	{margin-bottom:12px;} /* document title */
.helpDoc h2	{margin-bottom:4px;} /* title for each article (used to be SECTION) */
.helpDoc article {margin-bottom:12px; padding-bottom:12px; border-bottom:1px solid #efefef;}



/*
http://codepad.co/s/7cca38#select
some pad (more or less)specific styles.
*/
@media screen and (max-width: 1024px) {
	.domainList li {padding:0 4px;}
	}


@media screen and (max-width: 800px) {
	.twoColumn{  
		width:100%;
		clear:both;
		}  
	
	.twoColumn.column2 {clear:both;}

	}
