/*
items that are floated may cause their containers to 'shrink'. apply this class to the container
class can also be applied to a 1 item per row list.
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}

.floatLeft	{float:left;}
.floatRight	{float:right;}
.clearBoth	{clear:both;}

.alignRight	{text-align:right;}
.alignLeft	{text-align:left;}
.alignCenter	{text-align:center;}

.displayNone	{display:none;}

/* for use on lists where no bullets, indents, etc are needed. add on ul */
.plainList	{margin:0; padding:0; list-style:none;}

button.ui-button	{padding:2px 4px;} /* some default padding to add breathing room when text-only isn't used. keeps button small. */
button.ui-button-text	{padding:2px 4px;} /*jqueryui uses a lot of spans for buttons. i like buttons. this is to handle padding on text only buttons */
.ui-selectee	{cursor:pointer;}

.appMessage P	{padding:0; margin:0;} /* used in app messaging for warnings, alerts, successes, etc */
.zMessage	{margin:6px; 0}


.ui-accordion .ui-accordion-header	{padding-left:30px;}

.lookLikeLink	{cursor:pointer; color:#0066CC;}
.pointer	{cursor:pointer;}


.editable	{} /* empty class, but reserved. used w/ jeditable. added to any element that will be editable, once enabled. */
/*
added to an editable element once edit is enabled.
inline block and width are added so that elements that are empty will be more obviously editable.
be sure to put a title on any element that is editable, for usability (hints to use on an empty field)
the :before and :after handle the crop (for lack of a better word) lines on the top left and bottom right corners.
*/
.editEnabled	{display:inline-block; min-width:50px; position:relative; padding:0px; margin:2px;} 
.editEnabled input	{border:0; padding:0; margin:0;}
.editEnabled:before	{content:''; width:8px; height:8px; position:absolute; border-left:1px solid #cccccc; border-top:1px solid #cccccc; top:-2px; left:-2px;}
.editEnabled:after	{content:''; width:8px; height:8px; position:absolute; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; bottom:-2px; right:-2px;}

.edited	{background:#FFCC99; border-color:#FFCC66;} /* used once a field is edited, but before changes are saved. */
a.editTextLink, .editTextLink	{font-size:11px; color:#0066FF;}




/* some generic styles for tables */

/* use paddedTable when you have a table where you need some small spacing between each td col and row */
.paddedTable td, .paddedTable th, .paddedTable tf	{padding:2px 10px 2px 0;}

/* Use this in a table where you want clear separation between rows and cells. This includes color differntiation in the rows. you don't need padded table set. */
.gridTable	{background:#cccccc; border-spacing:0 1px;}
.gridTable td, .gridTable th, .gridTable tf	{padding:2px 10px 2px 2px; vertical-align:top;}
.gridTable tr:nth-child(odd)	{background:#ffffff;}
.gridTable tr:nth-child(even)	{background:#f0f0f0;}
.gridTable th, .gridTable .tf	{background:#cccccc;}






/* a global 'handle' class for now. for consistency. 
later if more variety is needed, we can either create exceptions or more rules to handle all cases.
*/
.handle { background: #f8f8f8; position: absolute; right: 0; top: 0; bottom: 0; padding:14px 6px 0 6px; cursor:pointer; }

.simpleListItem .removeProd, .simpleListItem .handle	{padding-top:3px;} /* less padding on top because lineitem is shorter (no image) */



/* loading classes. do NOT change class name. change styling as needed */
.loadingBG	{background:url(images/loading.gif) no-repeat center center  !important; min-height:100px; min-width:100px;}
li.loadingBG	{background:url(images/wait.gif) no-repeat center center  !important; min-height:25px; min-width:25px;}


/* multipage controls */


/* a border is added via another class on the mpheader, so this strips off all but the bottom */
.mpControls	{clear:both; display:block; padding:3px; position:relative; margin-bottom:6px; z-index:600;}
.mpControls span.ui-state-active	{padding: 2px 3px;}
.finderProdlistContainer .mpControls	{border:0; border-bottom-width:1px; line-height:24px;}





.ui-widget fieldset	{margin:0; padding:0; border:0;}
.ui-widget h1  {font-size:1.6em; color:#000000; font-weight:bold; 	margin: 0; padding: 0;} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
.ui-widget h2	{font-size:1.4em; color:#333333; font-weight:bold; 	margin: 0; padding: 0;}
.ui-widget h3, .ui-widget  legend	{font-size:1.3em; color:#616161; font-weight:bold; 	margin: 0; padding: 0;}
.ui-widget h4	{font-size:1.2em; color:#666666; font-weight:bold; 	margin: 0; padding: 0;}
.ui-widget h5	{font-size:1.1em; color:#666666; font-weight:bold; 	margin: 0; padding: 0;}
.ui-widget h6	{font-size:1em; color:#666666; font-weight:bold; 	margin: 0; padding: 0;}

#headerSearchFrm	{float:right;}
#headerSearchFrm legend {display:none;}
#headerSearchFrm fieldset	{text-align:right}
#headerKeywordsInput	{width:350px;}




/* dual-level css menu. used for multipage 'pages' in prodlists (finder) */



/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	background:#efefef;
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	border:1px solid #cccccc;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}
	




/*

########################################################

FINDER

########################################################

*/


/*
any div that is going to be the container for a product finder should have this class.
the exception to this would be in a pad-specific environment or if opening the finder in a dialog/modal
*/

.finderContainer	{width:100%; margin:12px 0;}
.finderContainer .ui-widget-header	{padding:4px;}


.finderSearch	{border:1px solid #cccccc; width:300px;} /* search keyword input */
.finderContainer .ui-button-text-icon-secondary	{font-size:.7em} /* search button */
.finderContainer section.ui-widget-content	{border-top:0;} /* content area (below header). header has bottom border */


#finderSearchFilters fieldset	{border-bottom:1px solid #cccccc; padding-bottom:12px; margin-bottom:12px;}

/*
used in the template for a product finder.
use only variable widths, so that the finder expands proportionally depending
on it's container element.
*/
.finderTable	{width:96%; margin:0 auto;}
.finderTable	td {padding:6px; width:50%;}



/* for product lists in a finder. */

/* scrolly-div for product lists */
.finderProdlistContainer	{height:350px; overflow-y:auto; overflow-x:hidden;}

/*
parent element for list (either ol or ul)
min-height is there to make dropping easy for small/empty lists. min-height should match height of finderProdlistContainer
*/
.finderProdlist	{margin:0; padding:0; list-style:none; min-height:350px; font-size:.9em}

/*
a border is added 'on selected' so a white border is added by default to avoid 'jumping'.
the right padding is to accomodate the handle and removeProd elements.
 */
.finderProdlist li	{clear:both; margin:6px 0; position:relative; list-style:none; border:1px solid #ffffff; border-left-width:0; border-right-width:0; position:relative; background:#ffffff; min-height:40px;}
.finderProdlist li:hover	{border-color: #cccccc;}

.finderProdlist .prodThumb	{float:left; margin-right:12px;}
.finderProdlist .pid	{font-size:.8em}
.finderProdlist .prodName	{margin-right:55px;}


/*
styles for lists that are selectable
a background on the target element may require an implicit override here.
*/
.ui-selecting, .finderProdlist li.ui-selecting { background: #eee; }
.ui-selected , .finderProdlist li.ui-selected{ background: #def; !important }
.targetList .ui-selected { background: #none; } /* add a class of targetList around any drop point so that the 'selected' background goes away */

/* if a list is selectable and sortable, add an element with a handle class */
.ui-selecting .handle { background: #ddd; }
.ui-selected .handle { background: #cde; }


.finderResults	{z-index:100;}
.removeProd	{background:#ffe7e7; position: absolute; right: 29px; top: 0; bottom: 0; padding:14px 6px 0 6px; border-right:1px solid #ffffff; cursor:pointer;}

/* the remove feature is only available on the target side */
.finderResults .removeProd	{display:none;}



/*

########################################################


Messaging Styles

########################################################

*/
.appMessage	{margin-bottom:12px;}
.appMessage .stdMargin {padding:5px;}

.appMessage .ui-icon	{float:left; margin-right:12px;}
/* some messages have a red bg. add a white circle around the icon in these cases. */
.ui-state-z-ise .ui-icon, .ui-state-z-error .ui-icon	{
	background-color:#ffffff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

/*.appMessage .ui-icon-alert	{background:url(images/error-82x82.png) no-repeat; height:82px; width:82px; margin:0 10px 10px 0;} */
.appMessage .appMessageTxt	{float:left;}

.ui-state-z-message	{border:1px solid #666666; background:#efefef; color:#333333;}

.ui-state-z-ise, .ui-state-z-error	{border:1px solid #CC0000; background:#CC0000; color:#ffffff;}

.ui-state-z-success .success	{background:none;} /* compensates for bg image for standard.css */

.ui-icon-z-ise	{background:url(images/ise-25x22.png) no-repeat center center; width:29px; height:26px;}
.ui-icon-z-error	{background: url(images/error-25x25.png) no-repeat center center; width:29px; height:29px;}

.ui-icon-z-legacy	{background:url(images/legacy-25x22.png) no-repeat; width:25px; height:22px;}
.ui-icon-z-todo	{background: url(images/todo-25x29.png) no-repeat; width:25px; height:29px;}
.ui-icon-z-hint	{background: url(images/hint-25x25.png) no-repeat; width:25px; height:25px;}
.ui-icon-z-success	{background: url(images/success-25x25.png) no-repeat; width:25px; height:29px;}



/*

########################################################


SHARED CLASSES FOR INLINE EDITING

########################################################

*/
