
.trainer .questionGroup	{margin-bottom:24px;}

.trainer .floatedSubgroup	{margin-right:48px; float:left;}

.trainer .staticContent	{float:left;}
.trainer .dynamicContent	{float:right;}
.trainer .dynamicContent, .trainer .staticContent	{padding:12px; width:49%;}

.trainer .contentContainer	{display:block;}

.trainer .navAndArticles	{height:125px; border-top-width:0;}
.trainer .articles	{width:80%; float:left; overflow:auto; max-height:130px;}
.trainer .navigation	{width:20%; float:right; text-align:right;}
.trainer .navigation button	{margin:12px 12px 0 0;}

.trainer .article	{height:90px; width:120px; float:left; overflow:hidden; margin:12px; position:relative;}

.trainerArticleVideo .videoThumbnail	{position:absolute; top:0; left:0;}
.trainerArticleVideo .videoAttribs	{
	position:absolute; bottom:0; left:0; right:0; 
	background:#ffffff; 
	font-size:.85em; 
	-moz-opacity: 0.70;
	opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	}

.trainerArticleVideo .videoAttribs h5, .trainerArticleVideo .videoAttribs h6	{font-weight:normal; color:#000000;}


.is_not_boss .hideForNotBoss	{display:none;}