



/* turns of the detail column in the roles table while editing due to space constraints. */
.ui-widget-anypanel .roleDetail	{display:none;}

/* will hide the expand/collapse button for a panel when in list mode */
.collapsed .ui-button-anypanel-toggle	{display:none;}

ul.ulAsCSV 	{margin:0; padding:0; list-style:none;}
.ulAsCSV li	{margin:0; padding:0; float:left;}
.ulAsCSV li:after	{content:", "}
.ulAsCSV li:last-child:after	{content:""}