/* not currently used */

@font-face {
	font-family: "iconFont";
	src: url('fonts/iconFont.eot');
	src: url('fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('fonts/iconFont.svg#iconFont') format('svg'), url('fonts/iconFont.woff') format('woff'), url('fonts/iconFont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
/* launchpad.css references this font too. change there if font-family changes */
.iconFont	{
	font-family: "iconFont";
	font-weight: normal;
	font-style: normal;
	}


.focon-home:before {content: "\e000";}
.focon-newspaper:before {content: "\e001";}
.focon-pencil:before {content: "\e002";}
.focon-droplet:before {content: "\e003";}
.focon-pictures:before {content: "\e004";}
.focon-camera:before {content: "\e005";}
.focon-music:before {content: "\e006";}
.focon-film:before {content: "\e007";}
.focon-camera-2:before {content: "\e008";}
.focon-spades:before {content: "\e009";}
.focon-clubs:before {content: "\e00a";}
.focon-diamonds:before {content: "\e00b";}
.focon-broadcast:before {content: "\e00c";}
.focon-mic:before {content: "\e00d";}
.focon-book:before {content: "\e00e";}
.focon-file:before {content: "\e00f";}
.focon-new:before {content: "\e010";}
.focon-copy:before {content: "\e011";}
.focon-folder:before {content: "\e012";}
.focon-folder-2:before {content: "\e013";}
.focon-tag:before {content: "\e014";}
.focon-cart:before {content: "\e015";}
.focon-basket:before {content: "\e016";}
.focon-calculate:before {content: "\e017";}
.focon-support:before {content: "\e018";}
.focon-phone:before {content: "\e019";}
.focon-mail:before {content: "\e01a";}
.focon-location:before {content: "\e01b";}
.focon-compass:before {content: "\e01c";}
.focon-history:before {content: "\e01d";}
.focon-clock:before {content: "\e01e";}
.focon-bell:before {content: "\e01f";}
.focon-calendar:before {content: "\e020";}
.focon-printer:before {content: "\e021";}
.focon-mouse:before {content: "\e022";}
.focon-screen:before {content: "\e023";}
.focon-laptop:before {content: "\e024";}
.focon-mobile:before {content: "\e025";}
.focon-cabinet:before {content: "\e026";}
.focon-drawer:before {content: "\e027";}
.focon-drawer-2:before {content: "\e028";}
.focon-box:before {content: "\e029";}
.focon-box-add:before {content: "\e02a";}
.focon-box-remove:before {content: "\e02b";}
.focon-download:before {content: "\e02c";}
.focon-upload:before {content: "\e02d";}
.focon-database:before {content: "\e02e";}
.focon-flip:before {content: "\e02f";}
.focon-flip-2:before {content: "\e030";}
.focon-undo:before {content: "\e031";}
.focon-redo:before {content: "\e032";}
.focon-forward:before {content: "\e033";}
.focon-reply:before {content: "\e034";}
.focon-reply-2:before {content: "\e035";}
.focon-comments:before {content: "\e036";}
.focon-comments-2:before {content: "\e037";}
.focon-comments-3:before {content: "\e038";}
.focon-comments-4:before {content: "\e039";}
.focon-comments-5:before {content: "\e03a";}
.focon-user:before {content: "\e03b";}
.focon-user-2:before {content: "\e03c";}
.focon-user-3:before {content: "\e03d";}
.focon-busy:before {content: "\e03e";}
.focon-loading:before {content: "\e03f";}
.focon-loading-2:before {content: "\e040";}
.focon-search:before {content: "\e041";}
.focon-zoom-in:before {content: "\e042";}
.focon-zoom-out:before {content: "\e043";}
.focon-key:before {content: "\e044";}
.focon-key-2:before {content: "\e045";}
.focon-locked:before {content: "\e046";}
.focon-unlocked:before {content: "\e047";}
.focon-wrench:before {content: "\e048";}
.focon-equalizer:before {content: "\e049";}
.focon-cog:before {content: "\e04a";}
.focon-pie:before {content: "\e04b";}
.focon-bars:before {content: "\e04c";}
.focon-stats-up:before {content: "\e04d";}
.focon-gift:before {content: "\e04e";}
.focon-trophy:before {content: "\e04f";}
.focon-diamond:before {content: "\e050";}
.focon-coffee:before {content: "\e051";}
.focon-rocket:before {content: "\e052";}
.focon-meter-slow:before {content: "\e053";}
.focon-meter-medium:before {content: "\e054";}
.focon-meter-fast:before {content: "\e055";}
.focon-dashboard:before {content: "\e056";}
.focon-fire:before {content: "\e057";}
.focon-lab:before {content: "\e058";}
.focon-remove:before {content: "\e059";}
.focon-briefcase:before {content: "\e05a";}
.focon-briefcase-2:before {content: "\e05b";}
.focon-cars:before {content: "\e05c";}
.focon-bus:before {content: "\e05d";}
.focon-cube:before {content: "\e05e";}
.focon-cube-2:before {content: "\e05f";}
.focon-puzzle:before {content: "\e060";}
.focon-glasses:before {content: "\e061";}
.focon-glasses-2:before {content: "\e062";}
.focon-accessibility:before {content: "\e063";}
.focon-accessibility-2:before {content: "\e064";}
.focon-target:before {content: "\e065";}
.focon-target-2:before {content: "\e066";}
.focon-lightning:before {content: "\e067";}
.focon-power:before {content: "\e068";}
.focon-power-2:before {content: "\e069";}
.focon-clipboard:before {content: "\e06a";}
.focon-clipboard-2:before {content: "\e06b";}
.focon-playlist:before {content: "\e06c";}
.focon-grid-view:before {content: "\e06d";}
.focon-tree-view:before {content: "\e06e";}
.focon-cloud:before {content: "\e06f";}
.focon-cloud-2:before {content: "\e070";}
.focon-download-2:before {content: "\e071";}
.focon-upload-2:before {content: "\e072";}
.focon-upload-3:before {content: "\e073";}
.focon-link:before {content: "\e074";}
.focon-link-2:before {content: "\e075";}
.focon-flag:before {content: "\e076";}
.focon-flag-2:before {content: "\e077";}
.focon-attachment:before {content: "\e078";}
.focon-eye:before {content: "\e079";}
.focon-bookmark:before {content: "\e07a";}
.focon-bookmark-2:before {content: "\e07b";}
.focon-star:before {content: "\e07c";}
.focon-star-2:before {content: "\e07d";}
.focon-star-3:before {content: "\e07e";}
.focon-heart:before {content: "\e07f";}
.focon-heart-2:before {content: "\e080";}
.focon-thumbs-up:before {content: "\e081";}
.focon-thumbs-down:before {content: "\e082";}
.focon-plus:before {content: "\e083";}
.focon-minus:before {content: "\e084";}
.focon-help:before {content: "\e085";}
.focon-help-2:before {content: "\e086";}
.focon-blocked:before {content: "\e087";}
.focon-cancel:before {content: "\e088";}
.focon-cancel-2:before {content: "\e089";}
.focon-checkmark:before {content: "\e08a";}
.focon-minus-2:before {content: "\e08b";}
.focon-plus-2:before {content: "\e08c";}
.focon-enter:before {content: "\e08d";}
.focon-exit:before {content: "\e08e";}
.focon-loop:before {content: "\e08f";}
.focon-arrow-up-left:before {content: "\e090";}
.focon-arrow-up:before {content: "\e091";}
.focon-arrow-up-right:before {content: "\e092";}
.focon-arrow-right:before {content: "\e093";}
.focon-arrow-down-right:before {content: "\e094";}
.focon-arrow-down:before {content: "\e095";}
.focon-arrow-down-left:before {content: "\e096";}
.focon-arrow-left:before {content: "\e097";}
.focon-arrow-up-2:before {content: "\e098";}
.focon-arrow-right-2:before {content: "\e099";}
.focon-arrow-down-2:before {content: "\e09a";}
.focon-arrow-left-2:before {content: "\e09b";}
.focon-arrow-up-3:before {content: "\e09c";}
.focon-arrow-right-3:before {content: "\e09d";}
.focon-arrow-down-3:before {content: "\e09e";}
.focon-arrow-left-3:before {content: "\e09f";}
.focon-menu:before {content: "\e0a0";}
.focon-enter-2:before {content: "\e0a1";}
.focon-backspace:before {content: "\e0a2";}
.focon-backspace-2:before {content: "\e0a3";}
.focon-tab:before {content: "\e0a4";}
.focon-tab-2:before {content: "\e0a5";}
.focon-checkbox:before {content: "\e0a6";}
.focon-checkbox-unchecked:before {content: "\e0a7";}
.focon-checkbox-partial:before {content: "\e0a8";}
.focon-radio-checked:before {content: "\e0a9";}
.focon-radio-unchecked:before {content: "\e0aa";}
.focon-font:before {content: "\e0ab";}
.focon-paragraph-left:before {content: "\e0ac";}
.focon-paragraph-center:before {content: "\e0ad";}
.focon-paragraph-right:before {content: "\e0ae";}
.focon-paragraph-justify:before {content: "\e0af";}
.focon-left-to-right:before {content: "\e0b0";}
.focon-right-to-left:before {content: "\e0b1";}
.focon-share:before {content: "\e0b2";}
.focon-new-tab:before {content: "\e0b3";}
.focon-new-tab-2:before {content: "\e0b4";}
.focon-embed:before {content: "\e0b5";}
.focon-code:before {content: "\e0b6";}
.focon-bluetooth:before {content: "\e0b7";}
.focon-share-2:before {content: "\e0b8";}
.focon-share-3:before {content: "\e0b9";}
.focon-mail-2:before {content: "\e0ba";}
.focon-google:before {content: "\e0bb";}
.focon-google-plus:before {content: "\e0bc";}
.focon-google-drive:before {content: "\e0bd";}
.focon-facebook:before {content: "\e0be";}
.focon-instagram:before {content: "\e0bf";}
.focon-twitter:before {content: "\e0c0";}
.focon-feed:before {content: "\e0c1";}
.focon-youtube:before {content: "\e0c2";}
.focon-vimeo:before {content: "\e0c3";}
.focon-flickr:before {content: "\e0c4";}
.focon-picassa:before {content: "\e0c5";}
.focon-dribbble:before {content: "\e0c6";}
.focon-deviantart:before {content: "\e0c7";}
.focon-github:before {content: "\e0c8";}
.focon-github-2:before {content: "\e0c9";}
.focon-github-3:before {content: "\e0ca";}
.focon-github-4:before {content: "\e0cb";}
.focon-github-5:before {content: "\e0cc";}
.focon-git:before {content: "\e0cd";}
.focon-github-6:before {content: "\e0ce";}
.focon-wordpress:before {content: "\e0cf";}
.focon-joomla:before {content: "\e0d0";}
.focon-blogger:before {content: "\e0d1";}
.focon-tumblr:before {content: "\e0d2";}
.focon-yahoo:before {content: "\e0d3";}
.focon-amazon:before {content: "\e0d4";}
.focon-tux:before {content: "\e0d5";}
.focon-apple:before {content: "\e0d6";}
.focon-finder:before {content: "\e0d7";}
.focon-android:before {content: "\e0d8";}
.focon-windows:before {content: "\e0d9";}
.focon-soundcloud:before {content: "\e0da";}
.focon-skype:before {content: "\e0db";}
.focon-reddit:before {content: "\e0dc";}
.focon-linkedin:before {content: "\e0dd";}
.focon-lastfm:before {content: "\e0de";}
.focon-delicious:before {content: "\e0df";}
.focon-stumbleupon:before {content: "\e0e0";}
.focon-pinterest:before {content: "\e0e1";}
.focon-xing:before {content: "\e0e2";}
.focon-flattr:before {content: "\e0e3";}
.focon-foursquare:before {content: "\e0e4";}
.focon-paypal:before {content: "\e0e5";}
.focon-yelp:before {content: "\e0e6";}
.focon-libreoffice:before {content: "\e0e7";}
.focon-file-pdf:before {content: "\e0e8";}
.focon-file-openoffice:before {content: "\e0e9";}
.focon-file-word:before {content: "\e0ea";}
.focon-file-excel:before {content: "\e0eb";}
.focon-file-powerpoint:before {content: "\e0ec";}
.focon-file-zip:before {content: "\e0ed";}
.focon-file-xml:before {content: "\e0ee";}
.focon-file-css:before {content: "\e0ef";}
.focon-html5:before {content: "\e0f0";}
.focon-html5-2:before {content: "\e0f1";}
.focon-css3:before {content: "\e0f2";}
.focon-chrome:before {content: "\e0f3";}
.focon-firefox:before {content: "\e0f4";}
.focon-IE:before {content: "\e0f5";}
.focon-opera:before {content: "\e0f6";}
.focon-safari:before {content: "\e0f7";}
.focon-IcoMoon:before {content: "\e0f8";}
.focon-sunrise:before {content: "\e0f9";}
.focon-sun:before {content: "\e0fa";}
.focon-moon:before {content: "\e0fb";}
.focon-sun-2:before {content: "\e0fc";}
.focon-windy:before {content: "\e0fd";}
.focon-wind:before {content: "\e0fe";}
.focon-snowflake:before {content: "\e0ff";}
.focon-cloudy:before {content: "\e100";}
.focon-cloud-3:before {content: "\e101";}
.focon-weather:before {content: "\e102";}
.focon-weather-2:before {content: "\e103";}
.focon-weather-3:before {content: "\e104";}
.focon-lines:before {content: "\e105";}
.focon-cloud-4:before {content: "\e106";}
.focon-lightning-2:before {content: "\e107";}
.focon-lightning-3:before {content: "\e108";}
.focon-rainy:before {content: "\e109";}
.focon-rainy-2:before {content: "\e10a";}
.focon-windy-2:before {content: "\e10b";}
.focon-windy-3:before {content: "\e10c";}
.focon-snowy:before {content: "\e10d";}
.focon-snowy-2:before {content: "\e10e";}
.focon-snowy-3:before {content: "\e10f";}
.focon-weather-4:before {content: "\e110";}
.focon-cloudy-2:before {content: "\e111";}
.focon-cloud-5:before {content: "\e112";}
.focon-lightning-4:before {content: "\e113";}
.focon-sun-3:before {content: "\e114";}
.focon-moon-2:before {content: "\e115";}
.focon-cloudy-3:before {content: "\e116";}
.focon-cloud-6:before {content: "\e117";}
.focon-cloud-7:before {content: "\e118";}
.focon-lightning-5:before {content: "\e119";}
.focon-rainy-3:before {content: "\e11a";}
.focon-rainy-4:before {content: "\e11b";}
.focon-windy-4:before {content: "\e11c";}
.focon-windy-5:before {content: "\e11d";}
.focon-snowy-4:before {content: "\e11e";}
.focon-snowy-5:before {content: "\e11f";}
.focon-weather-5:before {content: "\e120";}
.focon-cloudy-4:before {content: "\e121";}
.focon-lightning-6:before {content: "\e122";}
.focon-thermometer:before {content: "\e123";}
.focon-compass-2:before {content: "\e124";}
.focon-none:before {content: "\e125";}
.focon-Celsius:before {content: "\e126";}
.focon-Fahrenheit:before {content: "\e127";}
.focon-forrst:before {content: "\e128";}
.focon-headphones:before {content: "\e129";}
.focon-bug:before {content: "\e12a";}
.focon-cart-2:before {content: "\e12b";}
.focon-earth:before {content: "\e12c";}
.focon-battery:before {content: "\e12d";}
.focon-list:before {content: "\e12e";}
.focon-grid:before {content: "\e12f";}
.focon-alarm:before {content: "\e130";}
.focon-location-2:before {content: "\e131";}
.focon-pointer:before {content: "\e132";}
.focon-diary:before {content: "\e133";}
.focon-eye-2:before {content: "\e134";}
.focon-console:before {content: "\e135";}
.focon-location-3:before {content: "\e136";}
.focon-move:before {content: "\e137";}
.focon-gift-2:before {content: "\e138";}
.focon-monitor:before {content: "\e139";}
.focon-mobile-2:before {content: "\e13a";}
.focon-switch:before {content: "\e13b";}
.focon-star-4:before {content: "\e13c";}
.focon-address-book:before {content: "\e13d";}
.focon-shit:before {content: "\e13e";}
.focon-cone:before {content: "\e13f";}
.focon-credit-card:before {content: "\e140";}
.focon-type:before {content: "\e141";}
.focon-volume:before {content: "\e142";}
.focon-volume-2:before {content: "\e143";}
.focon-locked-2:before {content: "\e144";}
.focon-warning:before {content: "\e145";}
.focon-info:before {content: "\e146";}
.focon-filter:before {content: "\e147";}
.focon-bookmark-3:before {content: "\e148";}
.focon-bookmark-4:before {content: "\e149";}
.focon-stats:before {content: "\e14a";}
.focon-compass-3:before {content: "\e14b";}
.focon-keyboard:before {content: "\e14c";}
.focon-award-fill:before {content: "\e14d";}
.focon-award-stroke:before {content: "\e14e";}
.focon-beaker-alt:before {content: "\e14f";}
.focon-beaker:before {content: "\e150";}
.focon-move-vertical:before {content: "\e151";}
.focon-move-horizontal:before {content: "\e153";}
.focon-steering-wheel:before {content: "\e152";}
.focon-volume-3:before {content: "\e154";}
.focon-volume-mute:before {content: "\e155";}
.focon-play:before {content: "\e156";}
.focon-pause:before {content: "\e157";}
.focon-stop:before {content: "\e158";}
.focon-eject:before {content: "\e159";}
.focon-first:before {content: "\e15a";}
.focon-last:before {content: "\e15b";}
.focon-play-alt:before {content: "\e15c";}
.focon-battery-empty:before {content: "\e15d";}
.focon-battery-half:before {content: "\e15e";}
.focon-battery-full:before {content: "\e15f";}
.focon-battery-charging:before {content: "\e160";}
.focon-left-quote:before {content: "\e161";}
.focon-right-quote:before {content: "\e162";}
.focon-left-quote-alt:before {content: "\e163";}
.focon-right-quote-alt:before {content: "\e164";}
.focon-smiley:before {content: "\e165";}
.focon-umbrella:before {content: "\e166";}
.focon-info-2:before {content: "\e167";}
.focon-chart-alt:before {content: "\e168";}
.focon-save:before {content: "\e169";}


