/* THE GOAL IS TO GET RID OF THIS FILE */


#loading { display:none; position:fixed; left:0; top:0; width:100%; height:100%; background-image:url("/biz/kpi/images/loading.gif"); }




/* ##### TEXT STYLES ##### */

/* used to add a 'file' icon next to a link. good for pdf's and downloads */
a.file	{background:url(/biz/images/trial/file_icon-17x17.png) no-repeat; padding:2px 18px 3px 22px; display:inline-block;}


/* b {color:#666666;} */


/* used to align groups of horizontal buttons. A div with zbutton_group should be placed around the buttons. see syndication for examples */
div.zbutton_group	{text-align:right;}


/* used in sitebuilder for category picture placeholder. */
.navcatThumbnailImagePlaceholder	{background:url(images/camera_icon-26x21.gif) no-repeat; text-decoration:none; line-height:21px;}


/* 'link selected' is used where you have a list of links and, once one is clicked, the selected link needs to highlight.
An example of this would be in the sitebuilder when a layout or email template has DIV's present   */
.link	{font-size: 9pt;}
.link_selected	{color:#FFFFFF; font-size:9pt; font-weight:bold;}
.link_selected:hover	{color:#FFFFFF;}

td.link	{padding-bottom:2px; padding-left: 5px;}
td.link_selected	{padding:2px; padding-left: 5px; background-color:#3366CC;}


/* ## END TEXT STYLES ## */



/* ##### HR STYLES ##### */

/* any horizontal rule ( HR ) in the system should have the ruler class applied to it. */
.ruler	{color:#CCCCCC; height:1px;}

/* ## END HR STYLES ## */







/* ##### FORM STYLES ##### */




/* button should be used when there is a group of buttons next to each other.  
Vertical lists of buttons should all have the same width. */

.button, .button2, .savebutton	{
	padding: .2em 1em;
	border:1px solid #b0c3cb;
	background:#c0d2d8 url(images/ui-bg_glass_100_c0d2d8_1x400.png) 50% 50% repeat-x;
	font-weight:normal;
	color:#21444f;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	cursor:pointer;
	}

/*button2 should be used when a button is all by its lonesome
if a group of buttons is present nearby, but this button stands alone, it still gets the button2 class
see product editor for examples.

.button2, .savebutton	{
	padding: .2em 1em;
	font-weight:normal;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	cursor:pointer;	
	border:1px solid #fcefa1;
	background:#ffffea url(images/ui-bg_glass_55_ffffea_1x400.png) 50% 50% repeat-x;
	color:#565656
	}

 */
.button:hover, .button2:hover, .savebutton:hover, .minibutton:hover	{
	border:1px solid #12303a;
	background:#254751 url(images/ui-bg_glass_75_254751_1x400.png) 50% 50% repeat-x;
	color:#fff;
	}


/* a mini button is something which is typically used on a table row, often there will be many, and they are infrequently used.. */
.minibutton	{
	padding: .1em .5em;
	font-size:.85em;
	border:1px solid #b0c3cb;
	background:#c0d2d8 url(images/ui-bg_glass_100_c0d2d8_1x400.png) 50% 50% repeat-x;
	font-weight:normal;
	color:#21444f;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	cursor:pointer;	
	}


/* ## END FORM STYLES ## */




/* ## STYLES Specific to the FLEXEDITOR ## */



/* specific to flexedit. This is a platform for testing the styles. If we like, we can deploy globally */

.flexeditor	{font-size:12px;} /* default font size for text */

/* default styling for all textareas, select lists and flextextbox text inputs (class) */
.flexeditor .flextextbox, .flexeditor textarea, .flexeditor select {
	border:1px solid #cccccc;
	padding:3px 3px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
/*	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px; */
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #f9f9f9), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #FFFFFF, #f9f9f9 1px, #FFFFFF 25px); 
	margin-bottom:3px;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	-moz-box-sizing: content-box;

	}

/* will be applied when a field is in focus. only works in FF.  */
.flexeditor textarea:focus, .flexeditor .flextextbox:focus, .flexeditor select:focus	{
	border:1px solid #f2b93e; /* 99bbe8 */
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  	
	background: -webkit-gradient(linear, left top, left 25, from(#fffaee), color-stop(4%, #f3c869), to(#fffaee));  
	background: -moz-linear-gradient(top, #fffaee, #f3c869 1px, #fffaee 25px); 
/* blue instead of yellow:
	background: -webkit-gradient(linear, left top, left 25, from(#ebf4ff), color-stop(4%, #dae6f4), to(#ebf4ff));  
	background: -moz-linear-gradient(top, #ebf4ff, #dae6f4 1px, #ebf4ff 25px); 
*/	
	}


.flextextarea {width:95%; line-height:22px;} /* use as much space as safely available */
.flextextbox {}


.flexeditor .hint	{
	font-size:10px; 
	padding:3px 2px 3px 32px; 
	background:url(/biz/images/general/icons/pencil-20x18.png) no-repeat; 
	min-height:18px; 
	color:#666666;
	}



.flexeditor .zoovysub2header	{background:#e6e6e6 url(images/ui-bg_glass_100_f5f5f5_1x400.png) 50% 50% repeat-x; color:#565656;}



/* ## END FLEXEDITOR STYLES ## */




/* ##### TABLE STYLES ##### */

/* used for navcat drop down.  also used in setup for section header background colors */
.navcat_Z { background-color: #ffd9a7; color: #333333; border: 1px solid #efc080; }
.navcat_0 { background-color: #a6cdf7; color: #333333; border: 1px solid #CCCCCC; }
.navcat_1 { background-color: #b9d7f8; color: #333333; border: 1px solid #CCCCCC; }
.navcat_2 { background-color: #cae1fa; color: #333333; border: 1px solid #CCCCCC; }
.navcat_3 { background-color: #daebfc; color: #333333; border: 1px solid #CCCCCC; }
.navcat_4 { background-color: #f2f7fe; color: #333333; border: 1px solid #CCCCCC; }
.navcat_5 { background-color: #ffffff; color: #333333; border: 1px solid #CCCCCC; }
 

/* These styles should be used anytime you need to create a border on a cell or table.
use left, right, etc for a border on a single side.
these are used in the product editor to create lines and headers */


/* the divider class was set to match the same as navcat_0, which seems to be the first editable panel color (navcat editor) */

.divider {background:url(/biz/images/divider_bluefade_bkground.jpg) repeat-y; }
.border_top { border-top:#dedede 1px solid;}
.border_right { border-right:#dedede 1px solid;}
.border_bottom { border-bottom:#dedede 1px solid;}
.border_left { border-left:#dedede 1px solid;}
.border-gray {border:#dedede 1px solid;}


/* zoovytable is the outer fixed (non-scrollable table) 
zoovytableheader is header in scrollable table (headers are separate table to accomodate scrollbar)
zoovytableframe is a "scrollable frame" inside each tr is r1/r0/rs/rx, and each td is 'cell'
*/


.zoovytable { vertical-align: top; text-align:left; font-family:Arial, Helvetica, sans-serif;  border:1px solid #b0c3cb; margin-bottom:12px; background:#ffffff; border-collapse:collapse; }

/* if this ends up looking like ass, remove the background attribute and change it to background:#d7ecff; */
.zoovytableheader { padding: 3px 3px 3px 5px; background:#e6e6e6 url(images/ui-bg_glass_100_f5f5f5_1x400.png) 50% 50% repeat-x; color:#565656;}

.zoovysub1header { padding: 2px 0px 3px 5px; font-family: sans-serif; color:#555555; background-color:#b0c3cb; border:none; font-size:8pt; font-weight:bold; }

/* this is used in the product editor. I don't know where else.  in flexedit, it's used for the prompts. */
.zoovysub2header { padding: 2px 0px 3px 5px; font-family: sans-serif; color:#555555; background-color:#cae1fa; border:none; font-size:8pt; font-weight:bold; }

.zoovytableframe { overflow:auto; height:100px; border:none; }


/* alternating row colors for td. always start with r0 */

.r1 { color:#565656; background-color: #f5f5f5;  }
.r0 { color:#565656; background-color: #FFFFFF;  }
.rx { color:#565656; background-color: #FFCC66;  }  /* added by B. not sure for what */
.rs { color:#565656; background-color: #FFCCCC;  }  /* Row Selected */

/* ## END TABLE STYLES ## */



/* USED IN KPI */

div.leftnav {margin-bottom:12px; margin-right:12px;}

div.leftnav .selected a	{
	border:1px solid #c8cacb;background:#f5f5f5 url(images/ui-bg_glass_100_f5f5f5_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#565656; /* ui-state-active */
	}

div.leftnav a	{
	border:1px solid #b0c3cb;background:#c0d2d8 url(images/ui-bg_glass_100_c0d2d8_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#21444f; /* ui-state-default */
	text-decoration:none; 
	margin-bottom:3px;
	padding:3px;
	display:block;
	}

div.leftnav a:hover	{
	border:1px solid #12303a;background:#254751 url(images/ui-bg_glass_75_254751_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#fff /* ui-state-hover */	
	}



div.box			{
	border:1px solid #c8cacb;
	background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color:#565656;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	
	margin-bottom:12px;
	} /* ui-widget-content */

div.box_header	{
	border:1px solid #c8cacb;background:#cccccc url(images/ui-bg_glass_100_e6e6e6_1x400.png) 50% 50% repeat-x;color:#565656;font-weight:bold;
	padding:2px 6px;
	-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;-khtml-border-top-right-radius:8px;border-top-right-radius:8px;
	-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;-khtml-border-top-left-radius:8px;border-top-left-radius:8px;
	} /* ui-widget-header */
div.box_body	{padding:12px; background:#ffffff; color:#565656;}




/* #####  UI STYLES - DO NOT CHANGE ##### */



/* THis grey is used for the login text at the top and splitters in the upper right corner.  ## MAY ALSO BE USED IN THE UI ITSELF ##*/
.gray {color:#828282;}


/* ##  END UI STYLES ## */









/* #####  This stuff is either depricated, i don't know what it is, or I haven't gotten to yet. #####

.small	{font-size: 8pt;}
 */
 
/* this is used in the setup page */
.big_link	{font-size: 12pt; font-weight: bold;}


.table_stroke	{border-style: solid; border-width: 1px; border-color: #3366CC;}
.table_head	{background-color: #C5D5FC;}
.table_top	{background-color: #C5D5FC;}
.header	{color: #555555; font-size: 10pt; font-weight: bold;}

.table_outline	{border:1px solid #3366CC; background-color:#3366CC;}
.table_colhead	{background-color:#C5D5FC;}
.text_heading	{color:#555555; font-size:11pt; font-weight:bold;}
.text_colhead	{color:#555555; font-size:10pt; font-weight:bold;}
.table_bg0		{background-color:#FFFFFF;}	/* rows are numbered 0-1 NOT 1-2 !!!!!  */
.table_bg1		{background-color:#B8CBF1;}
.table_bg2		{background-color:#FFFFFF;}

.bold	{font-weight:bold;}
.white	{color: #ffffff;}

.success	{color: #000066; font-weight: bold;}
.alert	{color: #FF0000; font-weight: bold;}

.light	{background-color: #B8CBF1;}
.white_bg	{background-color: #FFFFFF;}
.lgrey	{ background-color: #F2F2F2;}

.warning	{background-color: #F5E5CD;}
.yeehaw	{background-color: #B9D1B9;}
.captainibs	{background-color: #E0B7B7;}

.yellow_bg	{background-color: #FFCC33;}
.item_on	{background-color: #f0f0f0;}
.item_off	{background-color: #ffffff;}
.column	{background-image: url('/biz/images/tabs/column.gif')}

.hint_header { width: 100%;}

.navtext { width:150px; font-family:  verdana, arial, sans serif; font-size:8pt; border-width:2px; border-style:outset; border-color:darkgray; layer-background-color:#99CCFF; background-color:#99CCFF; color:black; }

/* 
	subtitle0 should be used on a div below an href to explain what it is about, text only, no links, etc.
	subtitle1 should be used on a div below an href, where no padding is wanted, use subtitle_margin to manually add padding. )
	subtitle1_margin -- see subtitle1
*/
.subtitle0 { font-size: 7pt; line-height: 9pt; margin-bottom: 10px; margin-top: 2px; }
.subtitle1 { font-size: 7pt; line-height: 9pt; margin-bottom: 6px; margin-top: 2px;}
.subtitle1_margin { margin-bottom: 10px; }

/* jordan 12/16/05 - used for product editor - the rest that were here have been moved into the table section. */
.margin {margin:4px;}

.gray {color:#828282;}
.blue {color:#6479A5;}









/*
header tabs and on-hover styles  - added on 1/6/2010 for the new header. The styles from the header that was worked on last year in Dec. can be found in the 20100105 standard.css backup.

These styles can probably be removed if we implement the extjs header.

*/




#sublinks	{background:url(/biz/images/header/ui_backgrounds-180x400.gif) repeat-x right -93px; height:31px; top:-1px; position:relative; z-index:10;}


#sublinks a.header_sublink	{padding: 0 10px; background:url(/biz/images/header/ui_backgrounds-180x400.gif) no-repeat right -176px;}
#sublinks a, #sublinks a span	{line-height:28px; display:block; text-decoration:none; font-size:11px;  float:left;}


#sublinks a.header_sublink_active span, #sublinks a.header_sublink_active:hover span	{background:url(/biz/images/header/ui_backgrounds-180x400.gif) no-repeat left -210px; padding-left:10px;}
#sublinks a.header_sublink_active, #sublinks a.header_sublink_active a:hover	{background:url(/biz/images/header/ui_backgrounds-180x400.gif) no-repeat right -210px; padding-right:10px; padding-left:0; color:#ffffff;}


#sublinks a.header_sublink:hover span	{background:url(/biz/images/header/ui_backgrounds-180x400.gif) no-repeat left -247px; padding-left:10px;}
#sublinks a.header_sublink:hover	{background:url(/biz/images/header/ui_backgrounds-180x400.gif) no-repeat right -247px; padding-left:0;}


#menu.menu_alert	{color:#990000; text-decoration:blink; Shadow(Color=#ffffff, Direction=135, Strength=1); }


/* Form fields */
/*
form.stdform {
	background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 800px;
	}
*/
form.stdform fieldset { border: none; margin-bottom: 10px;  }
form.stdform fieldset:last-of-type { margin-bottom: 0;  }

form.stdform legend  { padding: 3px 3px 3px 5px; background:url(/biz/images/header/ui_backgrounds-180x400.gif) repeat-x right -353px ; color:#595959; border:none; font-size:12px; font-weight:bold; } 
form.stdform > fieldset > legend:before { content: "Step " counter(fieldsets) ": "; counter-increment: fieldsets;  }
form.stdform fieldset fieldset legend { color: #111111; font-size: 13px; font-weight: normal;  padding-bottom: 0;  } 
form.stdform ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
	}
form.stdform ol ol li {
	background: none;
	border: none;
	float: left;
	}
form.stdform label {
	float: left;
	font-size: 13px;
	width: 110px;
	}
form.stdform fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
	}
form.stdform fieldset fieldset label:hover {
	cursor: pointer;
	}
form.stdform input:not([type=radio]),
form.stdform textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
	}
form.stdform input:not([type=submit]):focus,
form.stdform textarea:focus {
	background: #eaeaea;
	}
form.stdform input[type=radio] {
	float: left;
	margin-right: 5px;
	}



